.dmg_4x3_colorPicker {    
    //background-position: 5px 5px;
    //background-repeat: no-repeat;
    background-color:#ffffff;
    padding: 1em;
}

.dmg_4x3_colorPicker .switch {
    position: absolute;
    border: 1px solid red;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}

.dmg_4x3_colorPicker .preview {
    width: 4em;
    height: 14em;
    margin-top: 5em;
}

.dmg_4x3_colorPicker .colorpicker {
    margin-top; -4em;
    width: 75%%;
    float: right;
}

.dmg_4x3_colorPicker .colorpicker_off {
    margin-top; -4em;
    width: 75%%;
    float: right;
    background: url(wheel_off.png) no-repeat;
    width: 195px;
    height: 195px;
}
