# This config file is used by some Domogik scripts.
# You must tune it and then put it in /etc/domogik/domogik.cfg

###
# This is the Domogik global section
###

[domogik]
# The directory in which resources : packages (plugins, widgets, etc) will be installed.
# It will be created during first package installation.
libraries_path = /var/lib/domogik/

# The directory in which log files will be created
# It must exists and be writable by the Domogik user
# Default : /var/log/domogik/
log_dir_path = /var/log/domogik/

# This directory will contains pid files of started plugins.
# They are used to stop the process by killing it
pid_dir_path = /var/run/domogik/

# Debug levels are debug, info, warning, error, critical
log_level = debug

# info about the values
# https://docs.python.org/2/library/logging.handlers.html#timedrotatingfilehandler
log_when = D
log_interval = 1
log_backup_count = 10

# This parameter defines which interface the Domogik xPL plugins should listen for xPL
# If you have only one computer to run the Domogik installation (of course,
# the one used to browse the interface is not important), you can set it
# on 'lo', so that xPL won't polute your network. If you use more than
# one computer, you have to set it to your public interface, for example 'eth0'
# Using '*' as value will use :
# - lo if this is the only interface available
# - the first interface found which is not 'lo' if you have several interfaces available
bind_interface = lo

# Don't touch it unless you really know what you are doing
broadcast = 255.255.255.255

###
# Database section
###
[database]
# This parameter defines the database type. Can be one of : mysql, postgresql
# You should first create the database when using mysql or postgresql
# computing statistics.
type = mysql
user = domogik
password = domopass
port = 3306
name = domogik
host = 127.0.0.1
# This is the prefix used in database. All tables will start by it. Do *not*
# modify it unless you really know what you are doing
prefix = core

# In case you get some "OperationalError: MySQL server has gone away" errors,
# you may need to adapt this value to your mysql configuration.
#pool_recycle = 3600

# port used by internal memory db cache system
portcache = 50001

###
# Admin interface
###
[admin]
# Admin is the component that handles 2 things:
# 1- the admin UI
# 2- the rest inetrface
# its a HTTP server. Following parameters will indicate REST on which
# ip:port it will run
# * means that it will be available on all network interfaces
#interfaces = eth0,lo
#interfaces = eth0
#interfaces = *
interfaces = lo
port = 40406
http_workers_number = 2
ws_port = 40405
# set to True if you want to use rest with ssl (https://....)
use_ssl = False
# if rest_use_ssl = True, set here path for ssl certificate/key
ssl_certificate =
ssl_key =
# if set to True, this will result in a nicely formatted json
clean_json = False
# if set to True, all the /rest/ urls need basic authentication
rest_auth = False
# A secret key used as a salt for the session storage
secret_key =

###
# Butler configuration
###
[butler]
name = Aria
lang = fr_FR
# male/female
sex = female


###
# Backup configuration
###
[backup]
folder=/var/lib/domogik/backup/


###
# Metrics configuration
###

[metrics]

# The metrics are some data sent by Domogik to an online server. Except if you change the id below, the data are anonymous.
# The informations sent are :
# - technical informations about each Domogik process : cpu and memory usage, ...

# the id is generated during Domogik installation based on some system properties. It should be unique. You can freely change its value to something more fun like your github username for example ;)
id =

# this is the url on which the metrics are sent. Don't change this value!
url = http://metrics.domogik.org/
