{% extends "layouts/global.html" %}

{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}
{% load i18n %}

{% block global_css %}
<link href="/design/common/css/layout.with_nav.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/layout.content.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/ui-buttons.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/dmg.login.css" rel="stylesheet" type="text/css" />    
{% endblock %}

{% block global_js_include %}
<script type="text/javascript" src="/design/common/js/dmg.icons.js"></script>
<script type="text/javascript" src="/design/common/js/dmg.login.js"></script>
{% endblock %}

{% block body %}
    <header id="mainheader">
        <a href="{% url index_view %}" id="logo"><img src="/design/common/images/logo_domogik.png" alt="Domogik logo" /></a>
        <div id="title">{% trans "Welcome to Domogik" %} <span id="subtitle">{% trans "Free home automation under Linux" %}</span> </div>
    </header>
    <nav id="nav1">
        <ul>
            <li><a href="{% url view_index_view %}" class="{{ nav1_show }}">{% trans "Visualization" %}<span class='description'>{% trans "View, Control your house" %}</span></a></li>
            <li><a href="{% url admin_index_view %}" class="{% if not is_user_connected %}admin_required {% endif %}{{ nav1_admin }}">{% trans "Administration" %}<span class='description'>{% trans "Configure, Manage" %}</span></a></li>
            <li class='help'><a href="http://wiki.domogik.org/tiki-index.php?page=EndUserDocumentation&bl=y" target='_blank'>{% trans "Help" %}<span class='description'>{% trans "External Wiki page" %}</span></a></li>
        </ul>
    </nav>
    <div id="content-bgnd"> 
        {% block content %}{% endblock %}
    </div>
{% endblock %}