{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />

<link rel="icon shortcut" type="image/png" href="/design/common/images/favicon.png" />

<link href="/design/common/css/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>
<link href="/design/common/css/jquery.jgrowl.css" rel="stylesheet" type="text/css"/>
<link href="/design/common/css/ui.general.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/ui-icons.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/dmg.notifications.css" rel="stylesheet" type="text/css" />

{% block global_css %}{% endblock %}
{% block css %}{% endblock %}
<script type="text/javascript">  
    var rest_url = "{{ rest_url }}"; 
</script> 
<script type="text/javascript" src="/design/common/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/design/common/js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="/design/common/js/jquery.qtip-1.0.0-rc3.min.js"></script>
<script type="text/javascript" src="/design/common/js/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/design/common/js/jquery.jsonp-2.1.2.min.js"></script>
<script type="text/javascript" src="/design/common/js/jquery.ui.subclass.js"></script>
<script type="text/javascript" src="/design/common/js/main.js"></script>
<script type="text/javascript" src="/design/common/js/dmg.rest.js"></script>
<script type="text/javascript" src="/design/common/js/dmg.notifications.js"></script>
<script type="text/javascript" src="/design/common/js/dmg.browser.js"></script>

{% block global_js_include %}{% endblock %}
{% block js_include %}{% endblock %}
<script type="text/javascript">
    // <![CDATA[
    {% block js_script %}{% endblock %}
    $(function(){
        {% for message in page_messages %}
        $.notification("{{message.status}}", "{{message.msg}}");
        {% endfor %}
    });
    // ]]>
</script>
<title>{% block title %}Domogik{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
    <footer>Copyright 2011 Domogik project - GNU/GPL v3 license</footer>
</body>
</html>
