syntax: glob
.svn
*.orig
*.rej
.DS_Store
:2e*
.Apple*
.AppleDouble/
.AppleDesktop/
.AppleDB/
*.pyc
*.pyoeggs/*
eggs
.installed.cfg
src/Domogik.egg-info/
develop-eggs/
db.sqlite
settings_local.py
domogik.sqlite
dist/
build/
_build/*
