/*
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-12-06 17:33:18 +0100 (sam. 06 déc. 2008) $
# $LastChangedRevision: 239 $
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}

#container {
	margin: auto;
	width: 1024px; 
	background: #333333;
}

#top {
	background: #DDDDDD;
	color: #AF030A;
}

#leftBar {
	font-size: 14px;
	float: left;
	width: 200px;
	background: #333333;
}

#leftBar a {
	color: #00D2B1;
	font-weight: bold;
	text-decoration: none;
}

#leftBar a:hover {
	color: #AF030A;
	text-decoration: none;
}

#leftBar li {
	padding: 5px;
}

#content {
	float:left;
	width: 820px;
	background-color: #333333;
}

#content h1 {
	color: #00D2B1;
}

#content a {
	color: #668cc7;
}

#content .error {
	color: red;
	font-weight: bold;
}

#search fieldset legend {
	color: yellow;
	font-size:14px;
}

#search th {
	color: yellow;
}

#list table {
	border-collapse:collapse;
	border-style:solid;
	width: 100%;
}

#list th {
	color: yellow;
	border:1px solid #DDDDDD;
}

#list td {
	padding: 4px;
	vertical-align:middle;
	border:1px solid #DDDDDD;
}

table#listValue {
	border: none;
}
#listValue td {
	border: none;
}

#device {
}
#device .label {
	color: yellow;
	font-weight: bold;
	padding-right: 30px;
}
#device .value {
	font-weight: normal;
}

#adminMain fieldset legend {
	padding: 0.2em 0.5em;
	color:green;
	font-size:14px;
	font-weight: bold;
}

/*
rightBar {
	float: right;
	width: 200px;
	background: #333333;
}
*/

#bottom {
	clear: both;
	background: #DDDDDD;
	color: black;
}
