.dmg_1x1_basicSensorBoolean {    
    text-align:center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dmg_1x1_basicSensorBoolean .widget_status {
    height:14px;
    min-width:2em;
    padding:0;
    background-position: 50% 50%; 
    background-repeat: no-repeat; 
}

.dmg_1x1_basicSensorBoolean .value {
    position:absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align:center;
    width:5em;
    height:5em;
}