{% extends "base_with_nav.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author :  Cédric Trévisan <cedric@domogik.org> / Marc Schneider <marc@domogik.org>
{% endcomment %}

{% load i18n %}

{% block css %}
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-nav2.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-elements.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-forms.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="left">
        <div id="nav2">
            <div class="section"><a href="#">Gestion</a></div>
            <ul>
                <li><a href="{% url admin_management_domogik_view %}">Domogik</a></li>
                <li><a href="{% url admin_management_modules_view %}">Modules</a></li>
            </ul>
            <div class="section"><a href="#">Organisation</a></div>
            <ul>
                <li><a href="{% url admin_organisation_devices_view %}">Dispositifs</a></li>
                <li><a href="{% url admin_organisation_rooms_view %}">Pièces</a></li>
                <li><a href="{% url admin_organisation_areas_view %}">Zones</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        {% block right %}{% endblock %}
    </div>
{% endblock %}

