<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>
-->
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" href="/design/css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>
  <link href="/design/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/design/css/page-home.css" rel="stylesheet" type="text/css" />
  {% block css %}{% endblock %}
  <script type="text/javascript" src="/design/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/design/js/jquery-ui-1.7.2.custom.min.js"></script>
  {% block include_js_script %}{% endblock %}
  <script language="javascript">{% block js_script %}{% endblock %}</script>
  <title>{% block title %}Domogik{% endblock %}</title>
</head>
<body>
<div id="frame">
  <div id="header">
    <a href="/domogik" id="logo">
      <img src="/design/images/logo_domogik.png" width="131" height="37" alt="Domotik logo" />
    </a>
    <div id="title">Welcome to Domogik<span id="subtitle">Free home automation under Linux</span></div>
  </div>
  <div id="general">
    <div id="general-temp" class="sun">21&deg;C</div>
    <div id="general-datetime"><span id="general-time">10:20</span><br />
      <span id="general-date">Dimanche 27 Septembre 2009</span></div>
    <ul class="general-infos">
      <li id="general-infos-elect">150 Kw/h</li>
      <li id="general-infos-water">1,7 l/h</li>
    </ul>
    <ul class="general-infos">
      <li id="general-infos-message">1 message</li>
      <li id="general-infos-notify">2 notifications</li>
      <li id="general-infos-error">Pas d'erreur</li>
    </ul>
  </div>
  <ul id="nav1">
    <li><a href="show/index.html">Visualisation</a></li>
    <li><a href="program/index.html">Programmation</a></li>
    <li><a href="{% url admin_view %}">Administration</a></li>
    <li>
      {% if not is_user_connected %}
         <a href="{% url login_view %}">{% trans "Log in" %}</a>
      {% else %}
         {% trans "Hello" %}, {{ user.first_name }}&nbsp;&nbsp;
         <a href="{% url logout_view %}">{% trans "Log out" %}</a>
      {% endif %}
    </li>
  </ul>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <hr/><center>Copyright 2008 Domogik project - GNU/GPL v3 license</center>
  </div>
</div>
</body>
</html>
