{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>
{% endcomment %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/design/css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>
<link href="/design/css/main.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-icons.css" rel="stylesheet" type="text/css" />
{% block css %}{% endblock %}
<script type="text/javascript" src="/design/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/design/js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="/design/js/main.js"></script>
{% block include_js_script %}{% endblock %}
<script type="text/javascript">{% block js_script %}{% endblock %}</script>
<title>{% block title %}Domogik{% endblock %}</title>
</head>
<body>
<div id="frame">
  <div id="header">
    <a href="/domogik" id="logo"> <img src="/design/images/logo_domogik.png" width="131" height="37" alt="Domotik logo" /></a>
  <div id="title"> {% trans "Welcome to Domogik" %} <span id="subtitle">{% trans "Free home automation under Linux" %}</span> </div>
  </div>
  {% block banner %}{% endblock %}
  {% block nav1 %}{% endblock %}
  <div id="content"> {% block content %}{% endblock %} </div>
  <div class="footer">Copyright 2009 Domogik project - GNU/GPL v3 license</div>
</div>
</body>
</html>
