{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>
{% endcomment %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />

<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/jquery.jgrowl.css" rel="stylesheet" type="text/css"/>
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/ui.general.css" rel="stylesheet" type="text/css" />
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/layout.with_mini_nav.css" rel="stylesheet" type="text/css" />
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/layout.content.css" rel="stylesheet" type="text/css" />
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/ui-icons.css" rel="stylesheet" type="text/css" />
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/dmg.notifications.css" rel="stylesheet" type="text/css" />
{% block global_css %}{% endblock %}
{% block css %}{% endblock %}
<script type="text/javascript">  
    var rest_url = "{{ rest_url }}"; 
</script> 
<script type="text/javascript" src="/design/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/design/js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="/design/js/jquery.qtip-1.0.0-rc3.min.js"></script>
<script type="text/javascript" src="/design/js/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/design/js/jquery.jsonp-2.0.2.min.js"></script>
<script type="text/javascript" src="/design/js/main.js"></script>
<script type="text/javascript" src="/design/js/dmg.rest.js"></script>
<script type="text/javascript" src="/design/js/ui.icons.js"></script>
<script type="text/javascript" src="/design/js/dmg.notifications.js"></script>
<script type="text/javascript" src="/design/js/dmg.browser.js"></script>

{% block global_js_include %}{% endblock %}
{% block js_include %}{% endblock %}
<script type="text/javascript">
    // <![CDATA[
    $(function(){ 
        $("#mainbar").hide();
        $("li#showmenu").click(function(){
            $("#mainbar").toggle(500);        
        });
    });
    {% block js_script %}{% endblock %}
    {% if status %}
        $(function(){ 
        	$.notification("{{status}}", "{{msg}}");
        });
    {% endif %}   
    // ]]>
</script>
<title>{% block title %}Domogik{% endblock %}</title>
</head>
<body>
    <div id="mainbar">
        <nav id="nav1">
            <ul>
                <li><a href="{% url show_view %}" class="{{ nav1_show_class }}">{% trans "Visualization" %}</a></li>
                {% if is_user_connected %}
                    <!--li><a href="#">Programmation</a></li-->
                    <li><a href="{% url admin_view %}">{% trans "Administration" %}</a></li>
                {% endif %}
                <li class="login">
                    {% if not is_user_connected %}
                        <a href="{% url login_view %}">{% trans "Log in" %}</a>
                    {% else %}
                        <a href="{% url logout_view %}">{% trans "Log out" %} {{ request.session.user.first_name }}</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
	<ul class="breadcrumb">
        	<li><a href='{% url index_view %}' class='homepage'>&nbsp;<span class='offscreen'>Domogik homepage</span></a></li>
            {% block breadcrumb %}{% endblock %}
        	<li id='showmenu'><a href='#' class='icon16-action-menu'>Menu</a></li>
    </ul>
	<div id="content-bgnd">
        <div class="columnleft">
            <section id="mainsection">
                <header id="contentheader">{% block banner %}{% endblock %}</header>
                {% block contentleft %}{% endblock %}
            </section>
        </div>
        <div class="columnright">
                {% block contentright %}{% endblock %}
        </div>
        <div class='clear'></div>
	</div>
	<footer>Copyright 2010 Domogik project - GNU/GPL v3 license</footer>
</body>
</html>
