{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>
{% endcomment %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />

<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/main.css" rel="stylesheet" type="text/css" />
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/ui-icons.css" rel="stylesheet" type="text/css" />
<link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/ui-nav1.css" rel="stylesheet" type="text/css" />
{% block global_css %}{% endblock %}
{% block css %}{% endblock %}
<script type="text/javascript" src="/design/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/design/js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="/design/js/jquery.qtip-1.0.0-rc3.min.js"></script>
<script type="text/javascript" src="/design/js/main.js"></script>
<script type="text/javascript"> 
   var rest_ip = "{{ rest_ip }}";
   var rest_port = "{{ rest_port }}";
</script>
<script type="text/javascript" src="/design/js/rest.js"></script>
<script type="text/javascript" src="/design/js/ui.icons.js"></script>
{% block global_js_include %}{% endblock %}
{% block js_include %}{% endblock %}
<script type="text/javascript">
    // <![CDATA[
    {% block js_script %}{% endblock %}
    // ]]>
</script>
<title>{% block title %}Domogik{% endblock %}</title>
</head>
<body>
    <div id="header">
        <a href="/domogik" id="logo"><img src="/design/images/logo_domogik.png" width="131" height="37" alt="Domogik logo" /></a>
    <div id="title">{% trans "Welcome to Domogik" %} <span id="subtitle">{% trans "Free home automation under Linux" %}</span> </div>
    </div>
    <ul id="nav1">
        <li><a href="{% url show_view %}" class="{{ nav1_show }}">{% trans "Visualization" %}<span class='description'>{% trans "View, Control your house" %}</span></a></li>
        {% if is_user_connected %}
            <!--li><a href="#">Programmation</a></li-->
            <li><a href="{% url admin_view %}" class="{{ nav1_admin }}">{% trans "Administration" %}<span class='description'>{% trans "Configure, Manage" %}</span></a></li>
        {% endif %}
        <li class="login">
            {% if not is_user_connected %}
                <a href="{% url login_view %}">{% trans "Log in" %}<span class='description'>{% trans "Identify yourself" %}</span></a>
            {% else %}
                <a href="{% url logout_view %}">{% trans "Log out" %}<span class='description'>{% trans "Deconnect" %} {{ request.session.user.first_name }}</span></a>
            {% endif %}
        </li>
    </ul>
    <div id="content-bgnd"> 
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">Copyright 2009 Domogik project - GNU/GPL v3 license</div>
    </div>
</body>
</html>
