<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2009-02-12 11:52:36 +0100 (jeu. 12 févr. 2009) $
# $LastChangedRevision: 356 $
-->
{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <form name="deviceForm" method="POST"/>
    <div id="device">
        <table>
            <tr>
                <input type="hidden" id="id_deviceId" name="device_id" value="{{ device.id }}"/>
                <td class="label">Device</td><td class="value">{{ device.name }}</td>
            </tr>
            {% if sys_config.admin_mode %}
                <tr>
                    <td class="label">Address</td><td class="value">{{ device.address }}</td>
                </tr>
                <tr>
                    <td class="label">Reference</td><td class="value">{{ device.reference }}</td>
                </tr>
                <tr>
                    <td class="label">Technology</td><td class="value">{{ device.technology.name }}</td>
                </tr>
                <tr>
                    <td class="label">Type</td><td class="value">{{ device.type }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">Category</td><td class="value">{{ device.category.name }}</td>
            </tr>
            <tr>
                <td class="label">Room</td><td class="value">{{ device.room.name }}</td>
            </tr>
            <tr>
                <td class="label">Area</td><td class="value">{{ device.room.area.name }}</td>
            </tr>
            <tr>
                <td class="label">Value</td>
                <td class="value">
                    <table>
                        <tr>
                            <td>{% include "_inc_device_property.html" %}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p></p>
        <table>
            <tr>
                <td><input name="update" type="submit" value="Update"/></td>
                {% if device.is_resetable %}
                    <td><input name="reset" type="submit" value="Reset device"/></td>
                {% endif %}
            </tr>
        </table>

        <p>
            &raquo;&nbsp;{% if has_stats %}<a href="{% url device_stats_view device.id %}">View stats</a>{% else %}No stats{% endif %}
        </p>
    </div>
    </form>
{% endblock %}
