<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-12-13 19:11:10 +0100 (sam. 13 déc. 2008) $
# $LastChangedRevision: 271 $
-->
{% extends "base_with_admin_menu.html" %}
{% load i18n %}

{% block js_script %}
$(function(){
    // Accordion
    $("#nav2").accordion({ header: ".section", active:false});
});

        function clearStats() {
                if (confirm("Are you sure you want to clear stats ?")) {
                        document.forms['deviceStatsForm'].cmd.value = "clear_stats"
                        document.forms['deviceStatsForm'].action = "{% url device_stats_view device_id %}"
                        document.forms['deviceStatsForm'].submit()
                }
        }
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block right %}
        <div id="list" style="margin-top: 5px;">
        <form name="deviceStatsForm" method="POST" action="">
        {% if device_stats_list %}
                <table>
                        <tr>
                                <th>Date</th>
                                <th>Device</th>
                                <th>Value</th>
                                <th>Unit</th>
                        </tr>

                        {% for device_stat in device_stats_list %}
                                <tr class="{% cycle 'oddRow' 'evenRow' %}">
                                        <td>{{ device_stat.date }}</td>
                                        <td>{{ device_stat.device.name }}</td>
                                        <td>{{ device_stat.value }}</td>
                                        <td>{{ device_stat.unit }}</td>
                                </tr>
                        {% endfor %}
                </table>
                {% if is_user_admin %}
                <p></p>
                <table>
                        <tr>
                                <td><input type="button" name="clearStatsButton" onclick="clearStats()" value="Clear stats"/>
                        </tr>
                </table>
                {% endif %}
        {% else %}
                <p>No stats found !</p>
        {% endif %}
                <input type="hidden" name="cmd" value=""/>
        </form>
        </div>
{% endblock %}
