{% extends "base_with_nav.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org> / Marc Schneider <marc@domogik.org>
{% endcomment %}

{% load i18n %}

{% block title %}{% trans page_title %}{% endblock %}
{% block css %}
    <link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/ui-page-section.css" rel="stylesheet" type="text/css" />
    <link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/page-home.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
    <script type="text/javascript" src="/design/js/page-home.js"></script>
{% endblock %}
{% block js_script %}
{% endblock %}
{% block content %}
    <header id="contentheader">
        <!--div id="general-temp">
            <div class="widget">
                <div id="general-tempcurrent">9&deg;</div>
                <div id="general-templocation">Paris</div>
                <div id="general-tempmax">Max: 18&deg;</div>
                <div id="general-tempmin">Min: 7&deg;</div>
            </div>
            <img id="general-tempicon" class="icon-weather-sun" src="/design/skins/{{ request.session.user.skin_used|default:'default' }}/images/weather/sun.png" alt="Soleil"/>
        </div>
        <div id="general-datetime" class="widget">
            <span id="general-date">{% now "l j F Y" %}</span>
            <span id="general-time">{% now "H:i" %}</span>
        </div-->
        
            <h1 class="ident icon64-house-default"><span class="title">{{ house.name }}</span></h1>
            <!--ul class="general-infos">
                <li class="icon16-device-electricity">150 Kw/h</li>
                <li class="icon16-device-water">1,7 l/h</li>
            </ul>
            <ul class="general-infos">
                <li class="icon16-device-message">1 message</li>
                <li class="icon16-device-notification">2 notifications</li>
                <li class="icon16-device-error">Pas d'erreur</li>
            </ul-->
    </header>
    <dl>
    {% for area in areas_list %}
        <ul class='areaslist'>
            <li class='areaitem'>
                <a href='{% url show_area_view area.id %}' class="ident icon64-area-{{ area.config.icon }}">
                    <span class="title">{{ area.name }}</span>
                </a>
                <ul class='roomslist'>
                    {% for room in area.room %}
                        <li class='roomitem'>
                            <a href='{% url show_room_view room.id %}' class="ident icon64-room-{{ room.config.icon }}">
                                <span class="title">{{ room.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% empty %}
        <p>{% trans "No areas or rooms configured yet" %}</p>
    {% endfor %}
        </dl>
{% endblock %}
