<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org> / Marc Schneider <marc@domogik.org>
-->
{% extends "base_with_nav.html" %}
{% load i18n %}

{% block title %}{% trans page_title %}{% endblock %}
{% block css %}
  <link href="/design/css/page-home.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block banner %}
  <div id="general">
    <div id="general-temp" class="icon64-weather-clouds">21&deg;C</div>
    <div id="general-datetime"><span id="general-time">10:20</span><br />
      <span id="general-date">Dimanche 27 Septembre 2009</span></div>
    <ul class="general-infos">
      <li class="icon16-device-electricity">150 Kw/h</li>
      <li class="icon16-device-water">1,7 l/h</li>
    </ul>
    <ul class="general-infos">
      <li class="icon16-device-message">1 message</li>
      <li class="icon16-device-notification">2 notifications</li>
      <li class="icon16-device-error">Pas d'erreur</li>
    </ul>
    </div>
{% endblock %}
{% block content %}

{% endblock %}
