{% extends "base_with_nav.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org> / Marc Schneider <marc@domogik.org>
{% endcomment %}

{% load i18n %}

{% block title %}{% trans page_title %}{% endblock %}
{% block css %}
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/page-home.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block include_js_script %}
    <script type="text/javascript" src="/design/js/page-home.js"></script>
{% endblock %}
{% block banner %}
    <div id="general-temp">
        <div class="widget">
            <div id="general-tempcurrent">9&deg;</div>
            <div id="general-templocation">Paris</div>
            <div id="general-tempmax">Max: 18&deg;</div>
            <div id="general-tempmin">Min: 7&deg;</div>
        </div>
        <img id="general-tempicon" class="icon-weather-sun" src="/design/{{ request.session.user.skin_used|default:'skins/default' }}/images/weather/sun.png" alt="Soleil"/>
    </div>
    <div id="general-datetime" class="widget">
        <span id="general-date">{% now "l j F Y" %}</span>
        <span id="general-time">{% now "H:i" %}</span>
    </div>
{% endblock %}       
{% block content %}
    <div id="content">
        <div id="general">
            <ul class="general-infos">
                <li class="icon16-device-electricity">150 Kw/h</li>
                <li class="icon16-device-water">1,7 l/h</li>
            </ul>
            <ul class="general-infos">
                <li class="icon16-device-message">1 message</li>
                <li class="icon16-device-notification">2 notifications</li>
                <li class="icon16-device-error">Pas d'erreur</li>
            </ul>
        </div>
    {% for room in room_list %}
        {% if forloop.counter0|divisibleby:"3" %}
        <div class="line">
        {% endif %}
            <div class="room {% cycle 'leftcol' 'middlecol' 'rightcol' %}">
                <h2 class="room-ident icon64-room-default"><span class="room-title">{{ room.name }}</span><br />
                    <span class="room-zone icon16-area-firstfloor">{{ room.area.name }}</span>
                </h2>
                <div class="room-temp">16&deg;</div>
                <ul class="room-infos">
                    <li class="room-light">Lumi&egrave;re <span class="device-status-off icon16-status-lightoff">(off)</span></li>
                    <li class="room-shutter">Volet <span class="device-status-down icon16-status-shutterdown">(ferm&eacute;)</span></li>
                </ul>
                <ul class="room-others">
                    <li class="icon32-device-tv">T&eacute;l&eacute;vision <span class="device-status-on icon16-status-defaulton">(on)</span></li>
                </ul>
                <ul class="room-others">
                    {% regroup device_list|dictsort:"room" by room as d_list_by_room %}
                    {% for device in d_list_by_room %}
                        {% ifequal device.grouper room.id %}
                            {% for item in device.list %}
                                <li>{{ item.device.name }}</li>
                            {% endfor %}
                        {% endifequal %}
                    {% endfor %}
                </ul>
            </div>
        {% if forloop.counter0|divisibleby:"3" %}
        </div>
        {% endif %}
    {% empty %}
        <p>{% trans "No rooms configured yet" %}</p>
    {% endfor %}
    </div>
{% endblock %}
