{% extends "base_with_nav.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author :  Cédric Trévisan <cedric@domogik.org> / Marc Schneider <marc@domogik.org>
{% endcomment %}

{% load i18n %}

{% block global_css %}
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-selectmenu.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-dragdrop.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-forms.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-nav2.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-tabs.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-processing.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-status-indicators.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-page-section.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block global_js_include %}
    <script type="text/javascript" src="/design/js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="/design/js/ui.dragdrop.js"></script>
    <script type="text/javascript" src="/design/js/ui.tabs.js"></script>
    <script type="text/javascript" src="/design/js/ui.forms.js"></script>
    <script type="text/javascript" src="/design/js/ui.messages.js"></script>
    <script type="text/javascript" src="/design/js/ui.processing.js"></script>

    <script type="text/javascript" src="/design/js/page-admin.js"></script>
{% endblock %}

{% block content %}
    <div class="left">
        <div id="nav2">
            <div class="subnav2"><a href="#">{% trans "Organization" %}</a></div>
            <ul>
                <li><a href="{% url admin_organization_areas_view %}" class='{{ nav2_organization_areas }}'>{% trans "Areas" %}</a></li>
                <li><a href="{% url admin_organization_rooms_view %}" class='{{ nav2_organization_rooms }}'>{% trans "Rooms" %}</a></li>
                <!--li><a href="{% url admin_organization_devices_view %}" class='{{ nav2_organization_devices }}'>{% trans "Devices" %}</a></li-->
            </ul>
            <div class="subnav2"><a href="#">{% trans "Management" %}</a></div>
            <ul>
                <li><a href="{% url admin_management_domogik_view %}">{% trans "Database" %}</a></li>
            </ul>
            <div class="subnav2"><a href="#">{% trans "Modules" %}</a></div>
            <ul>
                {% spaceless %}
                {% for menu_module in modules_list %}
                    <li><a href="{% url admin_modules_module_view menu_module.name %}" class="icon16-module-{{ menu_module.name }} {% ifequal menu_module.name module.name %}{{ nav2_modules_module }}{% endifequal %}">{{ menu_module.description }}
                    {% ifequal menu_module.status "ON" %}
                        <div class='status icon16-status-active'></div>
                    {% else %}
                        <div class='status icon16-status-inactive'></div>                        
                    {% endifequal %}
                    </a></li>
                {% endfor %}
                {% endspaceless %}
            </ul>
        </div>
    </div>
    <div class="right">
        <div id="banner">{% block banner %}{% endblock %}</div>
        {% block right %}{% endblock %}
    </div>
{% endblock %}

