<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org> / Marc Schneider <marc@domogik.org>
-->
{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/page-login.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block include_js_script %}
    <script type="text/javascript" src="/design/js/page-login.js"></script>
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}

{% block content %}

        <h1>{% trans "Identification" %}</h1>
        {% if error_msg %}
            <p class="error_msg">{{ error_msg }}</p>
        {% endif %}
        <form name="loginForm" method="POST" action="{% url login_view %}"/>
            <div class="left">
                <h2 class="splitter">1. {% trans "Select a user" %}</h2>
                <input id="loginname" name="login" type="text" />
                <ul id="users">
                    {% for account in account_list %}
                        <li>
                            <a href="#" id="id{{ account.login }}" onclick="chooseUser('id{{ account.login }}', '{{ account.login }}');">
                                <img src="/design/{{ s_user.skin_used|default:'skins/default' }}/images/userid.jpg" alt="" width="64" height="64" />{{ account.login }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="right">
                <h2 class="splitter">2. {% trans "Enter your code" %}</h2>
                <div id="code">
                    <input id="logincode" name="password" type="password" value="" /><input name="update" type="submit" class="buttonok" value="Ok" />
                </div>
                <ul id="digits">
                    <li><a href="#" onclick="addDigit('0');">0</a></li>
                    <li><a href="#" onclick="addDigit('1');">1</a></li>
                    <li><a href="#" onclick="addDigit('2');">2</a></li>
                    <li><a href="#" onclick="addDigit('3');">3</a></li>
                    <li><a href="#" onclick="addDigit('4');">4</a></li>
                    <li><a href="#" onclick="addDigit('5');">5</a></li>
                    <li><a href="#" onclick="addDigit('6');">6</a></li>
                    <li><a href="#" onclick="addDigit('7');">7</a></li>
                    <li><a href="#" onclick="addDigit('8');">8</a></li>
                    <li><a href="#" onclick="addDigit('9');">9</a></li>
                    <li><a href="#" onclick="removeLastDigit();"><-</a></li>
                    <li><a href="#" onclick="resetDigit();">{% trans "Del." %}</a></li>
                </ul>
            </div>
        </form>

{% endblock %}
