/* Main Layout */
body {
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 1em;
}
div.left {
	float:left;
	width: 23em;
}
div.right {
	margin-left: 24em;
}
.footer {
	clear:both;
	margin-bottom:1em;
}
/* Header */
#header {
	background:url(../images/logo_domogik.png) left top no-repeat;
	padding-left:150px;
	margin-left:1em;
}

span.subtitle {
	display:block;
	font-size:0.6em;
	font-style:italic;
}
/* Nav menu */
ul#nav1 {
	list-style: none;
	position: relative;
	padding: 0.2em 0.2em 0 0.2em;
	border: #e78f08 1px solid;
	background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
	background-attachment: scroll;
	color: #ffffff;
	font-weight: bold;
}
ul#nav1 li {
	display:inline-block;
	padding:0;
}
ul#nav1 li a {
	display:inline-block;
	text-decoration:none;
	padding: 0.5em 1em 0.5em 1em;
	color:#FFF;
	background:#FFF;
	color: #1c94c4;
	border: #cccccc 1px solid;
}
ul#nav1 li a:hover, ul#nav1 li a:focus, ul#nav1 li a:active {
	color: #c77405;
	background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) repeat-x 50% 50%;
	background-attachment: scroll;
}
ul#nav1 li a.selected {
	color: #eb8f00;
}
ul#nav1 li a.selected:hover {
	color: #eb8f00;
	background:#FFF;
}
/* Left menu */
#accordion ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
#accordion li {
	margin-left: 0;
	padding-left: 0;
}
#accordion li ul {
	list-style:disc;
	padding-left:2em;
}

/* Forms */
input.button {
	border:none;
	background:#FFF;
	padding:0.2em;
	margin:0;
	border:#1c94c4 1px solid;
	font-size:1.2em;
}

input.button:hover {
	color: #c77405;
	border:#eb8f00 1px solid;
	background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) repeat-x 50% 50%;
	background-attachment: scroll;
}