@charset "UTF-8";
/* CSS Document */

.device-general {
	background:url(../images/menu_light.png) top right no-repeat;
	min-height:10em;
}

.light-infos {
	list-style:none;
	margin-left:20%;
}


.light-infos li {
	display:inline-block;
	margin:1em;
}