@charset "UTF-8";
/* CSS Document */

.element-main {
	padding:0 1em 0 1em;
}

.element-main h1 {
	float:right;
}

.element-main h2, .element h2 {
	font-style:italic;
}

.element {
	border:1px solid #1c94c4;
	margin:1em;
	padding:0 1em 0 1em;
}

/* Element General */
.element-main li {
	padding-left:20px;
}

li.general-electric {
	background:url(../images/infos_elect.png) top left no-repeat;
}

li.general-water {
	background:url(../images/infos_water.png) top left no-repeat;
}

li.general-message {
	background:url(../images/infos_message.png) top left no-repeat;
}

li.general-notify {
	background:url(../images/infos_notify.png) top left no-repeat;
}

li.general-error {
	background:url(../images/infos_error.png) top left no-repeat;
}

/* Element Meteo */
.meteo-sun {
	background:url(../images/meteo_sun.png) top right no-repeat;
}


/* Element Phone */

.on {
	padding:7px 0 7px 20px;
	background:url(../images/room_various_on.png) left 50% no-repeat;
}

.phone-summary {
	float:right;
}

table.phone-calllist {
	width:100%;
}

table.phone-calllist th {
	background-color:#1c94c4;
	color:#FFF;
}

table.phone-calllist td {
	padding:1em;
}

table.phone-calllist tr.odd {
	background-color:#FFF;
}

ul.phone-callactions {
	list-style:none;
	margin:0;
	padding:0;
}

ul.phone-callactions li {
	display:inline;
	margin:0 1em 0 0;
	padding:0;
}

td.hidden-call {
	color:#F00;
	font-style:italic;
}