/*
Copyright 2008 Domogik project

This file is part of Domogik.
Domogik is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Domogik is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

Author: Maxence Dunnewind <maxence@dunnewind.net>

$LastChangedBy: mschneider $
$LastChangedDate: 2008-07-23 21:42:29 +0200 (mer. 23 juil. 2008) $
$LastChangedRevision: 100 $
*/
@CHARSET "UTF-8";
body {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 0.8em;
margin: 0;
padding: 0;
background: url("/include/images/bg.png");
}
p {
margin: 0 0 10px 0;
color: #ff0000;
}

#header {
height: 50px;
}
#haut {
height: 30px;
}
#conteneur {
position: absolute;
width: 100%;
height: 100%;
}
table {
	height: 300px;
	padding-left : 40px;
	-moz-opacity: 0.75;
}

#container {
width: 500px;
height: 200px;
margin-top: 3em;
}

#images, #temper, #music{
background-color: gray;
border: 1px;
border-style: outset; 
width: 80%;
-moz-border-radius: 15px;
-moz-opacity: 0.75;
}

#temper {
height: 300px;
}

#menuhaut li, #menudroit li {
border: 1px;
background-color: #F0F0FF;
border-color: white;
border-style: outset; 
padding: 15px 25px 15px 25px;
float: left;
margin-top: 15px;
margin-left: 10px;
width: 100px;
text-align: center;
-moz-border-radius: 15px;
-moz-opacity: 0.75;
font-weight:bold;
}

#menudroit li {
padding-left: 10px;
padding-right: 10px;
}

#menuhaut li:hover , #menudroit li:hover{
background-color: #C0C0C0;
border-style: inset; 
}

#menuhaut li:active , #menudroit li:active{
background-color: #808080;
border-style: inset; 
}

#centre {
margin-left: 150px;
margin-right: 150px;
height: 79%;
}
#titre {
	height: 15%;
}
td > p {
	width: 125px;
	text-align: center;
	color: white;
	font-weight:bold;
}
#titre h2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 3em;
	color: white;
}
#gauche {
float:left;
width: 150px;
margin-top:100px;
}
#droite {
float:right;
width: 150px;
margin-top:100px;
}
#pied {
clear:both;
height: 30px;
}
#menuhaut {
list-style-type: none;
margin: 0;
padding:0;
}
#menuhaut li {
display: inline;
}
#menuhaut a , #menudroit a{
margin: 0 2px;
color: #000000;
text-decoration: none;
}
#menuhaut a:hover {
text-decoration: none;
}
#menugauche, #menudroit{
list-style-type: none;
margin: 0;
padding:0;
}
#menugauche li, #menudroit li {
margin-bottom: 5px;
}
#menugauche a {
margin: 0 2px;
color: #000000;
text-decoration: underline;
}
#menugauche a:hover {
text-decoration: none;
}
#menudroit a:hover {
text-decoration: none;
}
