[Unit]
Description=Domogik Xpl Hub
Documentation=http://domogik.readthedocs.io/en/master/
Before=domogik.service
After=domogik-mq-broker.service domogik-mq-forwarder.service
PartOf=domogik.service

[Service]
Type=simple
EnvironmentFile=/etc/default/domogik-mq
ExecStart=/usr/local/bin/dmg_hub
User=domogik
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
