{% extends "layouts/global.html" %}

{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}
{% load i18n %}

{% block global_css %}
<link href="/design/common/css/layout.with_nav.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/layout.content.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/ui-buttons.css" rel="stylesheet" type="text/css" />
<link href="/design/common/css/dmg.login.css" rel="stylesheet" type="text/css" />

    <link href="/design/common/css/ui-forms.css" rel="stylesheet" type="text/css" />
    <link href="/design/common/css/dmg.editable-icon.css" rel="stylesheet" type="text/css" />
    <link href="/design/common/css/ui-nav2.css" rel="stylesheet" type="text/css" />
    <link href="/design/common/css/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="/design/common/css/ui-tabs.css" rel="stylesheet" type="text/css" />
    <link href="/design/common/css/ui-processing.css" rel="stylesheet" type="text/css" />
    <link href="/design/common/css/ui-page-section.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block global_js_include %}
<script type="text/javascript" src="/design/common/js/dmg.icons.js"></script>
<script type="text/javascript" src="/design/common/js/dmg.login.js"></script>

    <script type="text/javascript" src="/design/common/js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="/design/common/js/dmg.external-links.js"></script>
    <script type="text/javascript" src="/design/common/js/dmg.tabs.js"></script>
    <script type="text/javascript" src="/design/common/js/dmg.forms.js"></script>
    <script type="text/javascript" src="/design/common/js/dmg.editable-icon.js"></script>
    <script type="text/javascript" src="/design/common/js/dmg.processing.js"></script>
    <script type="text/javascript" src="/design/common/js/dmg.tooltips.js"></script>
    <script type="text/javascript" src="/design/common/js/dmg.dialogs.js"></script>
    <script type="text/javascript" src="/design/common/js/page-admin.js"></script>
    <script type="text/javascript">
        // <![CDATA[
        $(document).ready(function(){
            getPluginsList();
            $('#plugins_list li a[title]').tooltip_right();
            
        {% if not normal_mode %}
            $.notification("info", "Domogik in development mode. Plugins are running from the sources");
        {% endif %}  
        });
        // ]]>
    </script>
{% endblock %}

{% block body %}
    <header id="mainheader">
        <a href="{% url index_view %}" id="logo"><img src="/design/common/images/logo_domogik.png" alt="Domogik logo" /></a>
        <div id="title">{% trans "Welcome to Domogik" %} <span id="subtitle">{% trans "Free home automation under Linux" %}</span> </div>
    </header>
    <nav id="nav1">
        <ul>
            <li><a href="{% url view_index_view %}" class="{{ nav1_show }}">{% trans "Visualization" %}<span class='description'>{% trans "View, Control your house" %}</span></a></li>
            <li><a href="{% url admin_index_view %}" class="{% if not is_user_connected %}admin_required {% endif %}{{ nav1_admin }}">{% trans "Administration" %}<span class='description'>{% trans "Configure, Manage" %}</span></a></li>
            <li class='help'><a href="http://wiki.domogik.org/tiki-index.php?page=EndUserDocumentation&bl=y" target='_blank'>{% trans "Help" %}<span class='description'>{% trans "External Wiki page" %}</span></a></li>
            <li class="login">
                {% if not is_user_connected %}
                    <a href="{% url login_view %}">{% trans "Log in" %}<span class='description'>{% trans "Identify yourself" %}</span></a>
                {% else %}
                    <a href="{% url logout_view %}">{% trans "Log out" %}<span class='description'>{% trans "Disconnect" %} {{ request.session.user.first_name }}</span></a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <div id="content-bgnd"> 
    <section id="mainsection">
        <div class="columnleft">
            <nav id="nav2">
                <div class="subnav2"><a href="#">{% trans "Organization" %}</a></div>
                <ul>
                    <li><a href="{% url admin_organization_view_house_view %}" class='{{ nav2_organization_house }}'>{% trans "House" %}</a></li>
                    <li><a href="{% url admin_organization_areas_view %}" class='{{ nav2_organization_areas }}'>{% trans "Areas" %}</a></li>
                    <li><a href="{% url admin_organization_rooms_view %}" class='{{ nav2_organization_rooms }}'>{% trans "Rooms" %}</a></li>
                    <li><a href="{% url admin_organization_devices_view %}" class='{{ nav2_organization_devices }}'>{% trans "Devices" %}</a></li>
                    <li><a href="{% url admin_organization_widgets_view %}" class='{{ nav2_organization_widgets }}'>{% trans "Widgets" %}</a></li>
                </ul>
                <div class="subnav2"><a href="#">{% trans "Management" %}</a></div>
                <ul>
                    <li><a href="{% url admin_management_accounts_view %}" class='{{ nav2_management_accounts }}'>{% trans "Accounts" %}</a></li>
                </ul>
                <div class="subnav2"><a href="#">{% trans "Plugins" %}</a></div>
                <ul id="plugins_list">
                </ul>
                <div class="subnav2"><a href="#">{% trans "Tools" %}</a></div>
                <ul>
                    <li><a href="{% url admin_tools_helpers_view %}" class='icon32-menu-helpers {{ nav2_tools_helpers }}'>{% trans "Helpers" %}</a></li>
                    <li><a href="{% url admin_tools_rinor_view %}" class='icon32-menu-rinor {{ nav2_tools_rinor }}'>{% trans "RINOR" %}</a></li>
                </ul>
                {% if normal_mode %}
                <div class="subnav2"><a href="#">{% trans "Packages" %}</a></div>
                <ul>
                    <li><a href="{% url admin_packages_repositories_view %}" class='{{ nav2_packages_repositories }}'>{% trans "Repositories" %}</a></li>
                    <li><a href="{% url admin_packages_plugins_view %}" class='{{ nav2_packages_plugins }}'>{% trans "Plugins" %}</a></li>
                    <li><a href="{% url admin_packages_hardwares_view %}" class='{{ nav2_packages_hardwares }}'>{% trans "Hardwares" %}</a></li>
                </ul>
                {% endif %}
            </nav>
        </div>
        <div class="columnright">
            <header id='contentheader'>{% block banner %}{% endblock %}</header>
            {% block right %}{% endblock %}
        </div>
    </section>
    </div>
{% endblock %}

