{% extends "layouts/global.html" %}

{% comment %}
# Copyright 2011 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cedric Trevisan <cedric@domogik.org>
{% endcomment %}
{% load i18n %}

{% block global_css %}
<link href="/design/common/css/layout.without_nav.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block global_js_include %}
{% endblock %}

{% block body %}
    <div id="content-bgnd">
        <section id="mainsection">
            {% block content %}{% endblock %}
        </section>
	</div>
{% endblock %}
