<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Domogik's new UI</title>
<link type="text/css" href="../css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
<link href="../css/ui-selectmenu.css" rel="stylesheet" type="text/css" />
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<link href="../css/ui-nav2.css" rel="stylesheet" type="text/css" />
<link href="../css/ui-elements.css" rel="stylesheet" type="text/css" />
<link href="../css/ui-element-heat.css" rel="stylesheet" type="text/css" />
<link href="../css/ui-element-light.css" rel="stylesheet" type="text/css" />
<link href="../css/ui-buttons.css" rel="stylesheet" type="text/css" />
<link href="../css/page-view-room.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="../js/ui.selectmenu.js"></script>
<script type="text/javascript" src="../js/page-view.js"></script>
<script type="text/javascript">
$(function(){
	// Accordion
	$("#nav2").accordion({ header: ".section", active:0});

   	$('select.heat-mode').selectmenu();

	// Slider heat temperature
	$("#slider-heat-temp1").slider({
		range: true,
		min: 10,
		max: 25,
		values: [18, 20],
		slide: function(event, ui) {
			$("#value-heat-tempmin1").val(ui.values[0]);
			$("#value-heat-tempmax1").val(ui.values[1]);
		}
	});
	$("#value-heat-tempmin1").val($("#slider-heat-temp1").slider("values", 0));
	$("#value-heat-tempmax1").val($("#slider-heat-temp1").slider("values", 1));

	// Slider light
	$("#slider-light-2").slider({
		range: false,
		min: 0,
		max: 100,
		value: 50,
		slide: function(event, ui) {
			$("#value-light-2").val(ui.value);
		}
	});
	$("#value-light-2").val($("#slider-light-2").slider("value"));
});
</script>
</head>
<body>
<div id="frame">
  <div id="header"> <a href="../index.html" id="logo"><img src="../images/logo_domogik.png" width="131" height="37" alt="Domotik logo" /></a>
    <div id="title">Welcome to Domogik<span id="subtitle">Free home automation under Linux</span></div>
  </div>
  <ul id="nav1">
    <li><a href="index.html" class="selected ui-corner-top">Visualisation</a></li>
    <li><a href="../program/index.html" class="ui-corner-top">Programmation</a></li>
    <li><a href="../update/index.html" class="ui-corner-top">Modification</a></li>
  </ul>
  <div id="content">
    <div class="left">
      <div id="nav2">
        <div class="section"><a href="#">Par pi&egrave;ce</a></div>
        <ul>
          <li><a href="room.html" class="menu-room">Salon TV</a></li>
          <li><a href="room.html" class="menu-room">S&eacute;jour</a></li>
          <li><a href="room.html" class="menu-room">Cuisine</a></li>
          <li><a href="room.html" class="menu-room">Chambre des enfants</a></li>
          <li><a href="room.html" class="menu-room">Chambre des parents</a></li>
          <li><a href="room.html" class="menu-room">Chambre des amis</a></li>
          <li><a href="room.html" class="menu-room">Salle de bain</a></li>
          <li><a href="room.html" class="menu-room">Salle de jeux</a></li>
          <li><a href="room.html" class="menu-room">Garage</a></li>
          <li><a href="room.html" class="menu-room">Jardin</a></li>
        </ul>
        <div class="section"><a href="#">Par zone</a></div>
        <ul>
          <li><a href="zone.html" class="menu-zone">Rez-de-chauss&eacute;e</a></li>
          <li><a href="zone.html" class="menu-zone">Etage</a></li>
          <li><a href="zone.html" class="menu-zone">Sous-sol</a></li>
          <li><a href="zone.html" class="menu-zone">Ext&eacute;rieur</a></li>
        </ul>
        <div class="section"><a href="#">Par dispositif</a></div>
        <ul>
          <li><a href="device.html" class="menu-heat">Chauffage</a></li>
          <li><a href="device.html" class="menu-light">Eclairage</a></li>
          <li><a href="device.html" class="menu-electric">Prises &eacute;lectriques</a></li>
          <li><a href="device.html" class="menu-window">Fenêtres/Volets</a></li>
          <li><a href="device.html" class="menu-vmc">Ventilation</a></li>
          <li><a href="device.html" class="menu-audio">Audio</a></li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="element-main">
        <div class="room-general">
          <h1 class="element-ident"><span class="element-title">Salon TV</span><br />
            <span class="element-subtitle">Rez-de-chauss&eacute;e</span></h1>
          <div class="room-temp">19&deg;C</div>
          <div class="room-humidity">20% humidit&eacute;</div>
          <div class="parameter"><span class="label">En cours de visionage :</span> <img src="../images/tv-FR2.png" width="16" height="25" alt="France 2" /> "Journal télévisé"</div>
        </div>
      </div>
      <div class="columns">
        <div class="element">
          <h2>Lumi&egrave;res</h2>
          <div class="parameter"><span class="label">Plafonier :</span> <span class="lightoff">Off</span> <a href="#" class="button on">Allumer</a></div>
          <div class="parameter">
            <label for="value-light-2" class="label">Halog&egrave;ne d'ambiance :</label>
            <input type="text" class="value-light" id="value-light-2" title="Luminosité en %"/>%
            <a href="#" class="button off">Eteindre</a>
            <div class="slider-light" id="slider-light-2"></div>
          </div>
        </div>
        <div class="element">
          <h2>Chauffage</h2>
          <div class="parameter"><span class="label">Mode :</span>
            <select class="heat-mode" id="heat-mode1" name="heat-mode1" title="Mode Chauffage">
              <option value="0">Off</option>
              <option value="1">Economique</option>
              <option value="2">Confort</option>
              <option value="3">Manuel</option>
            </select>
          </div>
          <div class="parameter">
            <label for="value-heat-temp1" class="label">Temp&egrave;rature :</label>
            <input type="text" class="value-heat-tempmin" id="value-heat-tempmin1" title="Température minimal en °C"/>&deg;C
            &nbsp;-&nbsp;
            <input type="text" class="value-heat-tempmax" id="value-heat-tempmax1" title="Température maximal en °C"/>&deg;C
            <div class="slider-heat-temp" id="slider-heat-temp1"></div>
          </div>
        </div>
        <div class="element">
          <h2>Télévision</h2>
          <div class="parameter"><span class="label">Status :</span> <span class="on">On</span> <a href="#" class="button off">Eteindre</a> <a href="#" class="button">Programmer l'extinction</a></div>
          <div class="parameter"><span class="label">Média Center :</span> XBMC <a href="#" class="button">Interface de contrôle</a></div>
        </div>
        <div class="element">
          <h2>Volets</h2>
          <div class="parameter"><span class="label">Fen&ecirc;tre nord :</span> <span class="shutterclosed">Fermés</span> <a href="#" class="button">Ouvrir</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"/>
</div>
</body>
</html>
