@charset "UTF-8";
/* CSS Document */

/* Room icons */
.icon64-room-default { background-image:url(../images/default_room_64.png);}
.icon32-room-default { background-image:url(../images/default_room_32.png);}

.icon64-room-kitchen { background-image:url(../images/kitchen_64.png);}
.icon32-room-kitchen { background-image:url(../images/toaster_32.png);}
.icon16-room-kitchen { background-image:url(../images/toaster_16.png);}

.icon64-room-livingroom { background-image:url(../images/sofa_white_64.png);}
.icon32-room-livingroom { background-image:url(../images/sofa_white_32.png);}
.icon16-room-livingroom { background-image:url(../images/sofa_white_16.png);}

.icon64-room-bathroom { background-image:url(../images/bathroom_64.png);}

.icon32-room-bedroom { background-image:url(../images/bed_32.png);}
.icon16-room-bedroom { background-image:url(../images/bed_16.png);}

/* Area icons */
.icon64-area-grndfloor { background-image:url(../images/rdc_white_64.png);}
.icon32-area-grndfloor { background-image:url(../images/rdc_white_32.png);}
.icon16-area-grndfloor { background-image:url(../images/rdc_white_16.png);}

.icon64-area-firstfloor { background-image:url(../images/etage1_white_64.png);}
.icon32-area-firstfloor { background-image:url(../images/etage1_white_32.png);}
.icon16-area-firstfloor { background-image:url(../images/etage1_white_16.png);}

.icon64-area-basement { background-image:url(../images/sous-sol_white_64.png);}
.icon32-area-basement { background-image:url(../images/sous-sol_white_32.png);}
.icon16-area-basement { background-image:url(../images/sous-sol_white_16.png);}

/* Device icons */
.icon32-device-electricity { background-image:url(../images/electricity_32.png);}
.icon16-device-electricity { background-image:url(../images/electricity_16.png);}
.icon16-device-water { background-image:url(../images/water_16.png);}
.icon16-device-message { background-image:url(../images/message_16.png);}
.icon16-device-notification { background-image:url(../images/notify_16.png);}
.icon16-device-error { background-image:url(../images/error_16.png);}


.icon32-device-tv { background-image:url(../images/tv_32.png);}
.icon32-device-ventilation { background-image:url(../images/ventilo_white_32.png);}
.icon32-device-sound { background-image:url(../images/audio_32.png);}
.icon32-device-aiconditioning { background-image:url(../images/clim_white_32.png);}
.icon32-device-wifi { background-image:url(../images/wifi_32.png);}
.icon32-device-light { background-image:url(../images/light_32.png);}

/* Status icons */
.icon16-status-defaulton { background-image:url(../images/room_various_on.png);}
.icon16-status-defaultoff { background-image:url(../images/room_various_off.png);}
.icon16-status-lighton { background-image:url(../images/room_light_on.png);}
.icon16-status-lightoff { background-image:url(../images/room_light_off.png);}
.icon16-status-shutterup { background-image:url(../images/room_shutter_down.png);}
.icon16-status-shutterdown { background-image:url(../images/room_shutter_down.png);}
.icon16-status-ventilationon { background-image:url(../images/ventilo_on_16.png);}
.icon16-status-ventilationoff { background-image:url(../images/ventilo_off_16.png);}
.icon16-status-airconditioningon { background-image:url(../images/clim_on_16.png);}
.icon16-status-airconditioningoff { background-image:url(../images/clim_off_16.png);}
.icon16-status-soundplaying { background-image:url(../images/room_sound_play.png);}

/* Weather icons */
.icon64-weather-clouds { background-image:url(../images/weather_clouds_64.png);}
