@charset "UTF-8";
/* CSS Document */

.ui-accordion .ui-accordion-content {
  padding:0;
}

/* Left menu */
#nav2 ul {
  margin: 0;
  padding: 0;
  list-style:none;
}

#nav2 li a {
  color:#000;
  margin: 0 1px 0 1px;
  padding: 0.7em 0.5em 0.7em 40px;
  border-bottom:#CCC solid 1px;
  display:block;
  text-decoration:none;
  background-position:left 50%;
  background-repeat:no-repeat;
}

#nav2 li a:hover, #nav2 li a:active, #nav2 li a:focus {
  color:#000;
  background-color: #eb8f00;
}

