body {
    font: 65% Arial, Helvetica, sans-serif;
	background-color:#eeeeee;
	margin:0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 10%, from(#534F45), to(#625E53));
    background-image: -moz-linear-gradient(100% 10% 270deg, #534F45, #625E53);
	background-repeat:no-repeat;
	-moz-background-size: 100% 250px;
	-webkit-background-size: 100% 250px;
}

header#mainheader {
    display:block;
    padding: 1em;
	margin:-1px;
}

#content-bgnd {
	border: #979387 1px solid;
	margin: 1em 5% 0 5%;
    background-color:#D2CDBC;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#908D6F), to(#D2CDBC));
	background-image: -moz-linear-gradient(0% 5% 270deg,#908D6F, #D2CDBC);
	-moz-border-radius: 0.8em ;
    -webkit-border-radius: 0.8em;	
}

section#mainesection {
    display:block;
	min-height:40em;
}

footer {
    display:block;
    clear:both;
    margin:0.5em;
    padding:0.5em;
    text-align:center;
    border-top:1px solid #979387;
}