<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>
-->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans page_title %}{% endblock %}
{% block css %}
    <link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/page-home.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="search">
    {% if device_list %}
        <form name="filterForm" method="POST" action="{% url index_view %}"/>
            <fieldset>
                <legend>Search</legend>
                <table>
                    <tr valign="top">
                        <td>
                            <table>
                                <tr>
                                    <th>Area</th>
                                </tr>
                                {% for area in area_list %}
                                    <tr>
                                        <td>{{ area.name }}</td><td><input type="checkbox" name="area_id" value="{{ area.id }}"/></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>Room</th>
                                </tr>
                                {% for room in room_list %}
                                    <tr>
                                        <td>{{ room.name }}</td><td><input type="checkbox" name="room_id" value="{{ room.id }}"/></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>Usage</th>
                                </tr>
                                {% for device_usage in device_usage_list %}
                                    <tr>
                                        <td>{{ device_usage.name }}</td><td><input type="checkbox" name="device_usage_id" value="{{ device_usage.id }}"/></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <input type="hidden" id="id_cmd" name="cmd" value="filter"/>
                        <td colspan="2"><input type="submit" value="Filter"/></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    {% endif %}
    </div>

    <div id="list">
    {% if device_list %}
        <form name="deviceListForm" method="POST" action="{% url index_view %}"/>
        <table>
            <tr>
                <th>Device name</th>
                <th>Usage</th>
                {% if request.session.user.is_admin %}
                    <th>Address</th>
                    <th>Reference</th>
                    <th>Technology</th>
                {% endif %}
                <th>Room</th>
                <th>Area</th>
                <th>Status</th>
            </tr>

            {% for device in device_list %}
                <input type="hidden" id="id_deviceId" name="device_id" value="{{ device.id }}"/>
                <tr class="{% cycle 'oddRow' 'evenRow' %}">
                    <td><a href="{% url device_view device.id %}">{{ device.name }}</a></td>
                    <td>{{ device.usage.name }}</td>
                    {% if request.session.user.is_admin %}
                        <td>{{ device.address }}</td>
                        <td>{{ device.reference }}</td>
                        <td>{{ device.technology.name }}</td>
                    {% endif %}
                    <td>{{ device.room.name }}</td>
                    <td>{{ device.room.area.name }}</td>
                    <td>
                        <table id="listValue">
                            <tr>
                                <td>{% include "_inc_device_property.html" %}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_user_connected %}
        <p></p>
        <table>
            <tr>
                <input type="hidden" id="id_cmd" name="cmd" value="update_values"/>
                <td><input type="submit" value="Update"/></td>
            </tr>
        </table>
        {% endif %}
        </form>
    {% else %}
        <p>No device found !</p>
    {% endif %}
    </div>
<!--
        {% for device in deviceList %}
            {% include device.get_template_name %}
        {% endfor %}
        <script src="/design/javascript/jquery.js" ></script>
        <script src="/design/javascript/device.js" ></script>
-->
{% endblock %}
