Source: domogik
Section: misc
Priority: optional
Maintainer: Sébastien GALLET <sgallet@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3~),
 python2.6 | python2.7, python-dev, python2.6-dev | python2.7-dev,
 libmysqlclient-dev, libssl-dev, libpq-dev,
 python-sqlalchemy (>= 0.7.5~), python-sqlalchemy (<< 0.8~),
 python-sqlalchemy-migrate (>= 0.7.2~), python-sqlalchemy-migrate (<< 0.7.3),
 python-setuptools, python-distutils2, python-openssl, python-serial (>= 2.5~),
 python-simplejson (>= 1.9.2~), python-pyinotify (>= 0.8.9~), python-pip (>= 1.0~),
 python-httplib2 (>= 0.6.0~), python-psutil (>= 0.1.3~), python-mimeparse
Standards-Version: 3.9.2
Homepage: http://www.domogik.org/

Package: domogik
Architecture: all
Depends: domogik-primary (= ${source:Version})
Description: Standard installation for domogik.
 Domogik is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This is the installation package for a standard installation.

Package: domogik-primary
Architecture: all
Depends: domogik-mysql (= ${source:Version}) | domogik-postgresql (= ${source:Version}),
 xplhub
Conflicts: domogik-secondary
Description: Primary host installation for domogik.
 Domogik is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This is the installation package for a primary host.

Package: domogik-secondary
Architecture: all
Conflicts: domogik-primary, domogik-mysql, domogik-postgresql
Pre-Depends: domogik-common (= ${source:Version})
Depends: xplhub
Description: Secondary host installation for domogik.
 Domogik is a free home automation solution.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This is the installation package for a secondary host.

#Package: domogik-xplhub
#Architecture: all
#Provides: xplhub
#Pre-Depends: domogik-common (= ${source:Version})
#Depends: xplhub
#Description: Xpl hub for domogik.
# Domogik is a free home automation solution.
# Domogik/Domoweb is a free home automation solution.
# It is based on the xPL protocol in order to easily use a lot of
# different technologies. Domogik is multi hosts and modulable.
# You can use as many user interfaces you want (actually there are two
# user interfaces : the web one and the Android one).
# This is the xpl hub written in python.

Package: domogik-common
Architecture: all
Depends: python, python-setuptools, python-simplejson (>= 1.9.2~), python-openssl,
 python-httplib2 (>= 0.6.0~), python-psutil (>= 0.1.3~), python-mimeparse,
 python-pyinotify (>= 0.8.9~), python-pip (>= 1.0~),
 python-distutils2, python-serial (>= 2.5~)
Description: Common files for domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This is the common installation package.

Package: domogik-full
Architecture: all
Depends: domogik (= ${source:Version}), domoweb,
 domogik-extras-nightly (= ${source:Version})
Description: Full installation of Domogik/Domoweb.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This is the complete installation package : domogik, domoweb and all
 python dependencies needed by plugins.

Package: domogik-mysql
Architecture: all
Conflicts: domogik-postgresql, domogik-secondary
Pre-Depends: domogik-common (= ${source:Version})
Depends: mysql-client, python-mysqldb,
 python-sqlalchemy (>= 0.7.5~), python-sqlalchemy (<< 0.8~),
 python-sqlalchemy-ext (>= 0.7.5~),
 python-sqlalchemy-migrate (>= 0.7.2~) | python-migrate (>= 0.7.2~),
 python-sqlalchemy-migrate (<< 0.7.3) | python-migrate (<< 0.7.3)
Description: The mysql interface to domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This is the database interface to mysql.

Package: domogik-postgresql
Architecture: all
Conflicts: domogik-mysql, domogik-secondary
Pre-Depends: domogik-common (= ${source:Version})
Depends: postgresql-client, python-psycopg2,
 python-sqlalchemy (>= 0.7.5~), python-sqlalchemy (<< 0.8~),
 python-sqlalchemy-ext (>= 0.7.5~),
 python-sqlalchemy-migrate (>= 0.7.2~) | python-migrate (>= 0.7.2~),
 python-sqlalchemy-migrate (<< 0.7.3) | python-migrate (<< 0.7.3)
Description: The postgresql interface to domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This is the database interface to postgresql.

Package: domogik-extras-stable
Architecture: all
Pre-Depends: domogik-common (= ${source:Version})
Description: Extras python dependencies for domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This package contains dependencies to python modules needed by plugins
 of the section stable.

Package: domogik-extras-testing
Architecture: all
Depends: domogik-extras-stable (= ${source:Version})
Description: Extras python dependencies for domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This package contains dependencies to python modules needed by plugins
 of the section testing.

Package: domogik-extras-experimental
Architecture: all
Depends: domogik-extras-testing (= ${source:Version}),
 python-apscheduler, python-pyephem | python-ephem,
 python-bluez, python-pympler, python-tailer,
 domogik-udev-rfxcom
Description: Extras python dependencies for domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This package contains dependencies to python modules needed by plugins
 of the section experimental.

Package: domogik-extras-nightly
Architecture: all
Provides: domogik-extras-dep
Conflicts: domogik-extras-dep
Replaces: domogik-extras-dep
Depends: domogik-extras-experimental (= ${source:Version}),
 python-mechanize, python-gdata, python-serial,
 domogik-udev-mirror, domogik-udev-plcbus, domogik-udev-teleinfo,
 domogik-udev-velbus, domogik-udev-x10cm15a
Description: Extras python dependencies for domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This package contains dependencies to python modules needed by plugins
 of the section nightly.

Package: domogik-udev-mirror
Architecture: all
Depends: domogik-common (= ${source:Version})
Description: Udev rules for Mir:ror.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).

Package: domogik-udev-plcbus
Architecture: all
Depends: domogik-common (= ${source:Version})
Description: Udev rules for Plcbus.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).

Package: domogik-udev-rfxcom
Architecture: all
Depends: domogik-common (= ${source:Version})
Description: Udev rules for RFXcom usb.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).

Package: domogik-udev-teleinfo
Architecture: all
Depends: domogik-common (= ${source:Version})
Description: Udev rules for Teleinfo modules.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).

Package: domogik-udev-velbus
Architecture: all
Depends: domogik-common (= ${source:Version})
Description: Udev rules for Velbus protocol.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).

Package: domogik-udev-x10cm15a
Architecture: all
Depends: domogik-common (= ${source:Version})
Description: Udev rules for X10 cm15a adaptater.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).

Package: domogik-apache2
Architecture: all
Depends: apache2, apache2.2-common, libapache2-mod-proxy-html
Description: Apache configuration for domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 It allows you to connect to the rest server throught Internet. This can
 be usefull if you want to connect to your home with Domodroid from
 anywhere in the world.

Package: domogik-snmp
Architecture: all
Pre-Depends: snmpd
Depends: domogik-primary (= ${source:Version}) | domogik-secondary (= ${source:Version}),
 libchi-perl, libnet-snmp-perl, libproc-processtable-perl,
 libconfig-simple-perl, libsnmp-perl, liblog-log4perl-perl,
 liblwp-protocol-https-perl, snmp-mibs-downloader
Description: SNMP agent for domogik.
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This package contents an extension to the snmp daemon.

Package: domogik-developper
Architecture: all
Depends: mercurial, gcc,
 python (>= 2.6.6-3~), python2.6 | python2.7,
 python-dev, python2.6-dev | python2.7-dev,
 mysql-server, libmysqlclient-dev, mysql-client, libssl-dev, xplhub,
 python-sqlalchemy (>= 0.7.5~), python-sqlalchemy-ext (>= 0.7.5~),
 python-sqlalchemy-migrate (>= 0.7.2~), python-sqlalchemy-migrate (<< 0.7.3),
 python-setuptools, python-distutils2, python-openssl, python-serial (>= 2.5~),
 python-simplejson (>= 1.9.2~), python-pyinotify (>= 0.8.9~), python-pip (>= 1.0~),
 python-httplib2 (>= 0.6.0~), python-psutil (>= 0.1.3~), python-mimeparse
Description: All dependencies for Domogik's developpers (but no Domogik code).
 Domogik/Domoweb is a free home automation solution.
 It is based on the xPL protocol in order to easily use a lot of
 different technologies. Domogik is multi hosts and modulable.
 You can use as many user interfaces you want (actually there are two
 user interfaces : the web one and the Android one).
 This packages install all the packages needed to developp in Domogik (using mysql).
 It does not contains Domogik, you must get sources using mercurial. Look at the
 wiki at http://wiki.domogik.org/Use_mercurial.

