#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_capb backup

if [ "$1" = configure -o "$1" = upgrade ]; then
        STATE=1
        while true; do
            case "$STATE" in
            1)
                # Deux questions sans rapport.
				db_input critical "domogik/interface" || true
            ;;
            *)
                 # Le cas par defaut est atteint quand $STATE est plus
                 # grand que le dernier etat implemente, et provoque la
                 # sortie de la boucle. Ceci requiert que les etat soient
                 # numerotes a partir de 1, successivement, et sans trou,
                 # puisque l'on entrera dans le cas par defaut s'il y a un
                 # trou dans la numerotation
                 break # quitte la boucle "while"
            ;;
            esac

            if db_go; then
                 STATE=$(($STATE + 1))
            else
                 STATE=$(($STATE - 1))
            fi
        done

        if [ $STATE -eq 0 ]; then
            # L'utilisateur a demande a revenir a la premiere
            # question. Ce cas est problematique. L'installation
            # normale des paquets avec dpkg et apt n'est pas
            # capable de revenir en arriere vers les questions
            # d'autres paquets, a l'heure ou ceci est ecrit, donc
            # cela va provoquer la sortie, laissant les paquets non
            # configures - ce qui est probablement la meilleure
            # facon de gerer la situation.
            exit 10
        fi

fi

db_stop

#DEBHELPER#
