/*
Domogik admin default theme
*/

/* collapse table */
.hiddenRow {
    padding: 0 !important;
}

/* client list */
.status div {
    display: inline-block;
    margin-right: 2em;
}

.current_status {
    background-color: #cccccc;
}




/*** delete below ****/
.dmg_client {
    border: 1px solid black;
    margin-bottom: 1em;
}


.dmg_client .status div {
    display: inline-block;
    border: 1px dashed black;
    margin-right: 1em;
}

