/*
Domogik admin default theme
*/

body {
    color: #555555;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

/** login **/

.login{
    max-width: 350px;
}

.login .box {
    background-color: #FFFFFF;
    border-color: #005774 #D9D9D9 #D9D9D9;
    border-image: none;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 5px 1px 1px;
    padding: 1em 1em 0 1em;
}

.login h1 {
    font-size: 1.4em;
    font-weight: normal;
    display: block;
    text-align: center;
}

.login .form-title {
    font-size: 1.2em;
    display: block;
    text-align: center;
    padding: 1em;
}
/** navbar **/
.navbar-dmg {
	background-color: #2D2C2F;
	border-bottom: 5px solid #005774;
}

.navbar-dmg a {
	color: #eee;
}

.navbar-dmg .dropdown-menu,
.navbar-dmg .nav > li > a:focus,
.navbar-dmg .nav > li > a:hover {
	background-color: #005774;
}

.navbar-nav .open .dropdown-menu > li > a {
	color: #eee;
}

.navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-nav .open .dropdown-menu > li > a:focus {
	color: #333333;
}

.navbar-dmg .navbar-brand {
	background: url('../images/dmg-logo.png') 0 50% no-repeat;
	padding-left: 52px;
}

.navbar-dmg .navbar-brand:hover,
.navbar-dmg .navbar-brand:focus {
    background-color: #005774;
}

.navbar-dmg .navbar-toggle {
	background-color:#eee;
}

.navbar-dmg .navbar-toggle:hover,
.navbar-dmg .navbar-toggle:focus {
    background-color: #005774;
}
.navbar-dmg .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-dmg .navbar-nav > .active > a, 
.navbar-dmg .navbar-nav > .active > a:hover, 
.navbar-dmg .navbar-nav > .active > a:focus,
.navbar-dmg .navbar-nav > .open > a, 
.navbar-dmg .navbar-nav > .open > a:hover, 
.navbar-dmg .navbar-nav > .open > a:focus {
	background-color: #005774;
}

/* collapse table */
.hiddenRow {
    padding: 0 !important;
}

/* client list */
.status div {
    display: inline-block;
    margin-right: 2em;
}

.current_status {
    background-color: #cccccc;
}


/*** delete below ****/
.dmg_client {
    border: 1px solid black;
    margin-bottom: 1em;
}


.dmg_client .status div {
    display: inline-block;
    border: 1px dashed black;
    margin-right: 1em;
}

