{% extends "layout_admin.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% block js_script %}
$(function(){
    // Accordion
	$("#nav2").accordion({ header: ".subnav2", active:2});
});
{% endblock %}
{% block css %}
{% endblock %}
{% block js_include %}
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}

{% block banner %}
    <div class="section">
        <h1 class="ident"><span class="title">{% trans "Module" %} '{{ module_name }}'</span></h1>
        {% ifnotequal status "" %}
        <div id='messages' class='{{status}}'>{{msg}}</div>
        {% endifnotequal %}
        <ul class="actions"></ul>
    </div>
{% endblock %}

{% block right %}
    <div class="subsection">
        <h2>{% trans "Basic Control" %}</h2>
    </div>
{% endblock %}
