@charset "UTF-8";
/* CSS Document */
#dialog {
    padding:0 !important;
}

#devices, #features, #widgets, #model {
    display:table-cell;
    border-right:1px solid #cccccc;
    min-width:22em;
}

#devices button, #features button, #widgets button {
    margin-left:1em;
    padding: 0.4em 0 0.4em 0;
    width:90%;
    text-align:left;
}

#devices .usage { /* Usage level */
    border-top: #cccccc solid 1px;
    border-bottom: #cccccc solid 1px;
    padding: 0.4em 0 0.4em 0;
    background-color:#ffffff;
    background-position: 3px 50%;
    background-repeat:no-repeat;
    text-align:center;
    font-weight:bold;
}

#devices .device { /* Device level */
    padding: 0.4em 0 0.4em 25px;
    background-position: 0% 50%;
    background-repeat:no-repeat;
}

#features .feature { /* Feature level */
    padding: 0.4em 0 0.4em 0;
}

#model dt {
    font-weight:bold;
    padding-left:1em;
}

#model dd {
    padding:0 1em 1em 1em;
}

#model dd.model {
    margin:1em;
    padding-top:2em;
    padding-bottom:1em;
    text-align:center;
    border: 1px dashed #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-color:#DDFFD9;
}

#model dd.description {
    font-style:italic;
}

#model dd.dragdrop, #model dd.screenshot {
    margin:0;
    padding:1em 0 0 0;
    text-align:center;
}

#model dd.screenshot img {
    border: 1px dashed #cccccc;    
}

.mainactions .shape, .actions .shape {
    display:inline-block;
    margin:1em;
}

.state-active {
    background-color: #DFFFB3;
}

.deletable button {
    position:absolute;
    top:-8px;
    right:-8px;
    width:16px;
    height:16px;
    background: transparent url(../images/action/delete_16.png) 50% 50% no-repeat;
    border:none;
    cursor: pointer;
}