@charset "UTF-8";
/* CSS Document */

/* Link */
.ui-widget-content a {
    color:#1c94c4;
}

a:hover, a:active, a:focus {
    color:#eb8f00;
}

button::-moz-focus-inner { border: 0; }
input::-moz-focus-inner { border: 0; }

/* Button */
.button {
	border: 1px solid #cccccc;
	height:2em;
	-moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
	background-color:#f6f6f6;
	background-position: left 50%;
	background-repeat: no-repeat;
	outline:none;
	cursor: pointer;
	text-decoration:none;
    padding:0.2em 0.5em 0.2em 18px;
    margin:0;
    display:inline-block;
	font-size: 1em;
}

.buttontext {
	border: 1px solid #cccccc;
	height:2em;
    line-height:2em;
	-moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
	background-color:#f6f6f6;
	outline:none;
	cursor: pointer;
	text-decoration:none;
    padding:0.2em 0.5em 0.2em 0.5em;
    margin:0;
    display:inline-block;
	font-size: 1em;
}

.button:hover, .buttontext:hover {
	background-color:#FFFFFF;
}

.button:focus .button:active,
.buttontext:focus, .buttontext:active {
	color:#FFFFFF;
	background-color:#9BB528;
}

.leftpanelbutton {
	border: 1px solid #cccccc;
	-moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
	background-color:transparent;
	outline:none;
	cursor: pointer;
    padding:0.5em 0.8em 0.5em 0.8em;
    margin:0;
    display:block;
	font-size: 1em;
    float:right;
    clear:both;
    color:#ffffff;
}

.leftpanelbutton:hover, .leftpanelbutton:focus {
	background-color:#ffffff;
    color:#000000;
}

.button_bottomright {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom:none;
	border-right:none;
	-moz-border-radius: 1.4em 0 0.8em 0;
    -webkit-border-radius: 1.4em 0 0.8em 0;
	background-color:#f6f6f6;
	background-position: left 50%;
	background-repeat: no-repeat;
	outline:none;
	cursor: pointer;
	text-decoration:none;
    padding:0.5em 0.8em 0.5em 0.8em;
    margin:0;
    display:inline-block;
	font-size: 1em;
}

.button_bottomright:hover, .button_bottomright:focus {
	background-color:#ffffff;
}

a.buttonicon, .buttonicon {
	border: 1px solid #cccccc;
	height:2em;
	width: 3em;
	-moz-border-radius: 1.4em;
    -webkit-border-radius: 1.4em;
	background-color:#f6f6f6;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	outline:none;
	cursor: pointer;
	text-decoration:none;
    padding:0;
    margin:0;
    display:inline-block;
	font-size: 1em;
}

.buttonside {
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	height:2em;
	width: 2.5em;
	-moz-border-radius: 0 1.4em 1.4em 0;
    -webkit-border-radius:  0 1.4em 1.4em 0;
	background-color:#f6f6f6;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	outline:none;
	margin:0;
	cursor: pointer;
	border-left:none;
}

.buttonside:hover {
	background-color:#FFFFFF;
	width: 3.5em;
}

.buttonside:focus {
	background-color:#BDCB2F;
	width: 3.5em;
}