@charset "UTF-8";
/* CSS Document */

/* Link */
.ui-widget-content a {
	color:#1c94c4;
}

a:hover, a:active, a:focus {
	color:#eb8f00;
}

/* Button */
a.button, .button {
	text-decoration:none;
	border:none;
	color:#FFF;
	background-color:#1c94c4;
	padding:0.2em;
	margin:0;
	font-size:1.2em;
	display:inline-block;
	
	-moz-border-radius: 0.8em 0;
	-webkit-border-radius: 0.8em 0;
}
.button.on {
	background-color:#096;
}

.button.off {
	background-color:#930;
}
.button:hover, .button.on:hover, .button.off:hover,
.button:focus, .button.on:focus, .button.off:focus,
.button:active, .button.on:active, .button.off:active {
		color:#000;
		background-color: #eb8f00;
}



h2 a.action {
	color:#1c94c4;
	font-size:0.6em;
	float:right;
}