@charset "UTF-8";
/* CSS Document */

label {
  font-weight:bold;
  display:block;
  height:1.6em;
  line-height:1.6em;
}

label.inline {
	display:inline-block;
}

label.medium {
  width: 10em;
}

input[type='text'] {
  border:1px solid #999;
  height:1.6em;
  margin: 0 0 0.2em 0;
}

textarea {
  border:1px solid #999;
}

input[type='text']:hover, input[type='text']:focus,
textarea:hover, textarea:focus {
  color:#000;
  background-color: #eb8f00;
}

input[type='text'].medium, textarea.medium  {
  width:20em;
}

select.medium {
  width:15em;
}

select.large {
  width:22em;
}

fieldset {
  border:1px solid #999;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}