{% extends theme("base/base.html") %}

{% block content %}
{% include theme("client_menu.html") %}
<div class="container">
    <h2>{% trans %}Detected devices{% endtrans %}</h2>
    {% for dev in devices %}
      <div class="panel panel-default">
        <!--
        <div class="panel-heading">
        <h3>{% trans %}Device type{% endtrans %} : {{ dev.data.device_type }} <small>{% trans %}Reference{% endtrans %} : {{ dev.data.reference }}</small></h3>
        </div>
        -->
        <div class="panel-body">
  
          <h3>{% trans %}Device informations{% endtrans %}</h3>
          <ul>
            <li><strong>{% trans %}Device type{% endtrans %} :</strong> {{ dev.data.device_type }}</li>
            <li><strong>{% trans %}Reference{% endtrans %} :</strong> {{ dev.data.reference }}</li>
          </ul>

          {% if dev.data['global']|length != 0 %}
            <h3>{% trans %}Main parameters{% endtrans %}</h3>
            <ul>
            {% for a_param in dev.data['global'] %}
              <li><strong>{{ a_param['key'] }} :</strong> {{ a_param['value'] }}</li>
            {% endfor %}
            </ul>
          {% endif %}
  
          {% if dev.data['xpl']|length != 0 %}
            <h3>{% trans %}xPL parameters{% endtrans %}</h3>
            <ul>
            {% for a_param in dev.data['xpl'] %}
              <li><strong>{{ a_param['key'] }} :</strong> {{ a_param['value'] }}</li>
            {% endfor %}
            </ul>
          {% endif %}
  
          {% if dev.data['xpl_commands']|length != 0 %}
            <h3>{% trans %}xPL command parameters{% endtrans %}</h3>
            {% for item in dev.data['xpl_commands'] %}
              <h5>{{ item }}</h5>
              <ul>
                {% for a_param in dev.data['xpl_commands'][item] %}
                  <li><strong>{{ a_param['key'] }} :</strong> {{ a_param['value'] }}</li>
                {% endfor %}
              <ul>
            {% endfor %}
          {% endif %}
  
          {% if dev.data['xpl_stats']|length != 0 %}
            <h3>{% trans %}xPL stat parameters{% endtrans %}</h3>
            {% for item in dev.data['xpl_stats'] %}
              <h5>{{ item }}</h5>
              <ul>
                {% for a_param in dev.data['xpl_stats'][item] %}
                  <li><strong>{{ a_param['key'] }} :</strong> {{ a_param['value'] }}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <script type="text/javascript">
        /*
        TODO : review to make it work
               This code is obsolete
        */
        /*
        ws.onmessage = function(e) {
            data = JSON.parse(e.data);
            if (data.msgid == "device.new" ) {
				if (data.content.client_id == "{{ clientid }}") {
                    for (index = 0; index < data.content['devices'].length; ++index ) {
                        dev = data.content['devices'][index];
                        $('#detected > tbody:last').append('<tr><td>' + dev.device_type_id +'</td><td>' + dev.feature + '</td><td>' + JSON.stringify(dev.data) + '</td></tr>');
                    }
				}
            }
        }
        */
    </script>
</div>
{% endblock %}
