{% extends theme("base/base.html") %}

{% block content %}
{% include theme("client_menu.html") %}

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>{% trans %}Package details{% endtrans %}</h2>
        </div>
        <div class="panel-body">
          <blockquote>
            <p>{{ client_detail.data.identity.description }}</p>
          </blockquote>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>{% trans %}Version{% endtrans %}</th>
                <td>{{ client_detail.data.identity.version }}</td>
              </tr>
              <tr>
                <th>{% trans %}Author{% endtrans %}</th>
                <td>{{ client_detail.data.identity.author }} : {{ client_detail.data.identity.author_email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>{% trans %}Client informations{% endtrans %}</h2>
        </div>
        <div class="panel-body">
          <h3>{% trans %}Informations{% endtrans %}</h3>
          <ul>
              <li>{% trans %}Package{% endtrans %} : {{ client_detail.package_id }}</li>
              <li>{% trans %}Host{% endtrans %} : {{ client_detail.host }}</li>
              <li>{% trans %}Process id{% endtrans %} : {{ client_detail.pid }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% if client_detail.data.identity.dependencies|length > 0 %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>{% trans %}Dependencies{% endtrans %}</h2>
          </div>
          <div class="panel-body">
            <p class="well">
              {% trans %}This package needs some dependencies to work properly. Please check they are present on your system.{% endtrans %}
            </p>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>{% trans %}Type{% endtrans %}</th>
                  <th>{% trans %}Detail{% endtrans %}</th>
                </tr>
              </thead>
              <tbody>
                {% for dep in client_detail.data.identity.dependencies %}
                  <tr>
                    <td>{{ dep.type }}</td>
                    <td>{{ dep.id }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}


  {% if client_detail.data.udev_rules|length > 0 %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>{% trans %}Udev rules{% endtrans %}</h2>
          </div>
          <div class="panel-body">
            <p class="well">
              {% trans %}In order to work, this package may need to install one the the below udev rules. If several rules are available, please check the documentation to find which is the appropriate one for your usage.{% endtrans %}
            </p>

            {% for key, rule in client_detail.data.udev_rules.items() %}
              <h3>{{ key }}</h3>
              <pre>{{ rule }}</pre></li>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>{% trans %}History status{% endtrans %}</h2>
            </div>
            <div class="panel-body">
              <table class="table table-bordered">
                <tbody>
                {% if client_history|length > 0 %}
                    {% for hist in client_history %}
                      <tr>
                        <th>{{ hist.timestamp|timestamp_to_strftime }}</th>
                        <td>{{ hist.time_running }}</td>
                        <td>{{ hist.status }}</td>
                        <td>{{ hist.comment }}</td>
                      </tr>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">{% trans %}This client seems never started ;){% endtrans %}</div>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

</div>
{% endblock %}
