{% extends theme("base/base.html") %}

{% block content %}
<div class="container">

    <button type="button" id="install_a_plugin" class="btn btn-primary" data-toggle="modal" data-target="#install_instructions">
      <span class='glyphicon glyphicon-download-alt' aria-hidden='true'></span> {% trans %}Install a package{% endtrans %}
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="install_instructions" tabindex="-1" role="dialog" aria-labelledby="installInstructions" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans %}How to install a package{% endtrans %}</h4>
          </div>
          <div class="modal-body">
            <p>{% trans %}In the current release, you can't install packages directly from this administration interface..{% endtrans %}</p>
            <p>{% trans %}You will have to install a package from a command line, thanks to the command :{% endtrans %}</p>
            <pre>dmg_package --install http://somewhere.com/apackage.zip</pre>
            <p>{% trans %}You will be able to find the packages in the Domogik packages online repository : {% endtrans%}</p>
            <a href="http://repo-public.domogik.org/">http://repo-public.domogik.org/</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
          </div>
        </div>
      </div>
    </div>


    {% if msg_core_dead != None %}
      <div class="alert alert-warning">{{ msg_core_dead | safe }}</div>
    {% endif %}

    {% if clients|length > 0 %}
      {% for host in client_list_per_host_per_type %}
        <h1>{% trans %}Clients on server{% endtrans %} {{ host }}</h1>
  
          {% for type in client_list_per_host_per_type[host] %}
            <div class="list-group">
              <h2 class="list-group-item">
              {% if type == "core" %}
                {% trans %}Core components{% endtrans %}
              {% elif type == "brain" %}
                {% trans %}Brain parts{% endtrans %}
              {% elif type == "plugin" %}
                {% trans %}Plugins{% endtrans %}
              {% elif type == "interface" %}
                {% trans %}Interfaces{% endtrans %}
              {% elif type == "xpl_client" %}
                {% trans %}xPL clients{% endtrans %}
              {% else %}
                {{ type }}
              {% endif %}
              <span class="badge">{{ client_list_per_host_per_type[host][type]|length }}</span>
              </h2>
              {% for client in client_list_per_host_per_type[host][type] %}
                {% if type == "core" %}
                  <!-- link -->
                  {% if client_list_per_host_per_type[host][type][client].name == "scenario" %}
                    <a class="list-group-item" href="/scenario">
                  {% else %}
                    <a class="list-group-item" href="/core/{{ client_list_per_host_per_type[host][type][client]['type'] }}-{{ client_list_per_host_per_type[host][type][client]['name'] }}.{{ client_list_per_host_per_type[host][type][client]['host'] }}">
                  {% endif %}

                  <!-- icon -->
                  {% if client_list_per_host_per_type[host][type][client].name == "admin" %}
                    <i class="fa fa-shield"></i>
                  {% elif client_list_per_host_per_type[host][type][client].name == "butler" %}
                    <i class="fa fa-comments"></i>
                  {% elif client_list_per_host_per_type[host][type][client].name == "dbmgr" %}
                    <i class="fa fa-database"></i>
                  {% elif client_list_per_host_per_type[host][type][client].name == "scenario" %}
                    <i class="fa fa-cog"></i>
                  {% elif client_list_per_host_per_type[host][type][client].name == "xplgw" %}
                    <i class="fa fa-exchange"></i>
                  {% else %}
                    <i class="fa fa-question"></i>
                  {% endif %}
                {% elif type == "plugin" %}
                  <a class="list-group-item" href="/client/{{ client_list_per_host_per_type[host][type][client]['type'] }}-{{ client_list_per_host_per_type[host][type][client]['name'] }}.{{ client_list_per_host_per_type[host][type][client]['host'] }}">
                  <i class="fa fa-cube"></i>
                {% elif type == "brain" %}
                  <a class="list-group-item" href="/client/{{ client_list_per_host_per_type[host][type][client]['type'] }}-{{ client_list_per_host_per_type[host][type][client]['name'] }}.{{ client_list_per_host_per_type[host][type][client]['host'] }}">
                  <i class="fa fa-cogs"></i>
                {% elif type == "interface" %}
                  <a class="list-group-item" href="/client/{{ client_list_per_host_per_type[host][type][client]['type'] }}-{{ client_list_per_host_per_type[host][type][client]['name'] }}.{{ client_list_per_host_per_type[host][type][client]['host'] }}">
                  <i class="fa fa-comments"></i>
                {% else %}
                  <a class="list-group-item" href="#">
                  <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span> 
                {% endif %}

                <!-- text (name) -->
                  &nbsp;&nbsp;{{ client_list_per_host_per_type[host][type][client].name }}


                {# for a plugin for only external xpl clients, there is nothing to start so no status ;) #}
                {% if type == "plugin" and client_list_per_host_per_type[host][type][client]['xpl_clients_only'] == True %}
                  <span class="label label-info status status-label pull-right">n/a</span>
                {# Brain parts are not runnable, so no status #}
                {% elif type == "brain" %}
                  <span class="label label-info status status-label pull-right">n/a</span>
                {% else %}
                  <span id="status-{{host}}-{{type}}-{{client_list_per_host_per_type[host][type][client].name}}" class="label label-info status status-label status-{{client_list_per_host_per_type[host][type][client].status}} pull-right">{{client_list_per_host_per_type[host][type][client].status}}</span>
                {% endif %}
                </a>

                {% if type == "plugin" %}
                  {# if the client has some xpl client compliants possibilities, parse all the clients to check if it should be added below the client #}
                  {% for compliant in client_list_per_host_per_type[host][type][client]['compliant_xpl_clients'] %}
                    {# for the compliant xpl client, check if any client corresponds... and if so, display it #}
                    {% for a_client in clients %}
                      {% if a_client.split(".")[0] == compliant %}
                        <span class="list-group-item xpl_client_compliant" href="#">
                          <span class='glyphicon glyphicon-paperclip' aria-hidden='true'></span> 
                            <em>{{ a_client }}</em>
                          <span class="label label-info status status-label status-{{clients[a_client].status }} pull-right">{{ clients[a_client].status }}</span>
                        </span>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
      {% endfor %}

    {% else %}
        <div class="alert alert-warning">{% trans %}No clients found (even core components!): is Domogik manager running?{% endtrans %}</div>
    {% endif %}
</div>
<script type="text/javascript">
$( document ).ready(function() {
    ws.onmessage = function(e) {
        data = JSON.parse(e.data);
        if (data.msgid == "plugin.status") {
            msg = data.content;
            el = '#status-'+msg['host']+'-'+msg['type']+'-'+msg['name'];
            if ( $(el) ) {
                $(el).text(msg['event']);
                $(el).removeClass().addClass('label label-info status status-label status-'+msg['event']+' pull-right');
            }
        }
    }
});
</script>
{% endblock %}
