{% extends theme("base/base.html") %}
{% block content %}
<div class="container">
  <h1>{% trans %}Welcome to Domogik Admin{% endtrans %}</h1>
  <p>{% trans %}If this is your first time on Domogik, you should read the online documentation : {% endtrans %}
    <a href="http://docs.domogik.org/">http://docs.domogik.org/</a>.</p>
  <p>{% trans %}To sum up, you have to :{% endtrans %}</p>
  <ul>
    <li>{% trans %}Install some plugins.{% endtrans %}</li>
    <li>{% trans %}Create devices for these plugins.{% endtrans %}</li>
    <li>{% trans %}Go to Domoweb and set some widgets with your created devices.{% endtrans %}</li>
    <li>{% trans %}Enjoy !{% endtrans %}</li>
  </ul>

  <p>&nbsp;</p>
  <p>{% trans %}If you find a bug or need an improvment which is not related to a package (plugin, etc), please {% endtrans %}<a href="https://github.com/domogik/domogik/issues">{% trans %}open a ticket on our tracker{% endtrans %}</a>.</p>
  <p>{% trans %}If you find a bug or need an improvment about a package, please open a ticket in the package related GitHub tracker.{% endtrans %}</p>

  <h1>{% trans %}Configure DomoDroid{% endtrans %}</h1>
  <div id="qr"></div>
  <script type="text/javascript" src="static/js/qrcode.js"></script>
  <script type="text/javascript">
    $('#qr').qrcode("{{ qrdata|safe }}");
  </script>
</div>
{% endblock %}
