{% extends theme("base/base.html") %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD43wvlTg66qR_yPOQOgEG4zeSOMC_ubu4"></script>
<div class="container">
    <h1>{% trans %}Location{% endtrans %}</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center">
              <a id="start" class="btn btn-success" href="/locations/edit/0">{% trans %}Add a new location{% endtrans%}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% if locations|length == 0 %}
      <div class="alert alert-info" role="alert">{% trans %}No location have been defined yet!{% endtrans %}</div>
    {% else %}
      {% set index = 0 %}
      {% for data in locations %}
        {% if index % 3 == 0 %}
          <div class="row">
        {% endif %}
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="person-info">
                  <div class="pull-left photo">
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                  </div>
                  <div class="pull-right">
                    {% if data.isHome %}
                      <i class="fa fa-home fa-1x" aria-hidden="true"></i>
                    {% endif %}
                  </div>
                  <ul class="list-unstyled">
                    <li><strong>{{ data.name }}</strong></li>
                  </ul>
  
                  <div>
                      <a href="/locations/edit/{{ data.id }}" class="btn btn-default"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span> {% trans %}Edit{% endtrans %}</a>
                      <a data-toggle="confirmation" class="btn btn-default" data-placement="bottom" data-href="/locations/del/{{ data.id }}"><span class='glyphicon glyphicon-trash' aria-hidden='true'></span> {% trans %}Delete{% endtrans %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% if index % 3 == 2 %}
          </div>
        {% endif %}
        {% set index = index  + 1 %}
      {% endfor %}
      {% set index = index  - 1 %}
    {% endif %}

{{ persons }}
    <div id="map" style="width:100%; height:400px"></div>

    <script type="text/javascript">
        $( document ).ready( function () {

            // Init the map
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                scrollwheel: true,
                zoom: 10
            });

            //********* Place the locations
            {% for data in locations %}
                {% if data.lat != None and data.lng != None %}

                    //****** Add circles for radius
                    var locCircle = new google.maps.Circle({
                          strokeColor: '#0000FF',
                          strokeOpacity: 0.5,
                          strokeWeight: 1,
                          fillColor: '#0000FF',
                          fillOpacity: 0.15,
                          map: map,
                          center: {lat: {{ data.lat }}, lng: {{ data.lng }}},
                          radius: {% if data.radius == None %}1000{% else %}{{ data.radius | int }}{% endif %}
                        });
                    {% if data.isHome == True %}
                        map.panTo(new google.maps.LatLng({{ data.lat }}, {{ data.lng }}));
                    {% endif %}

                    //****** Add markers
                    var contentString{{ data.id }} = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">{{ data.name }}</h1>'+
                        '<div id="bodyContent">'+
                        '<ul>'+
                        '<li>{% trans %}Latitude{% endtrans %} : {{ data.lat }} </li>'+
                        '<li>{% trans %}Longitude{% endtrans %} : {{ data.lgn }} </li>'+
                        '<li>{% trans %}Radius{% endtrans %} : {{ data.radius }}m </li>'+
                        '</ul>'+
                        '</div>'+
                        '</div>';
                  
                    var infowindow{{ data.id }} = new google.maps.InfoWindow({
                      content: contentString{{ data.id }}
                    });
                  
                    var marker{{ data.id }} = new google.maps.Marker({
                      position: {lat: {{ data.lat }}, lng: {{ data.lng }}},
                      map: map,
                      {% if data.isHome == True %}
                          icon: '/static/images/map_house.png',
                      {% endif %}
                      title: '{{ data.name }}'
                    });
                    marker{{ data.id }}.addListener('click', function() {
                      infowindow{{ data.id }}.open(map, marker{{ data.id }});
                    });
                {% endif %}
            {% endfor %}


            //********* Place the persons
            {% for data in persons %}
                {% if data.lat != None and data.lng != None %}

                    //****** Add markers
                    var contentStringP{{ data.id }} = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">{{ data.first_name }} {{ data.last_name }}</h1>'+
                        '<div id="bodyContent">'+
                        '<ul>'+
                        '<li>{% trans %}Latitude{% endtrans %} : {{ data.lat }} </li>'+
                        '<li>{% trans %}Longitude{% endtrans %} : {{ data.lgn }} </li>'+
                        '</ul>'+
                        '</div>'+
                        '</div>';
                  
                    var infowindowP{{ data.id }} = new google.maps.InfoWindow({
                      content: contentStringP{{ data.id }}
                    });
                  
                    var markerP{{ data.id }} = new google.maps.Marker({
                      position: {lat: {{ data.lat }}, lng: {{ data.lng }}},
                      map: map,
                      label: '{{ data.first_name[0] }}',
                      title: '{{ data.first_name }} {{ data.last_name }}'
                    });
                    markerP{{ data.id }}.addListener('click', function() {
                      infowindowP{{ data.id }}.open(map, markerP{{ data.id }});
                    });
                {% endif %}
            {% endfor %}

        });
    </script>

</div>
{% endblock %}
