{% extends theme("base/base.html") %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD43wvlTg66qR_yPOQOgEG4zeSOMC_ubu4"></script>
<div class="container">
    <h1>{% trans %}Location{% endtrans %}</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center">
              <a id="start" class="btn btn-success" href="/locations/edit/0">{% trans %}Add a new location{% endtrans%}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% if locations|length == 0 %}
      <div class="alert alert-info" role="alert">{% trans %}No location have been defined yet!{% endtrans %}</div>
    {% else %}
      {% set index = 0 %}
      {% for data in locations %}
        {% if index % 3 == 0 %}
          <div class="row">
        {% endif %}
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="person-info">
                  <div class="pull-left photo">
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                  </div>
                  <div class="pull-right">
                    {% if data.isHome %}
                      <i class="fa fa-home fa-1x" aria-hidden="true"></i>
                    {% endif %}
                  </div>
                  <ul class="list-unstyled">
                    <li><strong>{{ data.name }}</strong></li>
                  </ul>
  
                  <div>
                      <a href="/locations/edit/{{ data.id }}" class="btn btn-default"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span> {% trans %}Edit{% endtrans %}</a>
                      <a data-toggle="confirmation" class="btn btn-default" data-placement="bottom" data-href="/locations/del/{{ data.id }}"><span class='glyphicon glyphicon-trash' aria-hidden='true'></span> {% trans %}Delete{% endtrans %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% if index % 3 == 2 %}
          </div>
        {% endif %}
        {% set index = index  + 1 %}
      {% endfor %}
      {% set index = index  - 1 %}
    {% endif %}

    <div id="map" style="width:100%; height:400px"></div>

    <script type="text/javascript">
        $( document ).ready( function () {
            // polylines colors : see https://www.w3schools.com/colors/colors_names.asp
            colors = ['#5F9EA0',
                      '#8A2BE2',
                      '#DC143C'];

            // Init the map
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                scrollwheel: true,
                zoom: 10
            });

            //********* Place the locations
            {% for data in locations %}
                {% if data.lat != None and data.lng != None %}

                    //****** Add circles for radius
                    var locCircle = new google.maps.Circle({
                          strokeColor: '#0000FF',
                          strokeOpacity: 0.5,
                          strokeWeight: 1,
                          fillColor: '#0000FF',
                          fillOpacity: 0.15,
                          map: map,
                          center: {lat: {{ data.lat }}, lng: {{ data.lng }}},
                          radius: {% if data.radius == None %}1000{% else %}{{ data.radius | int }}{% endif %}
                        });
                    {% if data.isHome == True %}
                        map.panTo(new google.maps.LatLng({{ data.lat }}, {{ data.lng }}));
                    {% endif %}

                    //****** Add markers
                    var contentString{{ data.id }} = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">{{ data.name }}</h1>'+
                        '<div id="bodyContent">'+
                        '<ul>'+
                        '<li>{% trans %}Latitude{% endtrans %} : {{ data.lat }} </li>'+
                        '<li>{% trans %}Longitude{% endtrans %} : {{ data.lgn }} </li>'+
                        '<li>{% trans %}Radius{% endtrans %} : {{ data.radius }}m </li>'+
                        '</ul>'+
                        '</div>'+
                        '</div>';
                  
                    var infowindow{{ data.id }} = new google.maps.InfoWindow({
                      content: contentString{{ data.id }}
                    });
                  
                    var marker{{ data.id }} = new google.maps.Marker({
                      position: {lat: {{ data.lat }}, lng: {{ data.lng }}},
                      map: map,
                      {% if data.isHome == True %}
                          icon: '/static/images/map_house.png',
                      {% endif %}
                      title: '{{ data.name }}'
                    });
                    marker{{ data.id }}.addListener('click', function() {
                      infowindow{{ data.id }}.open(map, marker{{ data.id }});
                    });
                {% endif %}
            {% endfor %}


            //********* Place the persons
            {% for data in persons %}
                // DEBUG : data = {{ data }}
                {% if data.lat != None and data.lng != None %}

                    //****** Add markers
                    var last_seen = new Date({{ data.last_seen }} * 1000).toLocaleString();
                    var contentStringP{{ data.id }} = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">{{ data.first_name }} {{ data.last_name }}</h1>'+
                        '<div id="bodyContent">'+
                        '<ul>'+
                        '<li>{% trans %}Last seen{% endtrans %} : ' + last_seen + ' </li>'+
                        '<li>{% trans %}Latitude{% endtrans %} : {{ data.lat }} </li>'+
                        '<li>{% trans %}Longitude{% endtrans %} : {{ data.lng }} </li>'+
                        '</ul>'+
                        '</div>'+
                        '</div>';
                  
                    var infowindowP{{ data.id }} = new google.maps.InfoWindow({
                      content: contentStringP{{ data.id }}
                    });
                  
                    var markerP{{ data.id }} = new google.maps.Marker({
                      position: {lat: {{ data.lat }}, lng: {{ data.lng }}},
                      map: map,
                      label: '{{ data.first_name[0] }}',
                      title: '{{ data.first_name }} {{ data.last_name }}'
                    });
                    markerP{{ data.id }}.addListener('click', function() {
                      infowindowP{{ data.id }}.open(map, markerP{{ data.id }});
                    });
                {% endif %}

                //********* Grab the history to display a polyline
                historyLen = 30;
                var polyline{{ data.id }} = [];
                var jqxhr = $.getJSON( "/rest/sensorhistory/id/{{ data.location_sensor }}/last/" + historyLen, function() {
                        console.log( "success" );
                    })
                    .done(function(data) {
                        for(idx=0;idx<data.length;idx++) {
                            polyline{{ data.id }}.push({lat: parseFloat(data[idx].value_str.split(",")[0]), lng: parseFloat(data[idx].value_str.split(",")[1]) });
                        }

                        lineColor = colors[{{ data.id }}%colors.length - 1];
                        /*
                        var pathOf{{ data.id }} = new google.maps.Polyline({
                          path: polyline{{ data.id }},
                          geodesic: true,
                          strokeColor: lineColor,
                          strokeOpacity: 1.0,
                          strokeWeight: 2
                        });
                        pathOf{{ data.id }}.setMap(map);
                        */

                        var colorGradient = generateColor('#ffffff', lineColor , historyLen);
                        console.log(colorGradient);
                        for (var i = 0; i < polyline{{ data.id }}.length-1; i++) {
                          console.log(i);
                          var PathStyle = new google.maps.Polyline({
                            path: [polyline{{ data.id }}[i], polyline{{ data.id }}[i+1]],
                            strokeColor: "#"+colorGradient[i],
                            strokeOpacity: 1.0,
                            strokeWeight: 8*(1-(i/historyLen)),
                            map: map
                          });
                        }

                    })
                    .fail(function() {
                        console.log( "error" );
                    })
                    .always(function() {
                        console.log( "complete" );
                    });



            {% endfor %}

        });





function hex (c) {
  var s = "0123456789abcdef";
  var i = parseInt (c);
  if (i == 0 || isNaN (c))
    return "00";
  i = Math.round (Math.min (Math.max (0, i), 255));
  return s.charAt ((i - i % 16) / 16) + s.charAt (i % 16);
}

/* Convert an RGB triplet to a hex string */
function convertToHex (rgb) {
  return hex(rgb[0]) + hex(rgb[1]) + hex(rgb[2]);
}

/* Remove '#' in color hex string */
function trim (s) { return (s.charAt(0) == '#') ? s.substring(1, 7) : s }

/* Convert a hex string to an RGB triplet */
function convertToRGB (hex) {
  var color = [];
  color[0] = parseInt ((trim(hex)).substring (0, 2), 16);
  color[1] = parseInt ((trim(hex)).substring (2, 4), 16);
  color[2] = parseInt ((trim(hex)).substring (4, 6), 16);
  return color;
}

function generateColor(colorStart,colorEnd,colorCount){

	// The beginning of your gradient
	var start = convertToRGB (colorStart);    

	// The end of your gradient
	var end   = convertToRGB (colorEnd);    

	// The number of colors to compute
	var len = colorCount;

	//Alpha blending amount
	var alpha = 0.0;

	var saida = [];
	
	for (i = 0; i < len; i++) {
		var c = [];
		alpha += (1.0/len);
		
		c[0] = start[0] * alpha + (1 - alpha) * end[0];
		c[1] = start[1] * alpha + (1 - alpha) * end[1];
		c[2] = start[2] * alpha + (1 - alpha) * end[2];

		saida.push(convertToHex (c));
		
	}
	
	return saida;
	
}




///////////////////////// DELETE /////////////////////////
/**
 * Converts an RGB color value to HSL. Conversion formula
 * adapted from http://en.wikipedia.org/wiki/HSL_color_space.
 * Assumes r, g, and b are contained in the set [0, 255] and
 * returns h, s, and l in the set [0, 1].
 *
 * @param   Number  r       The red color value
 * @param   Number  g       The green color value
 * @param   Number  b       The blue color value
 * @return  Array           The HSL representation
 */
function rgbToHsl(r, g, b){
    r /= 255, g /= 255, b /= 255;
    var max = Math.max(r, g, b), min = Math.min(r, g, b);
    var h, s, l = (max + min) / 2;

    if(max == min){
        h = s = 0; // achromatic
    }else{
        var d = max - min;
        s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
        switch(max){
            case r: h = (g - b) / d + (g < b ? 6 : 0); break;
            case g: h = (b - r) / d + 2; break;
            case b: h = (r - g) / d + 4; break;
        }
        h /= 6;
    }

    return [h, s, l];
}

/**
 * Converts an HSL color value to RGB. Conversion formula
 * adapted from http://en.wikipedia.org/wiki/HSL_color_space.
 * Assumes h, s, and l are contained in the set [0, 1] and
 * returns r, g, and b in the set [0, 255].
 *
 * @param   Number  h       The hue
 * @param   Number  s       The saturation
 * @param   Number  l       The lightness
 * @return  Array           The RGB representation
 */
function hslToRgb(h, s, l){
    var r, g, b;

    if(s == 0){
        r = g = b = l; // achromatic
    }else{
        function hue2rgb(p, q, t){
            if(t < 0) t += 1;
            if(t > 1) t -= 1;
            if(t < 1/6) return p + (q - p) * 6 * t;
            if(t < 1/2) return q;
            if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
            return p;
        }

        var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
        var p = 2 * l - q;
        r = hue2rgb(p, q, h + 1/3);
        g = hue2rgb(p, q, h);
        b = hue2rgb(p, q, h - 1/3);
    }

    return [r * 255, g * 255, b * 255];
}
    </script>

</div>
{% endblock %}
