{% extends theme("base/base.html") %}
{% block content %}
<div class="login center-block">
	<h1>
		<img src="/static/images/dmg-logo.png" alt="">
		<strong>Domogik</strong> Admin
	</h1>
	<div class="box">
	    <form method="post" role="form" class="form-vertical login-form">
	        <div class="form-title">{% trans %}Please enter username and password{% endtrans %}</div>
	        <div class="form-group">
	    		<label for="user" class="sr-only">Username</label>
	        <div class="input-group">
	            <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden='true'></span></span>
	                <input type="text" placeholder="Username" class="form-control" name="user" id="user">
	        </div></div>
	        <div class="form-group">
	    		<label for="passwd" class="sr-only">Username</label>
	        <div class="input-group">
	            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden='true'></span></span>
	                <input type="password" placeholder="Password" class="form-control" name="passwd" id="passwd">
	        </div></div>
	                <div class="form-group">

	        <div class="form-actions clearfix">
	            <button class="submit btn btn-primary pull-right" type="submit">Sign In <span class="glyphicon glyphicon-chevron-right" aria-hidden='true'></span> 
	            </button>
	        </div></div>
	    </form>
	</div>
</div>

{% endblock %}
