{% extends theme("base/base.html") %}

{% block content %}
<div class="container">
    <h1>{% trans %}Scenarios{% endtrans %}</h1>
    <a id="start" class="btn btn-info" href="/scenario/edit/0">{% trans %}Create a new scenario{% endtrans%}</a>
    <p></p>
    {% if scenarios|length > 0 %}
      <div class="list-group">
        {% for data in scenarios %}
          <div class="list-group-item clearfix">
            <a href="/scenario/edit/{{ data.cid }}">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              {{ data.name }}
            </a>
            <span class="pull-right">
                <a class="btn btn-default btn-xs testactions" data-cid="{{ data.cid }}">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                  {% trans %}Test actions{% endtrans %}
                </a>
                <a href="/scenario/clone/{{ data.cid }}" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                  {% trans %}Clone{% endtrans %}
                </a>
            </span>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning">{% trans %}There is no scenario yet{% endtrans %}</div>
    {% endif %}
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        $(".testactions").click(function() {
            console.log("testa ctions request");
            ws.send('{"dst": "scenario", "mq_request": "scenario.test_actions", "data": {cid" : "'+ $(this).attr("data-cid") + '"}}');
            console.log("ws send done");
        });
    });
</script>
{% endblock %}
