{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
<div class="container">
  <h1>{% trans %}Edit scenario{% endtrans %}</h1>

  <nav class="navbar navbar-default">
  <form method="post" role="form" class="navbar-form navbar-left">
    {{ form.csrf_token }}
    {{ form.sid }}
    {{ form.sjson }}
    <div class="form-group form-group">
      {{ form.sname(class_="form-control input-lg") }}
    </div>
    <button type="submit" class="btn btn-info">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% trans %}Save{% endtrans %}
    </button>
    <a class="btn btn-default" data-toggle="confirmation" data-placement="bottom" data-href="/scenario/del/{{ scenario_id }}">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {% trans %}Delete{% endtrans %}
    </a>
  </form>
  </nav>

  <div id="blocklyArea"></div>

  <!-- <pre>{{ jso }}</pre> -->
  <!-- <div id="blocklyDiv" style="position: absolute; top: 200px; left: 200px; height: 300px; width: 900px;"></div> -->
  <div id="blocklyDiv" style="position: absolute; width: 50%;"></div>
  <xml id="toolbox" style="display: none">
    <category name="Logic">
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="math_round"></block>
        <block type="math_modulo"></block>
        <block type="math_arithmetic"></block>
    </category>
    <category name="Tests">
        {% for t in tests %}
            <block type="{{ t }}"></block>
        {% endfor %}
    </category>
    <category name="Actions">
        {% for a in actions %}
            <block type="{{ a }}"></block>
        {% endfor %}
    </category>
    <category name="Sensors">
        {% for sen_client in sensors %}
            <category name="{{ sen_client }}">
            {% for sen_device in sensors[sen_client] %}
                <category name="{{ sen_device }}">
                {% for sen_name in sensors[sen_client][sen_device] %}
                    <category name="{{ sen_name }}">
                        <block type="sensor_{{ sensors[sen_client][sen_device][sen_name] }}"></block>
                    </category>
                {% endfor %}
                </category>
            {% endfor %}
            </category>
        {% endfor %}
    </category>
  </xml>
  <script type="text/javascript" src="/static/libraries/blockly/blockly_compressed.js"></script>
  <script type="text/javascript" src="/static/libraries/blockly/blocks_compressed.js"></script>

  <script type="text/javascript" src="/static/libraries/blockly/core/field_externaltextinput.js"></script>

  <script type="text/javascript" src="/static/libraries/blockly/msg/js/en.js"></script>
  <script type="text/javascript" src="/static/js/blockly_json.js"></script>
  <script type="text/javascript" src="/scenario/blocks/actions"></script>
  <script type="text/javascript" src="/scenario/blocks/tests"></script>
  <script type="text/javascript" src="/scenario/blocks/sensors"></script>
  <script type="text/javascript">
    var blocklyArea = document.getElementById('blocklyArea');
    var blocklyDiv = document.getElementById('blocklyDiv');

    Blockly.Blocks['dom_condition'] = {
      init: function() {
        this.setColour(210);
        this.appendValueInput('IF')
            .setCheck('Boolean')
            .appendField('When');
        this.appendStatementInput('DO')
            .appendField('Do');
        this.setPreviousStatement(false);
        this.setNextStatement(true);
        this.setDeletable(false);
        this.contextMenu = false;
        this.setInputsInline(false);
      }
    };
    var workspace = Blockly.inject(
        document.getElementById('blocklyDiv'),
        {
            path: '../../',
            toolbox: document.getElementById('toolbox')
        }
    );
    function onchange() {
      $('#sjson').val( Blockly.JSON.workspaceToJson(Blockly.getMainWorkspace()) );
    }
    Blockly.addChangeListener(onchange);
    //var json = JSON.parse('{"type":"dom_condition","id":"1","IF":{"type":"logic_operation","id":"10","OP":"AND","A":{"type":"cron.CronTest","id":"18","cron":"None"},"B":{"type":"textinpage.TextInPageTest","id":"22","urlpath":"None","text":"None"}},"DO":{"type":"log.LogAction","id":"28","message":"test"},"deletable":false}');
    //var json = JSON.parse('{"type":"dom_condition","id":"1","deletable":false}');
    {% autoescape false %}
    var json = JSON.parse('{{ jso }}');
    {% endautoescape %}
    Blockly.JSON.jsonToWorkspace(Blockly.getMainWorkspace(), json);

    var onresize = function(e) {
      // Compute the absolute coordinates and dimensions of blocklyArea.
      var element = blocklyArea;
      var x = 0;
      var y = 0;
      do {
        x += element.offsetLeft;
        y += element.offsetTop;
        element = element.offsetParent;
      } while (element);
      // Position blocklyDiv over blocklyArea.
      blocklyDiv.style.left = x + 'px';
      blocklyDiv.style.top = y + 'px';
      blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
      blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
    };
    window.addEventListener('resize', onresize, false);
    onresize();
  </script>
 
</div>
{% endblock %}
