{% extends theme("base/base.html") %}

{% block content %}
<div class="container">
    <h1>{% trans %}Scenario examples{% endtrans %}</h1>

    <h2>{% trans %}Basic rules{% endtrans %}</h2>
    <ul>
      <li>#1 - {% trans %}<strong>if</strong> and <strong>else if</strong> are conditions. If the condition described is correct (true), the <strong>do</strong> part will be executed : the executed steps are called the <strong>actions</strong>.{% endtrans %}</li>
      <li>#2 - {% trans %}If you compare <strong>float</strong> numbers, even if you use the comma "<strong>,</strong>" separator in your country, you must use the dot "<strong>.</strong>" separator in the scenarios.{% endtrans %}</li>
      <li>#3 - {% trans %}<strong>A condition is evaluated each time one of its element changes</strong>. For example if you have an element <strong>current time</strong> and a <strong>device sensor</strong>, the condition can be evaluated once or more in the same minute if the device sensor value change one or more time : <em>1 current time evaluation + N device sensor changes of value</em>.{% endtrans %}</li>
      <li>#4 - {% trans %}Because of the <strong>rule #2</strong>, the actions related to one condition may be executed each time the condition is true.{% endtrans %}</li>
      <ul>
        <li>{% trans %}You may not want the actions to be executed each time : for example, you want to do an action only once when a temperature sensor is higher than 20 degrees. To handle this usage you will have to use an <strong>hysteresis</strong> block on top of your action blocks.{% endtrans %}</li>
        <li>{% trans %}The <strong>hysteresis</strong> block will make your scenario remind which block of actions was executed the last time : the next time a condition will be true, if the related actions were already executed once, they will not be executed.{% endtrans %}</li>
        <li>{% trans %}This means that <strong>you will need to have at least 2 hysteresis block in a scenario</strong>. Else, your scenario actions will be executed only once!{% endtrans %}</li>
      </ul>

      <li>#5 - {% trans %}<em>"Keep it simple, stupid"</em>. The more a scenario will be complex, the more it will be hard for you to maintain it a few monthes after.{% endtrans %}</li>
    </ul>

<!--
    <h2>{% trans %}xxxx{% endtrans %}</h2>
    <div class="scenario-sample">
      <img src="/static/images/help/scenario/example_xxx.png">
      <h3>{% trans %}Prerequisites{% endtrans %}</h3>
      <ul>
        <li>{% trans %}xxxx{% endtrans %}</li>
      </ul>
      <h3>{% trans %}Description{% endtrans %}</h3>
      <p>{% trans %}xxxx{% endtrans %}</p>
    </div>
-->

    <h2>{% trans %}Sunrise related actions{% endtrans %}</h2>
    <div class="scenario-sample">
      <img src="/static/images/help/scenario/example_sunrise_01.png">
      <h3>{% trans %}Prerequisites{% endtrans %}</h3>
      <ul>
        <li>{% trans %}Package <strong>domogik-plugin-weather</strong>{% endtrans %}</li>
      </ul>
      <h3>{% trans %}Description{% endtrans %}</h3>
      <p>{% trans %}15 minutes before the sunrise, execute some actions.{% endtrans %}</p>
      <p>{% trans %}The <strong>hysteresis</strong> block is needed to avoid a double execution of the actions.{% endtrans %}</p>
    </div>

    <h2>{% trans %}Be caution with the hysteresis block!{% endtrans %}</h2>
    <div class="scenario-sample">
      <h3>{% trans %}What you must not do{% endtrans %}</h3>
      <img src="/static/images/help/scenario/example_hysteresis_01b.png">
      <h3>{% trans %}What is good{% endtrans %}</h3>
      <img src="/static/images/help/scenario/example_hysteresis_02.png">
      <h3>{% trans %}Explanation{% endtrans %}</h3>
      <p>{% trans %}Each hysteresis block has its own unique identifier. When a hysteresis block is called, its identifier is stored in the scenario engine as the last hysteresis identifie encountered while running some actions for the scenario. The next time the scenario is triggered, when a hysteresis block is called, it checks first if the last identifier stored is the same as the hysteresis block. If it is the same, this hysteresis block will not be processed.{% endtrans %}</p>
      <p>{% trans %}<strong>You should never use hysteresis block in different <em>IF</em> blocks</strong> : instead you should try to adapt your scenario to use them in the same <strong>IF</strong> block.{% endtrans %}</p>
    </div>
</div>
{% endblock %}
