{% extends theme("base/base.html") %}

{% block content %}
<div class="container">
    <h1>{% trans %}Scenarios{% endtrans %}</h1>
    <a id="start" class="btn btn-info" href="/scenario/edit/0">{% trans %}Create a new scenario{% endtrans%}</a>
    <p></p>
    {% if scenarios|length > 0 %}
      <ul class="list-group">
        {% for data in scenarios %}
          <li class="list-group-item">
            <a href="/scenario/edit/{{ data.cid }}">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              {{ data.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-warning">{% trans %}There is no scenario yet{% endtrans %}</div>
    {% endif %}
</div>
{% endblock %}
