{% extends theme("base/base.html") %}

{% block content %}
<div class="container">
    <h1>{% trans %}Scenarios{% endtrans %}</h1>
    <a id="start" class="btn btn-info" href="/scenario/edit/0">{% trans %}Create a new scenario{% endtrans%}</a>
    <p></p>
    {% if scenarios|length > 0 %}
      <div class="list-group">
        {% for data in scenarios %}
          <div class="list-group-item clearfix">
            <a href="/scenario/edit/{{ data.cid }}">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              {{ data.name }}
            </a>
            <span class="pull-right">
            <a href="/scenario/clone/{{ data.cid }}" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
              {% trans %}Clone{% endtrans %}
            </a>
            </span>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning">{% trans %}There is no scenario yet{% endtrans %}</div>
    {% endif %}
</div>
{% endblock %}
