{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
<div class="container">
  <h1>{% trans %}Edit scenario{% endtrans %}</h1>

  <nav class="navbar navbar-default">
  <form method="post" role="form" class="navbar-form navbar-left">
    {{ form.csrf_token }}
    {{ form.sid }}
    {{ form.sjson }}
    <div class="form-group form-group">
      {{ form.sname(class_="form-control input-lg") }}
    </div>
    <button type="submit" class="btn btn-info">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% trans %}Save{% endtrans %}
    </button>
    <a class="btn btn-default" data-toggle="confirmation" data-placement="bottom" data-href="/scenario/del/{{ scenario_id }}">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {% trans %}Delete{% endtrans %}
    </a>
    {{ form.sdis(class_="form-control input-lg") }}
    {{ form.sdesc(class_="form-control input-lg") }}
  </form>
  </nav>

  <div id="blocklyArea"></div>

  <!-- <pre>{{ jso }}</pre> -->
  <!-- <div id="blocklyDiv" style="position: absolute; top: 200px; left: 200px; height: 300px; width: 900px;"></div> -->
  <div id="blocklyDiv" style="position: absolute; width: 50%;"></div>
  <xml id="toolbox" style="display: none">
    <category name="Logic">
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
    </category>
    <category name="Tests">
        {% for t in tests %}
            <block type="{{ t }}"></block>
        {% endfor %}
    </category>
    <category name="Actions">
        {% for a in actions %}
            <block type="{{ a }}"></block>
        {% endfor %}
    </category>
    <category name="Datatypes">
        {% for d in datatypes %}
            <block type="{{ d }}"></block>
        {% endfor %}
    </category>
    <category name="Devices">
        {% for dev_client in devices_per_clients %}
            <category name="{{ dev_client }}">
            {% for dev in devices_per_clients[dev_client] %}
                <category name="{{ dev }}">
                    {% if devices_per_clients[dev_client][dev]['sensors']|length > 0 %}
                    <category name="Sensors">
                    {% for sen_name in devices_per_clients[dev_client][dev]['sensors'] %}
                        <block type="sensor.SensorTest.{{ devices_per_clients[dev_client][dev]['sensors'][sen_name] }}"></block>
                    {% endfor %}
                    </category>
                    {% endif %}
                    {% if devices_per_clients[dev_client][dev]['commands']|length > 0 %}
                    <category name="Commands">
                    {% for cmd_name in devices_per_clients[dev_client][dev]['commands'] %}
                        <block type="command.CommandAction.{{ devices_per_clients[dev_client][dev]['commands'][cmd_name] }}"></block>
                    {% endfor %}
                    </category>
                    {% endif %}
                </category>
            {% endfor %}
            </category>
        {% endfor %}
    </category>
  </xml>
  <script type="text/javascript" src="/static/libraries/blockly/blockly_compressed.js"></script>
  <script type="text/javascript" src="/static/libraries/blockly/blocks_compressed.js"></script>
  <script type="text/javascript" src="/static/libraries/blockly/msg/js/en.js"></script>
  <script type="text/javascript" src="/static/js/blockly_json.js"></script>
  <script type="text/javascript" src="/scenario/blocks/actions"></script>
  <script type="text/javascript" src="/scenario/blocks/tests"></script>
  <script type="text/javascript" src="/scenario/blocks/devices"></script>
  <script type="text/javascript">
    var blocklyArea = document.getElementById('blocklyArea');
    var blocklyDiv = document.getElementById('blocklyDiv');

    Blockly.Blocks['dom_condition'] = {
      init: function() {
        this.setColour(210);
        this.appendValueInput('IF')
            .setCheck('Boolean')
            .appendField('When');
        this.appendStatementInput('DO')
            .appendField('Do');
        this.setPreviousStatement(false);
        this.setNextStatement(true);
        this.setDeletable(false);
        this.contextMenu = false;
        this.setInputsInline(false);
      }
    };
    var workspace = Blockly.inject('blocklyDiv',
        {
            media: '../../static/libraries/blockly/media/',
            toolbox: document.getElementById('toolbox')
        }
    );
    function onchange() {
      $('#sjson').val( Blockly.JSON.workspaceToJson(Blockly.getMainWorkspace()) );
    }
    workspace.addChangeListener(onchange);
    $(document).ready(function() {        
        {% autoescape false %}
        var json = JSON.parse('{{ jso }}');
        {% endautoescape %}
        Blockly.JSON.jsonToWorkspace(Blockly.getMainWorkspace(), json);
    });

    var onresize = function(e) {
      // Compute the absolute coordinates and dimensions of blocklyArea.
      var element = blocklyArea;
      var x = 0;
      var y = 0;
      do {
        x += element.offsetLeft;
        y += element.offsetTop;
        element = element.offsetParent;
      } while (element);
      // Position blocklyDiv over blocklyArea.
      blocklyDiv.style.left = x + 'px';
      blocklyDiv.style.top = y + 'px';
      blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
      blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
    };
    window.addEventListener('resize', onresize, false);
    onresize();
  </script>
 
</div>
{% endblock %}
