{% extends theme("base/base.html") %}

{% block content %}
<div class="container">
    <h2>{% trans %}Upgrade Device{% endtrans %}</h2>
    Device inconsistencies between Domogik ({{ oldversion }}) and the plugin ({{ newversion }})<br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Action</th>
                <th>Item</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
        {% for ac in actions.keys() %}
            {% for data in actions[ac].items() %}
                {% for data2 in data[1] %}
                    <tr>
                        <td>{{ ac }}</td>
                        <td>{{ data[0] }}</td>
                        <td>{{ data2 }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <br />
    <h3>How to upgrade this device</h3>
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1- Create a new device{% if step > 1 %}<div class="pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>{% endif %}
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse{% if step == 1 %} show{% endif %}" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          We first create a new device with all the new info, so the new device will be compatible with the new plugin version.<br />
          In the new device wizard we will pre-fill all the fields we can pre-fil<br /><br />
          <a class="btn btn-default" href="/client/{{ clientid }}/dmg_devices/new/type/{{ devtype }}/base/{{ devid }}">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> {% trans %}Copy device{% endtrans %}
          </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
            2- Migrate sensors{% if step > 2 %}<div class="pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>{% endif %}
        </a>
      </h5>
    </div>
    <div id="collapse2" class="collapse{% if step == 2 %} show{% endif %}" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          TODO
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseTwo">
            3- Wait for cron trigger{% if step > 3 %}}<div class="pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>{% endif %}
        </a>
      </h5>
    </div>
    <div id="collapse3" class="collapse{% if step == 3 %} show{% endif %}" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          TODO
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
            4- Delete the old device{% if step > 4 %}}<div class="pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>{% endif %}
        </a>
      </h5>
    </div>
    <div id="collapse4" class="collapse{% if step == 4 %} show{% endif %}" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          In this step we delete the old device, as this device has no linked sensors anymore we will not loose data.<br />
          <a class="btn btn-default" data-toggle="confirmation" data-placement="bottom" data-href="/client/{{ clientid }}/dmg_devices/delete/{{ devid }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {% trans %}Delete device{% endtrans %}
          </a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
