{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
<div class="container">
  {% if personid == "0" %}
    <h1>{% trans %}New User{% endtrans %}</h1>
  {% else %}
    {% if lock_edit == True %}
      <h1>{% trans %}Locked user{% endtrans %}</h1>
    {% else %}
      <h1>{% trans %}Edit the user{% endtrans %}</h1>
    {% endif %}
  {% endif %}

  {% if lock_edit == True %}
    <div class="alert alert-info" role="alert">{% trans %}This technical user is locked and cannot be edited!{% endtrans %}</div>
  {% else %}
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
  {% endif %}
 
    <script type="text/javascript">
        $( document ).ready( function () {
		$('#birthdate').datepicker({'format': 'yyyy-mm-dd'})
	})
    </script>
</div>
{% endblock %}
