{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
<div class="container">
  {% if lock_edit == True %}
    <h1>{% trans %}Locker user{% endtrans %} : {{ last_name }} {{ first_name }} ({{ login }})</h1>
  {% else %}
    <h1>{% trans %}Change the password for{% endtrans %} : {{ last_name }} {{ first_name }} ({{ login }})</h1>
  {% endif %}

  {% if lock_edit == True %}
    <div class="alert alert-info" role="alert">{% trans %}This technical user is locked and the password can't be changed!{% endtrans %}</div>
  {% else %}
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.password2) }}
      {{ wtf.form_field(form.submit) }}
    </form>
  {% endif %}
</div>
{% endblock %}
