.dmg_1x1_basicCommandRange .widget_value {
    float:left;
    display:inline-block;
    width: 45px;
    height: 45px;
    text-align:right;
    background-position: center center;
    background-repeat: no-repeat;
}

.dmg_1x1_basicCommandRange .indicator {
	position:absolute;
	top:-2.7em;
	left:-2.8em;
    display:none;
    z-index:21;
}

.dmg_1x1_basicCommandRange.opened .indicator {
    display:block;
}

.dmg_1x1_basicCommandRange .icon16-action-up { background-image:url(images/up_16.png);}
.dmg_1x1_basicCommandRange .icon16-action-down { background-image:url(images/down_16.png);}
.dmg_1x1_basicCommandRange .icon16-action-max { background-image:url(images/max_16.png);}
.dmg_1x1_basicCommandRange .icon16-action-min { background-image:url(images/min_16.png);}
