{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>Domogik</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ theme_static('dmg-logo.ico') }}">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{ theme_static('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ theme_static('css/datepicker.css') }}" rel="stylesheet" media="screen">
    <link href="{{ theme_static('css/datepicker.css') }}" rel="stylesheet" media="screen">
    <link href="{{ theme_static('libraries/pnotify/pnotify.min.css') }}" rel="stylesheet" media="screen">
    <!-- hopscotch (product tour) -->
    <link href="{{ theme_static('libraries/hopscotch/css/hopscotch.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ theme_static('libraries/hopscotch/js/hopscotch.min.js') }}"></script>
    <!-- font-awesome -->
    <link href="{{ theme_static('libraries/font-awesome-4.5.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
    <!-- Domogik -->
    <link href="{{ theme_static('css/default.css') }}" rel="stylesheet" media="screen">
       <script type="text/javascript">
	 if ("WebSocket" in window) {
            if (window.location.protocol == "http:")
                protocol = "ws:"
            else
                protocol = "wss:"
            var ws = new WebSocket(protocol + "//" + location.hostname + ":{{ ws_port }}/ws");
	} else {
            alert('No websocket support in this browser. Please use another browser.');
	}

        function waitForSocketConnection(socket, callback){
            setTimeout(
                function () {
                    if (socket.readyState === 1) {
                        console.log("WS Connection is made")
                        if(callback != null){
                            callback();
                        }
                        return;
        
                    } else {
                        console.log("WS wait for connection...")
                        waitForSocketConnection(socket, callback);
                    }
        
                }, 50); // wait 5 milisecond for the connection...
        }

    ws.onopen = function(evt) {
        console.log("WS opened");
    }

    ws.onerror = function(evt) {
        console.log("WS in error");
    }

    ws.onclose = function(evt) {
        console.log("WS closed");
    }

       </script>
   <script src="{{ theme_static('js/jquery.min.js') }}"></script>
   <script src="{{ theme_static('js/jquery.cookie.js') }}"></script>
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    <div id="now"></div>
    {% block body -%}
    {% block navbar %}
        {% if not nonav %}
        {% include theme("base/nav.html") %}
        {% endif %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}
    {% block scripts %}
    <script src="{{ theme_static('js/bootstrap.min.js') }}"></script>
    <script src="{{ theme_static('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ theme_static('js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ theme_static('js/bootstrap-confirmation.js') }}"></script>
    <script src="{{ theme_static('libraries/pnotify/pnotify.min.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script type="text/javascript">
           {% for category, message in messages: %}
            var delay = 2400;
            var delayCoeff = (({{ message|length }} + 50)/250)+1;  // Minimun char 50, double time every 250 char
            if ('{{ category }}' == 'warning') {
                delay += 1500;
            } else if ('{{ category }}' == 'danger') {
                    delay += 2400;
            };
            PNotify.prototype.options.delay = parseInt(delay * delayCoeff);
            new PNotify({
                text: '{{ message }}',
                type: '{{ category }}',
                buttons: {
                    close: false,
                    sticker: false
                }
            });
            {% endfor %}
            </script>
    {% endif %}
    {% endwith %}
      <script type="text/javascript">
        $('[data-toggle="confirmation"]').confirmation();
      </script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
