<nav class="navbar navbar-dmg navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="admin">Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if mactive == "clients" %} class="active" {% endif %} id="clients"><a href="/clients"><i class="fa fa-cubes"></i> {% trans %}Clients{% endtrans %}</a></li>
        <li{% if mactive == "scenario" %} class="active" {% endif %}><a href="/scenario"><i class="fa fa-cog"></i> {% trans %}Scenarios{% endtrans %}</a></li>
        <li class="dropdown{% if mactive == "timeline" or mactive == "battery" or mactive == "orphans" or mactive == "datatypes" %} active{% endif %}" id="views">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i> {% trans %}Views{% endtrans %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li{% if mactive == "timeline" %} class="active" {% endif %} id="timeline"><a href="/timeline"><i class="fa fa-clock-o"></i> {% trans %}Timeline{% endtrans %}</a></li>
            <li{% if mactive == "battery" %} class="active" {% endif %} id="battery"><a href="/battery"><i class="fa fa-battery-full"></i> {% trans %}Battery{% endtrans %}</a></li>
            <li{% if mactive == "orphans" %} class="active" {% endif %} id="orphans"><a href="/orphans"><i class="fa fa-chain-broken"></i> {% trans %}Orphan Domogik devices{% endtrans %}</a></li>
            <li{% if mactive == "datatypes" %} class="active" {% endif %} id="datatypes"><a href="/datatypes"><i class="fa fa-database"></i> {% trans %}Domogik Data Types{% endtrans %}</a></li>
          </ul>
        </li>
        <li{% if mactive == "users" %} class="active" {% endif %} id="users"><a href="/users"><i class="fa fa-users"></i> {% trans %}Users{% endtrans %}</a></li>
        <li{% if mactive == "locations" %} class="active" {% endif %} id="locations"><a href="/locations"><i class="fa fa-map-marker"></i> {% trans %}Locations{% endtrans %}</a></li>
        <li{% if mactive == "config" %} class="active" {% endif %} id="config"><a href="/config"><i class="fa fa-pencil-square-o"></i> {% trans %}Global Config{% endtrans %}</a></li>
        <li{% if mactive == "apidoc" %} class="active" {% endif %} id="api"><a href="/apidoc"><i class="fa fa-book"></i> {% trans %}Rest and MQ API{% endtrans %}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><i class="fa fa-sign-out"></i> {% trans %}Logout{% endtrans%}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
