<style>

/*
// BEFORE    | AFTER
// #3594cb   | 
// afdcf8    | #005774
*/

.cbp_tmtimeline {
    font-size: 0.8em;
    word-wrap: break-word;


    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 1.3em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 0.7em;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1;
    position: relative;
    border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 { 
    margin-top: 0px;
    padding: 0 0 0px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.cbp_tmtimeline > li .cbp_tmlabel h3 a { 
    color: #ffffff;
}
.cbp_tmtimeline > li .cbp_tmlabel h3 small { 
    color: #ffffff;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    //font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}

/*
.cbp_tmicon-phone:before {
    content: "\e000";
}

.cbp_tmicon-screen:before {
    content: "\e001";
}

.cbp_tmicon-mail:before {
    content: "\e002";
}

.cbp_tmicon-earth:before {
    content: "\e003";
}
*/

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }    
}


/*** specific DMG ***/
.dt_image {
    max-width: 80%;
    margin-left: 10%;
}
</style>

<div class="container">
    <h2>{% trans %}Timeline{% endtrans %}{% if device_name is not none %} - {{ device_name }}{% endif %}</h2>

    {% if timeline|length > 0 %}
        <ul class="cbp_tmtimeline">
        {% for elt in timeline %}
        <li>
            <time class="cbp_tmtime" datetime="{{ elt.datetime }}"><span>{{ elt.date }}</span> <span>{{ elt.time }}</span></time>
            <div class="cbp_tmicon"> </div>
            <div class="cbp_tmlabel">
                <h3><a href="/timeline/device/{{elt.device_id}}">{{ elt.device_name }}</a> <small>({{ elt.client }})</small></h3>
                {% for sensor in elt.sensors_changes %}
                    <p>
                        {{ sensor.sensor_name }} : {{ sensor.value }} {% if sensor.unit is not none %}{{ sensor.unit }}{% endif %}
                        {% if datatypes[sensor.dt_type] is not defined %}
                            <div class="alert alert-warning" role="alert">
                            <strong>{% trans %}Warning{% endtrans %}</strong> :
                            {% trans %}The datatype used by this command is no more compliant with this release of Domogik. You may consider to upgrade this plugin and if needed, recreate this device.{% endtrans %}
                            </div>
                        {% else %}

                            {% if sensor.dt_type == "DT_Bool" or datatypes[sensor.dt_type]['parent'] == "DT_Bool" %}
                                <em>( {{ datatypes[sensor.dt_type]['labels'][sensor.value] }} )</em>
                            {% elif sensor.dt_type == "DT_ColorRGBHexa" or datatypes[sensor.dt_type]['parent'] == "DT_ColorRGBHexa" %} 
                                <span class='glyphicon glyphicon-tint' aria-hidden='true' style="color:#{{sensor.value}}"></span>
                            {% elif sensor.dt_type == "DT_Image" or datatypes[sensor.dt_type]['parent'] == "DT_Image" %} 
                                <div>
                                  <img class="dt_image" src="{{sensor.value | replace("publish://", "/rest/publish/")}}"/>
                                </div>
                            {% elif sensor.dt_type == "DT_VideoH264" %} 
                                <div>
                                  <a class="btn btn-default" href="{{sensor.value | replace("publish://", "/rest/publish/")}}"><span class='glyphicon glyphicon-facetime-video' aria-hidden='true'></span> {% trans %}Read the video file{% endtrans %}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-warning">{% trans %}No history found!{% endtrans %}</div>
    {% endif %}
</div>
