{% comment %}
<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-12-17 22:04:24 +0100 (mer. 17 déc. 2008) $
# $LastChangedRevision: 280 $
-->
{% endcomment %}

{% for property in device.deviceproperty_set.all %}
	<input id="id_key{{ device.id }}" type="hidden" name="key{{ device.id }}" value="{{ property.key }}"/>
	{% ifequal property.valueType "BOOLEAN" %}
		<select id="id_value{{ device.id }}" name="value{{ device.id }}">
		{% ifequal property.value "1" %}
			<option value="1" selected="selected">ON</option>
			<option value="0">OFF</option>
		{% else %}
			<option value="1">ON</option>
			<option value="0" selected="selected">OFF</option>
		{% endifequal %}
		</select>
	{% endifequal %}
	{% ifequal property.valueType "ALPHANUM" %}
		<input id="id_value{{ device.id }}" type="text" name="value{{ device.id }}" value="{{ property.value }}" size="3"/>&nbsp;{{ property.valueUnit }}
	{% endifequal %}
{% endfor %}
