{% comment %}
<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2009-02-14 11:43:03 +0100 (sam. 14 févr. 2009) $
# $LastChangedRevision: 359 $
-->
{% endcomment %}

{% for property in device.deviceproperty_set.all %}
	{% if property.isChangeableByUser %}
		<input id="id_key{{ device.id }}" type="hidden" name="key{{ device.id }}" value="{{ property.key }}"/>
		{% if device.isAppliance  %}
			{% ifequal property.value "on" %}
				<input type="radio" name="value{{ device.id }}" value="on" checked/>On
				<input type="radio" name="value{{ device.id }}" value="off"/>Off
			{% else %}
				<input type="radio" name="value{{ device.id }}" value="on"/>On
				<input type="radio" name="value{{ device.id }}" value="off" checked/>Off
			{% endifequal %}
		{% endif %}
		{% if device.isLamp %}
			<input id="id_value{{ device.id }}" type="text" name="value{{ device.id }}" value="{{ property.value }}" size="3"/>&nbsp;{{ property.valueUnit }}
		{% endif %}
	{% else %}
		{{ property.value }}&nbsp;{{ property.valueUnit }}
	{% endif %}
{% endfor %}
