<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-10-12 09:55:22 +0200 (dim. 12 oct. 2008) $
# $LastChangedRevision: 148 $
-->
{% extends "base.html" %}

{% block script %}
	function clearData() {
		if(confirm("This is your last chance to keep your data. Are you sure to want to do that ?")) {
			document.forms[0].action="clear_data"
			document.forms[0].submit()
		}
	}

	function loadSampleData() {
		document.forms[0].action="load_sample_data"
		document.forms[0].submit()
	}
{% endblock %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
	<form name="adminForm" action="">
	{% ifequal action "index" %}
		<table>
			<tr>
				<td>Load sample data (will delete previous data)</td><td><input type="button" value="Load !" onclick="loadSampleData()"></td>
			</tr>
			<tr>
				<td>Clear all data</td><td><input type="button" value="Clear !" onclick="clearData()"></td>
			</tr>
		</table>
	{% endifequal %}

	{% ifequal action "loadSampleData" %}
		<p>Done !</p>
		<p>Following objects were created :</p>
		<p>&nbsp;</p>
		<p><strong>Rooms</strong></p>
		<hr/>
		{% if roomList %}
			<ul>
			{% for room in roomList %}
				<li>{{ room.name }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No data</p>
		{% endif %}

		<p><strong>Capacities</strong></p>
		<hr/>
		{% if capacityList %}
			<ul>
			{% for capacity in capacityList %}
				<li>{{ capacity.name }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No data</p>
		{% endif %}

		<p><strong>Items</strong></p>
		<hr/>
		{% if itemList %}
			<ul>
			{% for item in itemList %}
				<li>{{ item.name }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No data</p>
		{% endif %}
	{% endifequal %}

	{% ifequal action "clearData" %}
		<p>Done !</p>
	{% endifequal %}
	</form>
{% endblock %}
