<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-12-04 22:17:19 +0100 (jeu. 04 déc. 2008) $
# $LastChangedRevision: 218 $
-->
{% extends "base.html" %}

{% block script %}
	function saveSettings() {
		document.forms['settingsForm'].action="{% url saveSettingsView %}"
		document.forms['settingsForm'].submit()
	}

	function clearData() {
		if(confirm("This is your last chance to keep your data. Are you sure to want to do that ?")) {
			document.forms['simulationForm'].action="{% url clearDataView %}"
			document.forms['simulationForm'].submit()
		}
	}

	function loadSampleData() {
		document.forms['simulationForm'].action="{% url loadSampleDataView %}"
		document.forms['simulationForm'].submit()
	}
{% endblock %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
	{% ifequal action "index" %}
	<form name="settingsForm" action="" method="POST">
		<fieldset>
			<legend>Settings</legend>
			<table>
				<tr>
					<td>{{ appSettingForm.as_table }}</td>
				</tr>
				<tr>
					<td><input type="button" value="Submit" onclick="saveSettings()"></td>
				</tr>
			</table>
		</fieldset>
	</form>

	<form name="dataForm" action="" method="POST">
		<fieldset>
			<legend>Data</legend>
			<table>
				<tr>
					<td>&raquo;&nbsp;<a href="{% url deviceLogsView 0 %}">View logs</a></td>
				</tr>
			</table>
		</fieldset>		
	</form>

	<form name="simulationForm" action="" method="POST">
		<fieldset>
			<legend>Simulation</legend>
			<table>
				<tr>
					<td>Load sample data (will delete previous data)</td><td><input type="button" value="Load" onclick="loadSampleData()"></td>
				</tr>
				<tr>
					<td>Clear all data</td><td><input type="button" value="Clear" onclick="clearData()"></td>
				</tr>
			</table>
		</fieldset>		
	</form>
	{% endifequal %}

	{% ifequal action "loadSampleData" %}
		{% if errorMsg %}
			<p class="error">{{ errorMsg }}</p>
		{% else %}
			<p>Done !</p>
			<p>Following objects were created :</p>
			<p>&nbsp;</p>
			<p><strong>Rooms</strong></p>
			<hr/>
			{% if roomList %}
				<ul>
				{% for room in roomList %}
					<li>{{ room.name }}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No data</p>
			{% endif %}

			<p><strong>Capacities</strong></p>
			<hr/>
			{% if capacityList %}
				<ul>
				{% for capacity in capacityList %}
					<li>{{ capacity.name }}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No data</p>
			{% endif %}

			<p><strong>Devices</strong></p>
			<hr/>
			{% if deviceList %}
				<ul>
				{% for device in deviceList %}
					<li>{{ device.name }} ({{ device.room.name }})</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No data</p>
			{% endif %}

			<p><strong>Technologies</strong></p>
			<hr/>
			{% if techList %}
				<ul>
				{% for tech in techList %}
					<li>{{ tech.name }}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No data</p>
			{% endif %}
		{% endif %}
	{% endifequal %}

	{% ifequal action "clearData" %}
		{% if errorMsg %}
			<p class="error">{{ errorMsg }}</p>
		{% else %}
			<p>All data cleared !</p>
		{% endif %}
	{% endifequal %}
{% endblock %}
