<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-10-12 09:55:22 +0200 (dim. 12 oct. 2008) $
# $LastChangedRevision: 148 $
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" href="style.css" />
	<script>{% block script %}{% endblock %}</script>
	<title>{% block title %}Domogik{% endblock %}</title>
</head>

<body>
	<div id="top">
		<h1>{{ pageTitle }}
	</div>

	<div id="sidebar">
	{% block sidebar %}
		<ul>
			<li><a href="/domogik">Main page</a></li>
			<li><a href="admin/">Admin page</a></li>
		</ul>
	{% endblock %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<div id="bottom">
		<hr/>The Domogik project
	</div>
</body>
</html>

