<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-10-11 18:11:59 +0200 (sam. 11 oct. 2008) $
# $LastChangedRevision: 138 $
-->
<html>
<head>
	<title>{{ pageTitle }}</title>
<head>
<body>
	<h1>{{ pageTitle }}</h1>
	{% if capacityList %}
		<ul>
		{% for capacity in capacityList %}
			<li><a href="/domogik/items/{{ roomId }},{{ capacity.id }}">{{ capacity.name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No capacity found</p>
	{% endif %}
	<p><a href="/domogik">Go to the main page</a></p>
</body>
</html>
