<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Marc Schneider <marc@domogik.org>

# $LastChangedBy: mschneider $
# $LastChangedDate: 2008-10-19 17:30:51 +0200 (dim. 19 oct. 2008) $
# $LastChangedRevision: 170 $
-->
{% extends "base.html" %}

{% block script %}
	function go() {
		if(confirm("Are you sure ?")) {
			document.forms['globalControlForm'].action="{% url globalControlView %}"
			document.forms['globalControlForm'].submit()
		}
	}
{% endblock %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
	<form name="globalControlForm" method="POST" action="">
		<table>
			<tr>
				<td><label for="switchOffLights">Switch off all the lights</label></td>
				<td><input id="switchOffLights" name="switchOffLights" type="checkbox"/>
			</tr>
			<tr>
				<td><label for="closeDoors">Close all the doors</label></td>
				<td><input id="closeDoors" name="closeDoors" type="checkbox"/>
			</tr>
			<tr>
				<td colspan="2"><input type="button" value="Go !" onclick="go()"></td>
			</tr>
		</table>
	</form>
{% endblock %}
