.dmg_6x5_webcamMJPEG {    
    text-align:center;
    overflow:hidden;
}

.dmg_6x5_webcamMJPEG img { 
    border: 1px solid #CCCCCC;
    border-radius: 0.8em 0.8em 0.8em;
    max-height:32.8em;
    max-width:39.8em;
}