{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-notify.css" rel="stylesheet" media="screen">
    <link href="/static/css/datepicker.css" rel="stylesheet" media="screen">
    <!-- Domogik -->
    <link href="/static/css/default.css" rel="stylesheet" media="screen">
       <script type="text/javascript">
	 if ("WebSocket" in window) {
		var ws=new WebSocket("ws://" + location.host + "/ws");
	} else {
		alert('No WS support');
	}
       </script>
   <script src="/static/js/jquery.min.js"></script>
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    <div id="now"></div>
    <div class="notifications bottom-right"></div>
    {% block body -%}
    {% block navbar %}
        {% if not nonav %}
        {% include "base/nav.html" %}
        {% endif %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}
    <!-- set up the modal to start hidden and fade in and out -->
    <div id="deleteConfirm" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- dialog body -->
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				{% trans %}Are you sure you want to delete this item?{% endtrans %}
			</div>
			<!-- dialog buttons -->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">{% trans %}YES{% endtrans %}</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}NO{% endtrans %}</button>
			</div>
		</div>
	</div>
     </div>
    {% block scripts %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-notify.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script type="text/javascript">
           {% for category, message in messages: %}
            $('.notifications').notify({
                message: { text: '{{ message }}' },
                type: '{{ category }}'
            }).show();
            {% endfor %}
            </script>
    {% endif %}
    {% endwith %}
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
