<nav class="navbar navbar-dmg navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="admin">Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if mactive == "clients" %} class="active" {% endif %} id="clients"><a href="/clients">{% trans %}Clients{% endtrans %}</a></li>
        <li{% if mactive == "orphans" %} class="active" {% endif %} id="orphans"><a href="/orphans">{% trans %}Orphan Domogik devices{% endtrans %}</a></li>
        <li class="dropdown{% if mactive == "auth" %} active{% endif %}" id="auth">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Auth{% endtrans %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts">{% trans %}Accounts{% endtrans %}</a></li>
            <li><a href="/persons">{% trans %}Persons{% endtrans %}</a></li>
          </ul>
        </li>
        <!-- <li{% if mactive == "scenario" %} class="active" {% endif %}><a href="/scenario">{% trans %}Scenarios{% endtrans %}</a></li> -->
        <li{% if mactive == "rest" %} class="active" {% endif %} id="rest"><a href="/rest">{% trans %}Rest API{% endtrans %}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">{% trans %}Logout{% endtrans%}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
