{% extends "base_with_admin_menu.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>

{% endcomment %}

{% load i18n %}
{% block css %}
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-elements.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-nav2.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block include_js_script %}
	<script type="text/javascript" src="/design/js/page-admin.js"></script>
{% endblock %}
{% block js_script %}
	$(function(){
		// Accordion
		$("#nav2").accordion({ header: ".section", active:0});
	});
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}

{% block right %}
	<div class="nocolumns">
        <div class="element">
			<h2>Machine 1 (192.168.1.10)</h2>
			<div class="mediumbox">
				<div class="parameter"><span class="label">X10 :</span> <span class="off">Off</span> <a href="#" class="button on">Activer</a></div>
				<div class="parameter"><span class="label">PlcBus :</span> <span class="on">On</span> <a href="#" class="button off">Desactiver</a> <a href="#" class="button">Redémarrer</a></div>
				<div class="parameter"><span class="label">Téléinfo :</span> <span class="on">On</span> <a href="#" class="button off">Desactiver</a> <a href="#" class="button">Redémarrer</a></div>
			</div>
		</div>
        <div class="element">
			<h2>Machine 2 (192.168.1.20)</h2>
			<div class="mediumbox">
				<div class="parameter"><span class="label">EIB/KNX :</span> <span class="on">On</span> <a href="#" class="button off">Desactiver</a> <a href="#" class="button">Redémarrer</a></div>
				<div class="parameter"><span class="label">1wire :</span> <span class="on">On</span> <a href="#" class="button off">Desactiver</a> <a href="#" class="button">Redémarrer</a></div>
			</div>
        </div>
    </div>
{% endblock %}
