/* Selectmenu
----------------------------------*/

.menucontent {
    background-color:#f0efea;
    border: 1px solid #979387;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    z-index:2000;
    width:16em;
    height:20em;
}

.menucontent ul {
    overflow-y: auto;
    overflow-x: hidden;
    list-style:none;
    margin:0;
    padding:0;
}

.menucontent li {
    margin:0;
    padding:0;
}

.menucontent .menuheader {
    padding:1em;
    color:#ffffff;
    margin:0.5em;
    padding:0.4em;
    border: 1px solid #000000;
    background-color: #403E3F;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#000000), to(#403E3F));
    background-image: -moz-linear-gradient(100% 80% 90deg, #403E3F, #000000);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.menucontent a {
    display:block;
    padding:1em;
    text-decoration:none;
    color:#000000;
    margin:0.5em;
    padding:0.4em;
    border: 1px solid #f0efea;
}

.menucontent a:hover {
    color:#ffffff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#BDCB2F), to(#9BB528));
    background-image: -moz-linear-gradient(100% 60% 270deg, #BDCB2F, #9BB528);
    border: 1px solid #979387;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}