@charset "UTF-8";
/* CSS Document */

ul.draggables {
    list-style:none;
    margin:0;
    padding:0;
}

.targetdrop {
    margin:0.2em;
    padding:0.2em;
    border:2px solid #BDCB2F;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.targetdrop legend {
	font-weight:bold;
	margin-left:2em;
    background-position: left 50%;
    background-repeat: no-repeat;
    display:inline-block;
    line-height:16px;
    padding-left:20px;
}

li.draggable, li.empty {
    position: relative;
    padding: 0.5em 0.5em 0.5em 1em;
    margin:0.1em;
    width: 13em;
    text-align: center;
    color: #000;
    background-color: #fff;
    display:inline-block;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

li.draggable {
    border: 1px solid #666666;
}

li.empty {
    border: 1px dashed #cccccc;
}

li.draggable
{
    cursor: move;
    background-position: left 50%;
    background-repeat: no-repeat;
}

li.dragged
{
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
}

li.draggable:hover
{
    background-color: #BDCB2F;
}

li.draggable:focus
{
    background-color: #f6a828;
}

.highlight
{
    background-color: #DFFFB3;
}

ul#popup
{
    list-style:none;
    position: absolute;
    width: 10em;
    padding: 0.3em;
    color: #000;
	border: #979387 1px solid;
	background-color: #D2CDBC;
    top: 1em;
    left: 1em;
    cursor: default;
    z-index: 40;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

ul#popup li {
    text-align: left;
    margin: 0.3em 0;
    padding: 0.4em;
}

ul#popup li:focus {
    background-color: #f6a828;
}

ul#popup li:hover {
    background-color: #BDCB2F;
}