/*
.widget.command_range .blur {
    -moz-background-size: '100% 0%';
    -webkit-background-size: '100% 0%';
    background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#908D6F), to(#D2CDBC));
    background-image: -moz-linear-gradient(100% 60% 270deg, #908D6F, #D2CDBC);
    background-position: bottom left;
    background-repeat: no-repeat;
}*/

.widget.command_range .widget_value {
    float:left;
    display:inline-block;
    width: 45px;
    height: 45px;
    text-align:right;
    background-position: center center;
    background-repeat: no-repeat;
}

.widget.command_range .range_button {
    width: 32px;
    height: 32px;
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}

.widget.command_range .range_plus {
    background-image: url('../images/action/up_16.png');
    top:-30px;
    right:-80px;
}

.widget.command_range .range_minus {
    background-image: url('../images/action/down_16.png');
    top:30px;
    right:-80px;
}

.widget.command_range .range_min {
    background-image: url('../images/action/min_16.png');
    top:80px;
    right:-40px;
}

.widget.command_range .range_max {
    background-image: url('../images/action/max_16.png');
    top:-80px;
    right:-40px;
}

.rotate{
	/* There are two .rotate divs - one for each half of the background */
	position:absolute;
	width:110px;
	height:110px;
	top:-33px;
	left:-33px;
}

.rotate.rangeright{
	z-index:11;
}

.bg, .front{
	width:55px;
	height:110px;
	position:absolute;
	top:0;
}

.bg.rangeleft{ left:0; }

/* Individual styles for each color: */
.bg.rangeleft{ background:url('../images/status/range_bg_green.png') no-repeat left top; }

/* The right part of the background: */
.bg.rangeright{ left:55px; }
.bg.rangeright{ background:url('../images/status/range_bg_green.png') no-repeat right top; }

.front.rangeleft{
	left:-33px;
    top:-33px;
	z-index:10;
     background:url('../images/status/range_bg_black.png') no-repeat left top; 
}
