.widget_mini {
    display:block;
    outline: none;
    text-align:center;
    position:relative;
    width: 45px;
    height: 45px;
    border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    margin:0.5em 1em 0 1em;
    background-position: center center;
    background-repeat: no-repeat;
}

.widget_mini:hover,
.widget_mini:focus,
.widget_mini.opened {
    background-color:#FFFFFF;
}

.widget_mini:hover {
    cursor: pointer;
}

.widget_mini .name {
    -moz-user-select:none;
    -webkit-user-select:none;
    color:#FFFFFF;
    display:block;
    font-weight:bold;
    position:absolute;
    width:10em;
    z-index:20;
    display:none;
}

.widget_mini.opened .name {
    display:block;
}

.top {
    top: -4em;
    left: -3em;
}

.topleft {
    top: -4em;
    left: -10em;
}

.widget_mini .status {
    background-color:rgba(255,255,255,0.6);
    display:inline-block;
    vertical-align:text-bottom;
    height:10px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    -moz-border-radius: 0.8em 0 0.8em 0;
    -webkit-border-radius: 0.8em 0 0.8em 0;
    float:right;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-top:30px;
    -moz-user-select:none;
    -webkit-user-select:none;
}

.widget_mini .status.error {
    background-color:rgba(191,84,46,0.6);
}

.widget_mini .status.ok {
    background-color:rgba(144,178,71,0.6);
}

.widget_mini .blur {
    position:absolute;
    float:left;
    -moz-box-shadow: 0 0 150px 150px #000000;
    -webkit-box-shadow: 0 0 150px 150px #000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    width:47px;
    height:47px;
    top:-1px;
    left:-1px;
    z-index:10;
    display:none;
}

.widget_mini.opened .blur {
    display:block;    
}

.widget_mini .widget_button {
    width: 32px;
    height: 32px;
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    z-index:21;
    display:none;
}

.widget_mini.opened .widget_button {
    display:block;
}

.widget_mini .widget_close {
    top:6px;
    left:-80px;
}