body > div.jGrowl.top-right {
    top:10px;
}

div.jGrowl div.header {
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 32px;
    line-height:32px;
}

div.jGrowl div.message {
    border-left-width: 2px;
    border-left-style: solid;
    padding-left:1em;
}

div.jGrowl div.ok div.header {
    background-image: url(../images/status/check_32.png);
    color: #5FE400;
}

div.jGrowl div.ok div.message {
    border-left-color: #5FE400;
}

div.jGrowl div.info div.header {
    background-image: url(../images/status/info_32.png);
    color: #00ABE4;
}

div.jGrowl div.info div.message {
    border-left-color: #00ABE4;
}

div.jGrowl div.warning div.header {
    background-image: url(../images/status/warning_32.png);
    color: #E48200;
}

div.jGrowl div.warning div.message {
    border-left-color: #E48200;
}

div.jGrowl div.error div.header {
    background-image: url(../images/status/wrong_32.png);
    color: #E40800;
}

div.jGrowl div.error div.message {
    border-left-color: #E40800;
}
