.widget_mini.command_range .widget_value {
    float:left;
    display:inline-block;
    width: 45px;
    height: 45px;
    text-align:right;
    background-position: center center;
    background-repeat: no-repeat;
}

.widget_mini.command_range #indicator {
	position:absolute;
	top:-33px;
	left:-32px;
    display:none;
    z-index:21;
}

.widget_mini.command_range.opened #indicator {
    display:block;
}