.widget {
    display:block;
    outline: none;
    text-align:center;
    height: 9em;
}

.widget .name {
    color:#FFFFFF;
    background-color:#000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display:block;
    font-weight:bold;
}