.widget {
    display:inline-block;
    outline: none;
    margin:0;
    position:relative;
    -moz-user-select:none;
    -webkit-user-select:none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.widget.border {
    border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.widget .identity, .shape .identity {
    position:absolute;
    font-size:0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-align:left;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
}

.widget .identitydevice, .shape .identitydevice {
    top: -1.2em;
    left: 0.2em;
}

.widget .identityfeature, .shape .identityfeature {
    bottom: 0.2em;
    left: -0.2em;
    -moz-transform-origin:0% 100%;
	-webkit-transform-origin:0% 100%;
	-o-transform-origin:0% 100%;
    -moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
}

.length1 {width: 6em}
.length2 {width: 13em}
.length3 {width: 20em}
.length4 {width: 27em}

.size1x1 { width:5em; height:5em;}
.shape.size1x1 .sizetext { line-height:5em;}

.size3x1 { width:19em; height:5em;}
.shape.size3x1 .sizetext { line-height:5em;}

.size3x2 { width:19em; height:12em;}
.shape.size3x2 .sizetext { line-height:12em;}

.size3x3 { width:19em; height:19em;}
.shape.size3x3 .sizetext { line-height:19em;}

.size4x1 { width:26em; height:5em;}
.shape.size4x1 .sizetext { line-height:5em;}

.size4x2 { width:26em; height:12em;}
.shape.size4x2 .sizetext { line-height:12em;}

.size4x3 { width:26em; height:19em;}
.shape.size4x3 .sizetext { line-height:19em;}

.size4x4 { width:26em; height:26em;}
.shape.size4x4 .sizetext { line-height:26em;}

.size5x5 { width:33em; height:33em;}
.shape.size5x5 .sizetext { line-height:33em;}

.size6x5 { width:40em; height:33em;}
.shape.size6x5 .sizetext { line-height:33em;}

.shape {
    display:block;
    outline: none;
    position:relative;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    margin:auto;
    -moz-user-select:none;
    -webkit-user-select:none;
    background-color:#000000;
    cursor:pointer;
}

.shape .sizetext {
    text-align:center;
    padding:1px;
    position:relative;
    color:#ffffff;    
}
