.widget_1x1_extended {
    text-align:center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.widget_1x1_extended .widget_value {
    position:absolute;
    text-align:center;
    width:5em;
}

.widget_1x1_extended.clickable:hover,
.widget_1x1_extended:focus,
.widget_1x1_extended.opened {
    background-color:#FFFFFF;
}

.widget_1x1_extended.clickable:hover {
    cursor: pointer;
}

.widget_1x1_extended .name {
    -moz-user-select:none;
    -webkit-user-select:none;
    color:#FFFFFF;
    display:block;
    font-weight:bold;
    position:absolute;
    width:10em;
    z-index:20;
    display:none;
}

.widget_1x1_extended.opened .name {
    display:block;
}

.widget_1x1_extended .nametop {
    top: -4em;
    left: -3em;
}

.widget_1x1_extended .nametopleft {
    top: -4em;
    left: -10em;
}

.widget_1x1_extended .left {
    top:8px;
    left:-72px;
}

.widget_1x1_extended .right {
    top:8px;
    left:88px;
}

.widget_1x1_extended .rightup {
    top:-32px;
    left:77px;
}

.widget_1x1_extended .rightdown {
    top:48px;
    left:77px;
}

.widget_1x1_extended .downright {
    top:77px;
    left:48px;
}

.widget_1x1_extended .upright {
    top:-61px;
    left:48px;
}

.widget_1x1_extended .status {
    position:absolute;
    display:block;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    background-color:rgba(255,255,255,0.6);
    bottom:0;
    right:0;
    vertical-align:text-bottom;
    height:10px;
    -moz-border-radius: 0.8em 0 0.8em 0;
    -webkit-border-radius: 0.8em 0 0.8em 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    -moz-user-select:none;
    -webkit-user-select:none;
}

.widget_1x1_extended .status.error {
    background-color:rgba(191,84,46,0.6);
}

.widget_1x1_extended .status.ok {
    background-color:rgba(144,178,71,0.6);
}

.widget_1x1_extended .blur {
    position:absolute;
    float:left;
    -moz-box-shadow: 0 0 150px 150px #000000;
    -webkit-box-shadow: 0 0 150px 150px #000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    width:5em;
    height:5em;
    z-index:10;
    display:none;
}

.widget_1x1_extended .widget_button_icon {
    width: 32px;
    height: 32px;
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    z-index:21;
    display:none;
}

.widget_1x1_extended .widget_button_text {
    width: 7em;
    height: 20px;
    line-height: 20px;
    margin-top:6px;
    position: absolute;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    padding-left: 10px;
    font-weight: bold;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index:21;
    display:none;
}

.widget_1x1_extended.opened .blur,
.widget_1x1_extended.opened .widget_button_icon,
.widget_1x1_extended.opened .widget_button_text {
    display:block;
}
