.widget {
    position:relative;
    width:46px;
    height:46px;
    line-height:46px;
    text-align:center;
    color:#ffffff;
    background-color:#000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    margin:auto;
}

.widget .identity {
    position:absolute;
    top: -15px;
    left: -15px;
}