/* Mini widget */

.widget_mini.info_number .widget_value {
    position:absolute;
    text-align:center;
    width:45px;
}

.widget_mini.info_number .widget_state {
    height:14px;
    width:15px;    
}
