@charset "UTF-8";
/* CSS Document */

ul.draggables {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

li.draggable {
    position: relative;
    padding: 0;
    margin:auto;
    display:inline-block;
    cursor: move;
}

li.dragged
{
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
}