#login.ui-dialog-content {
    padding:0 !important;
    background-color:#1e1e1e;
}

#loginForm .columnleft, #loginForm .columnright {
    background-color:#eeeeee;
    min-height:35em;
    padding:1em;
}

#loginForm .columnleft {
    width:12em;
    float:left !important;
}

#loginForm .columnright {
    margin-left:16em;
    width:22em;
}

ul#users {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center
}

ul#users li a {
    display:inline-block;
    border:1px solid #999;
    padding:0;
    margin:1em;
    text-align:center;
    color:#000;
    text-decoration:none;
    width:7em;
}

ul#digits {
    list-style:none;
    margin:auto;
    padding:0;
    width:21em;
}

ul#digits li {
    display: inline-block;
    margin:0;
    padding:0;
}

ul#digits li a, ul#digits li input {
    display:inline-block;
    border:none;
    margin:0.2em;
    text-align:center;
    background-color:#333;
    font-size:2em;
    line-height:3em;
    height:3em;
    width:3em;
    color:#FFF;
    text-decoration:none;
}

ul#digits li a:hover, ul#digits li a:focus,
ul#digits li input:hover, ul#digits li input:focus,
#logincode[disabled='false']:hover, #logincode:focus,
ul#users li a:hover, ul#users li a:focus,
input.buttonok:hover, input.buttonok:active, input.buttonok:focus {
    background:#eb8f00;
}

#code {
    text-align:center;
}

#logincode {
    -moz-appearance: none;
    -webkit-appearance: none;
    width:6em;
    border:2px solid #666;
    background:#CCC;
    font-size: 2.5em;
    text-align:center;
    -moz-border-radius: 0.8em 0 0 0.8em;
    -webkit-border-radius: 0.8em 0 0 0.8em;
    margin:0;
    padding:0;
    line-height:1.4em;
    display:inline-block;
    height:1.4em;
    float:left;
}

#resetLogin {
    display: block;
    text-align:center;
}

.buttonok {
    display:inline-block;
    margin:0;
    font-size: 2.5em;
    border-top:2px solid #666;
    border-bottom:2px solid #666;
    border-right:2px solid #666;
    border-left:none;
    background-color:#9BB528;
    -moz-border-radius: 0 0.8em 0.8em 0;
    -webkit-border-radius: 0 0.8em 0.8em 0;
    color:#666;
    line-height:1.4em;
    height:1.4em;
    font-family:Arial, Helvetica, sans-serif;
    padding:0 0.5em 0 0.5em;
    float:left;
    cursor:pointer;
}

ul#users li a.selected {
    background-color:#9BB528;
}

ul#users img {
	display:block;
	margin:auto;
}
