a.fg-button {
    text-decoration:none !important;
    cursor:pointer;
    position: relative;
    display:inline-block;
  	border: 1px solid #999999;
    background-color: #ffffff;
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/decoration/arrow_down_36372e.png);
	color: #000000;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align:center;
    padding:0.4em 2em 0.4em 2px;
}

a.fg-button:hover, a.fg-button:focus, a.fg-button:active {
    background-color: #BDCB2F;
}

a.fg-button div {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left:18px;
    line-height:1.4em;
}

/* REQUIRED STYLES - the menus will only render correctly with these rules */	

.fg-menu-container { position: absolute; top:0; left:-999px; padding: .4em;  overflow: hidden; z-index:2000;
    background-color:#f0efea;
    border: 1px solid #979387;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.fg-menu-container.fg-menu-flyout { overflow: visible; }

.fg-menu, .fg-menu ul { list-style-type:none; padding: 0; margin:0; }

.fg-menu { position:relative; }
.fg-menu-flyout .fg-menu { position:static; }

.fg-menu ul { position:absolute; top:0; }
.fg-menu ul ul { top:-1px; }

.fg-menu-container.fg-menu-ipod .fg-menu-content, 
.fg-menu-container.fg-menu-ipod .fg-menu-content ul { background: none !important; }

.fg-menu.fg-menu-scroll,
.fg-menu ul.fg-menu-scroll { overflow: scroll;  overflow-x: hidden; }

.fg-menu li { display:block; }	
.fg-menu li li { font-size:1em; } /* inner li font size must be reset so that they don't blow up */

.fg-menu-flyout ul ul { padding: .4em; }
.fg-menu-flyout li { position:relative; }

.fg-menu-scroll { overflow: scroll; overflow-x: hidden; }

.fg-menu-breadcrumb { margin: 0; padding: 0; }

.fg-menu-footer {  margin-top: .4em; padding: .4em; }
.fg-menu-header {  margin-bottom: .4em; padding: .4em; }

.fg-menu-breadcrumb {
    background-color: #403E3F;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#000000), to(#403E3F));
    background-image: -moz-linear-gradient(100% 95% 90deg, #403E3F, #000000);
    color:#EEEBE2;
    display:block;
    padding:0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    opacity: .9; 
}
.fg-menu-breadcrumb li { list-style: none; margin: 0; padding: 0.5em; }
.fg-menu-breadcrumb li.fg-menu-prev-list,
.fg-menu-breadcrumb li.fg-menu-current-crumb { clear: left; float: none; opacity: 1; }
.fg-menu-breadcrumb li.fg-menu-current-crumb { padding-top: .2em; }

.fg-menu-breadcrumb a, 
.fg-menu-breadcrumb span { color:#EEEBE2; }

.fg-menu-breadcrumb .fg-menu-prev-list a:link,
.fg-menu-breadcrumb .fg-menu-prev-list a:visited,
.fg-menu-breadcrumb .fg-menu-prev-list a:hover,
.fg-menu-breadcrumb .fg-menu-prev-list a:active { background-image: none; text-decoration:none; }
	
.fg-menu-breadcrumb .fg-menu-prev-list a { float: left; padding-right: .4em; }
.fg-menu-breadcrumb .fg-menu-prev-list a .ui-icon { float: left; }
	
.fg-menu-breadcrumb .fg-menu-current-crumb a:link,
.fg-menu-breadcrumb .fg-menu-current-crumb a:visited,
.fg-menu-breadcrumb .fg-menu-current-crumb a:hover,
.fg-menu-breadcrumb .fg-menu-current-crumb a:active { display:block; background-image:none; font-size:1.3em; text-decoration:none; }


/* REQUIRED LINK STYLES: links are "display:block" by default; if the menu options are split into 
	selectable node links and 'next' links, the script floats the node links left and floats the 'next' links to the right	*/

.fg-menu a:hover, .fg-menu a:focus {
    outline: 0 !important;
    border: 1px solid #979387;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#BDCB2F), to(#9BB528));
    background-image: -moz-linear-gradient(100% 60% 270deg, #BDCB2F, #9BB528);
	color: #000000; font-weight: bold;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.fg-menu a {
    border: 1px dashed transparent;
    color:#000000;
    text-decoration:none;
    display:block;
    padding:0.5em;
}

.fg-menu-indicator span {
    display:block;
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/decoration/arrow_right_36372e.png);
}



/* ICONS AND DIVIDERS */

.fg-menu.fg-menu-has-icons a:link,
.fg-menu.fg-menu-has-icons a:visited,
.fg-menu.fg-menu-has-icons a:hover,
.fg-menu.fg-menu-has-icons a:active { padding-left:20px; }

.fg-menu .horizontal-divider hr, .fg-menu .horizontal-divider span { padding:0; margin:5px .6em; }
.fg-menu .horizontal-divider hr { border:0; height:1px; }
.fg-menu .horizontal-divider span { font-size:.9em; text-transform: uppercase; padding-left:.2em; }

