body {
    font: 65% Arial, Helvetica, sans-serif;
	background-color:#eeeeee;
	margin:0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 10%, from(#534F45), to(#625E53));
    background-image: -moz-linear-gradient(100% 10% 270deg, #534F45, #625E53);
	background-repeat:no-repeat;
	-moz-background-size: 100% 250px;
	-webkit-background-size: 100% 250px;
}

#mainbar {
    color: #ffffff;
    background-color:#403E3F;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#000000), to(#403E3F));
    background-image: -moz-linear-gradient(100% 80% 90deg, #403E3F, #000000);    
}

header#mainheader {
    display:inline-block;
    float:left;
}

/* Nav menu */
#nav1 ul {
    display:block;
    list-style: none;
    margin:0;
    padding:0;
    text-align:right;
}

#nav1 li {
    display:inline-block;
    padding:0;
    margin:0;
    float:left;
}

#nav1 li a {
    display:inline-block;
    text-decoration:none;
    line-height:1.4em;
    padding: 0.8em 1em 0.8em 1em;
    margin: 0;
    color: #7D8430;
  	font-family:Impact;
	font-size:1.8em;
}

#nav1 li a:hover, #nav1 li a:focus, #nav1 li a:active {
    color: #B9C248;
}

#nav1 li a.selected {
    color: #B9C248;
    background: url(../images/decoration/nav1_selector_green.png) 50% 100% no-repeat;
}

#nav1 .login, #nav1 .help {
    float:none;
}

/* Main section */

#content-bgnd {
	border: #979387 1px solid;
	margin: 1em 5% 0 5%;
    background-color:#D2CDBC;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#908D6F), to(#D2CDBC));
	background-image: -moz-linear-gradient(0% 5% 270deg,#908D6F, #D2CDBC);
	-moz-border-radius: 0.8em ;
    -webkit-border-radius: 0.8em;	
}

section#mainsection {
    display:block;
	min-height:40em;
}

/* Footer */
footer {
    display:block;
    clear:both;
    margin: 0 5% 0 5%;
    padding:0.5em;
    text-align:right;
}
