/* Content Layouts */

.columnleft {
    float:left;
    width: 20em;
}
.columnright {
    margin-left: 21em;
}

.column {
	float:left;
	margin-left:1%;
	margin-right:1%;
}

.row {
	clear:both;
}

#mainsection header {
    display:block;
    position:relative;
    border: #B9C248 1px solid;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#BDCB2F), to(#9BB528));
    background-image: -moz-linear-gradient(100% 80% 270deg, #BDCB2F, #9BB528);
    background-color:#9BB528;
    padding: 1em;
	-moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

#mainsection header .ident {
    margin:0;   
    padding:0 0 0 70px;
    background-position:top left;
    background-repeat:no-repeat;
    min-height:64px;
}

#mainsection header .title {
    color:#000000;
}

#mainsection header .subtitle {
    font-style:italic;
    color:#666;
    padding-left:20px;
    background-position:left 50%;
    background-repeat:no-repeat;
}