/* Banner */
.widget {
    width:248px;
    float:right;
    border:2px solid #ccc;
    text-align:left;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-color:#FCFCFC;
    padding:4px;
    margin:35px 4px;
}

#general-temp {
    width:264px;
    float:right;
    text-align:center;
    height:100px;
}

#general-temp #general-templocation {
    font-weight:bold;
}

#general-temp #general-tempcurrent {
    float:right;
    font-size:3em;
}

#general-tempicon {
    position:relative;
}

.icon-weather-sun {
    top:-135px;
}

.icon-weather-raincloud {
    top:-131px;
}

#general-datetime #general-time {
    font-size:3em;
}

#general-datetime #general-date {
    font-style:italic;
    float:right;
    margin-top:1em;
}
/* General box */

#general {
    text-align:center;
}

.general-infos {
    list-style:none;
}

.general-infos li {
    display:inline;
    margin-left:1em;
    padding-left:20px;
}

.general-infos li {
  background-position:top left;
  background-repeat:no-repeat;
}



.ident {
    background-position: 5px 5px;
    background-repeat:no-repeat;
    min-height: 64px;
    min-width:15em;
    font-size:1em;
    padding:0.5em 0 0 70px;
    display:inline-block;
    text-decoration:none;
}

ul.areaslist, ul.roomslist {
    list-style:none;
    margin:0;
    padding:0;
}

li.areaitem {
    background-color:#eeeeee;
    margin:1em;
    border: 1px solid #979387;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display:block;
}

li.roomitem {
    background-color:#eeeeee;
    margin:1em;
    border: 1px solid #979387;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display:inline-block;
}