@charset "UTF-8";
/* CSS Document */

#content-bgnd {
    background-color:#eeeeee;
	background-image:none;
}

#mainsection {
    position: relative;
}

.columnleft {
    float:none;
    width:auto;
}

.columnright {
    margin: 0;
}


#mainsection header {
	margin-right:34em;
}

/* Actions section */

#mainsection .mainactions {
    width: 32em;
    position:absolute;
    right:0;
    top:0;
    border:none;
}

#mainsection .otheractions {
    border-right: none;
}