.draggable .description {
	display:block;
	font-style:italic;
	color:#666;
}

a.customlargeicons {
	height: 6em;
}
.customlargeicons li a, a.customlargeicons span.ui-selectmenu-status {
	line-height: 6em;
	padding-left: 70px !important;
}

a.custommediumicons {
	height: 3em;
}
.custommediumicons li a, a.custommediumicons span.ui-selectmenu-status {
	line-height: 3em;
	padding-left: 35px !important;
}

a.customsmallicons {
}
.customsmallicons li a, a.customsmallicons span.ui-selectmenu-status {
}

.ui-selectmenu-item-icon {
	height: 64px;
	width: 64px;
	background-position:0 0;
	background-repeat:no-repeat;
	display: block;
	text-indent: -99999px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	top: 1em;
	margin-top: -8px;
	left: 0pt;
}

ul.icons {
	list-style:none;
	margin:0 0 0 1em;
	padding:0;
}

ul.icons li {
	display:inline-block;
	margin:0 2em 0 0;
	padding:0;
}