@charset "UTF-8";
/* CSS Document */

.columnleft {
    float:left;
    width: 30em;
}

.columnright {
    margin-left: 30em;
}


header#contentheader {
	-moz-border-radius: 0.8em 0 0 0;
    -webkit-border-radius: 0.8em 0 0 0;
    border-right: #979387 1px solid;
}

#mainsection {
    margin:0;
    -moz-box-shadow: 1px 0 5px #000000;
    -webkit-box-shadow: 1px 0 5px #000000;
}

/* Actions section */

#mainsection .maininfo {
    display:block;
    position:absolute;
    top:1em;
    right:1em;
}

#mainsection .maininfo.empty {
    width: 45px;
    height: 45px;
    border: 1px dashed #000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

#mainsection .mainactions {
    margin:0;
    padding:1em;
    background-color:#eeeeee;
    height:6em;
    border-right: #979387 1px solid;
    text-align:center;
}

#mainsection .mainactions li.empty {
    width: 45px;
    height: 45px;
    border: 1px dashed #000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    margin:0.5em 1em 0 1em;
}

#mainsection .mainactions ul > li, #mainsection .actions ul > li {
    display:inline-block;
}

#mainsection .actions {
    margin:0;
    padding:1em;
    background-color:#eeeeee;
    min-height:40em;
    border-right: #979387 1px solid;
    border-top: #cccccc 1px dashed;
	-moz-border-radius: 0 0 0 0.8em;
    -webkit-border-radius: 0 0 0 0.8em;
}