@charset "UTF-8";
/* CSS Document */

.columnleft {
    float:left;
    width: 32em;
}

.columnright {
    margin-left: 32em;
}


#mainsection header {
	height:7em;
	-moz-border-radius: 0.8em 0 0 0;
    -webkit-border-radius: 0.8em 0 0 0;
    border-right: #979387 1px solid;
}

#mainsection {
    margin:0;
    -moz-box-shadow: 1px 0 5px #000000;
    -webkit-box-shadow: 1px 0 5px #000000;
}

.subsection {
	position:relative;
}

/* Actions section */

#mainsection .maininfo,
.subsection .maininfo {
    height:45px;
    width:45px;
    display:block;
    position:absolute;
    top:1em;
    right:1.5em;
}

#mainsection .actions {
    background-color:#eeeeee;
}

#mainsection .mainactions {
    position:relative;
    margin:0;
    padding:1em;
    height:7em;
    border-right: #979387 1px solid;
    text-align:center;
}

.subsection .mainactions {
    position:relative;
    margin:0;
    padding:1em;
    height:7em;
    border-top: #cccccc 1px dashed;
    text-align:center;
}

#mainsection .mainactions .widget,
#mainsection .otheractions .widget,
.subsection .mainactions .widget {
    display:inline-block;
    margin:1em;
}

#mainsection .otheractions {
    text-align:center;
    margin:0;
    padding: 1em;
    min-height:40em;
    border-right: #979387 1px solid;
    border-top: #cccccc 1px dashed;
    -moz-border-radius: 0 0 0 0.8em;
    -webkit-border-radius: 0 0 0 0.8em;
}