.draggable .description {
	display:block;
	font-style:italic;
	color:#666;
}

#tabsassociations li.draggable, #tabsassociations li.empty,
#tabsfeatures li.draggable, #tabsfeatures li.empty, #tabsfeatures li.trace {
    padding: 0;
    margin:0.1em;
    width: auto;
}
#tabsassociations li.draggable,
#tabsfeatures li.draggable {
    border:none;
}
#tabsassociations li.empty,
#tabsfeatures li.empty,
#tabsfeatures li.trace {
    height: 9em;
    width:7em;
}


a.customicons {
	height: 5em;
}
.customicons li a, a.customicons span.ui-selectmenu-status {
	line-height: 5em;
	padding-left: 70px !important;
}

.ui-selectmenu-item-icon {
	height: 64px;
	width: 64px;
	background-position:0 0;
	background-repeat:no-repeat;
	display: block;
	text-indent: -99999px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	top: 1em;
	margin-top: -8px;
	left: 0pt;
}