.section {
    background:#eeeeee url(ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) top left repeat-x;
    width:30em;
    margin:1em 0 1em 0;
    border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.section dl, .section dt, .section dd {
    padding:0;
    margin:0;
}

/* Header section */
.section .header {
    background-position: top left;
    background-repeat:no-repeat;
}

.section .ident {
    font-size:1em;
    padding:0.5em 0 0 70px;
    min-height:50px;
    display:inline-block;
    text-decoration:none;
}

.section .title {
    font-size:1.5em;
    color:#000000;
}

.section .subtitle {
    font-style:italic;
    color:#666;
    padding-left:20px;
    background-position:left 50%;
    background-repeat:no-repeat;
}
 
.section .temp {
    padding:0.5em 0.5em 0 32px;
    font-size:1.5em;
    float:right;
    background-position:left 50%;
    background-repeat:no-repeat;
    line-height:32px;
    min-height:32px;
}

/* Actions section */
.section .actions ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.section .actions ul > li {
    display:inline-block;
    margin: 0 0.5em 0 0.5em;
    padding: 0;
}

/* Colapsable section */
.section .extended {
    padding:1em;
}

.section ul.commands {
    list-style:none;
    margin:0;
    padding:0;
}

.section ul.commands > li {
    display:block;
    margin: 0;
    padding: 1em 0 0 0;
}

.commands .name {
    padding: 0.2em 1em 0.2em 1em;
        border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-color: #FFFFFF;
    position: relative;
    top: -1em;
    left: 32px;
}

/* Footer section */
.section .footer {
    text-align:right;
}

.section .footer a {
    color:#000000;
    display:block;
    padding: 0 0.5em 0 0.5em;
    text-decoration:none;
    font-size:2em;
}