/* Mini widget */
.widget_binary {
    display:inline-block;
    outline: none;
    text-align:center;
    height: 9em;
}

.widget_binary .name {
    color:#FFFFFF;
    background-color:#000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display:block;
    font-weight:bold;
}

.widget_binary:hover .widget_icon,
.widget_binary:focus .widget_icon {
    background-color:#FFFFFF;
}

.widget_binary.command:hover .widget_icon,
.widget_binary.command:focus .widget_icon {
    cursor: pointer;
}

.widget_binary .widget_state {
    background-color:rgba(255,255,255,0.6);
    display:inline-block;
    vertical-align:text-bottom;
    height:10px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    -moz-border-radius: 0.8em 0 0.8em 0;
    -webkit-border-radius: 0.8em 0 0.8em 0;
    float:right;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-top:30px;
}

.widget_binary .widget_icon {
    display:block;
    width: 45px;
    height: 45px;
    border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-position: center center;
    background-repeat: no-repeat;
    margin:0.5em 1em 0 1em;
    text-align:right;
}

/*
.widget_binary.processing_state, .widget_binary.processing_state {
    background-color:#FFFFFF;
    background-image : url('../images/processing_24.gif');
}

.widget_binary.ok_state {
    border: 1px solid #098876;
}

.widget_binary.error_state {
    border: 1px solid #098876;
}

.widget_binary.unknown_state {
    border: 1px solid #098876;
}
*/

/* Command */

.command_binary {
    display:block;
    border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-color: #FFFFFF;
    background-position: top left;
    background-repeat: no-repeat;
    padding:0.5em;
}

.command_binary ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:right;
}

.command_binary li {
    display:inline-block;
    margin: 0;
    padding: 0;
}
/*
.widget_binary.ok_state .name {
    border: 1px solid #098876;
}

.widget_binary.error_state .name {
    border: 1px solid #098876;
}

.widget_binary.unknown_state .name {
    border: 1px solid #098876;
}
*/