.widget_range {
    display:inline-block;
    outline: none;
    text-align:center;
    height: 9em;
}

.widget_range .name {
    color:#FFFFFF;
    background-color:#000000;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display:block;
    font-weight:bold;
}

.widget_range:hover .widget_icon,
.widget_range:focus .widget_icon {
    background-color:#FFFFFF;
}

.widget_range.command:hover .widget_icon,
.widget_range.command:focus .widget_icon {
    cursor: pointer;
}

.widget_range .widget_state {
    background-color:rgba(255,255,255,0.6);
    display:inline-block;
    vertical-align:text-bottom;
    height:10px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    -moz-border-radius: 0.8em 0 0.8em 0;
    -webkit-border-radius: 0.8em 0 0.8em 0;
    float:right;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-top:30px;
}

.widget_range .widget_icon {
    display:block;
    width: 45px;
    height: 45px;
    border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-background-size: '100% 0%';
    -webkit-background-size: '100% 0%';
    background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#908D6F), to(#D2CDBC));
    background-image: -moz-linear-gradient(100% 60% 270deg, #908D6F, #D2CDBC);
    background-position: bottom left;
    background-repeat: no-repeat;
    margin:0.5em 1em 0 1em;
}

.widget_value {
    float:left;
    display:inline-block;
    width: 45px;
    height: 45px;
    text-align:right;
    background-position: center center;
    background-repeat: no-repeat;
}

.widget_range.opened .widget_icon {
    border: 1px dashed #cccccc;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #FFFFFF;
}

.widget_range .range_plus {
    width: 45px;
    height: 45px;
    position:relative;
    float:left;
    background: #FFFFFF url('../images/action/up_16.png') 50% 50% no-repeat;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    top:-46px;
    left:-47px;
    -moz-border-radius: 0.8em 0 0 0.8em;
    -webkit-border-radius: 0.8em 0 0 0.8em;
}

.widget_range .range_minus {
    width: 45px;
    height: 45px;
    position:relative;
    float:left;
    background: #FFFFFF url('../images/action/down_16.png') 50% 50% no-repeat;
    background-color: #FFFFFF;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    top:-93px;
    right:-46px;
    -moz-border-radius: 0 0.8em 0.8em 0;
    -webkit-border-radius: 0 0.8em 0.8em 0;
}

.widget_range .range_min {
    width: 45px;
    height: 45px;
    position:relative;
    float:left;
    background: #FFFFFF url('../images/action/min_16.png') 50% 50% no-repeat;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    top:-139px;
    left:-1px;
    -moz-border-radius: 0 0 0.8em 0.8em;
    -webkit-border-radius: 0 0 0.8em 0.8em;
}

.widget_range .range_max {
    width: 45px;
    height: 45px;
    position:relative;
    float:left;
    background: #FFFFFF url('../images/action/max_16.png') 50% 50% no-repeat;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    top:-186px;
    left:-1px;
    -moz-border-radius: 0.8em 0.8em 0 0;
    -webkit-border-radius: 0.8em 0.8em 0 0;
}

.command_range {
    display:block;
    border: 1px solid #cccccc;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-color: #FFFFFF;
    background-position: top left;
    background-repeat: no-repeat;
    padding:0.5em;
}

.command_range ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:right;
}

.command_range li {
    display:inline-block;
    margin: 0;
    padding: 0;
}
/*
.widget_range.ok_state .name {
    border: 1px solid #098876;
}

.widget_range.error_state .name {
    border: 1px solid #098876;
}

.widget_range.unknown_state .name {
    border: 1px solid #098876;
}

.widget_range .value {
        display:block;
    margin-left: 2em;
    font-weight: bold;
    border: none;
    background-color: transparent;
    width: 4em;
}

.widget_range .slider {
    margin-top: 1em;
}
*/