@charset "UTF-8";
/* CSS Document */

.ui-widget-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.7);
    }

.ui-dialog {
	position: absolute !important;
	background-color: #1e1e1e;
	color: #333333;
	-moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
	overflow: visible;
    -webkit-box-shadow: 2px 2px 10px ;
    -moz-box-shadow: 2px 2px 10px ;
    box-shadow: 2px 2px 10px ;
    padding-bottom:2em;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 1em;
    font-size:1.4em;
	color: #ffffff; font-weight: bold;
    text-align:left;
}

.ui-dialog-titlebar-close .ui-icon-closethick { background: transparent url('../images/action/close_36.png') 50% 50% no-repeat !important;}
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 0; top: 0; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; width: 36px; height: 36px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { }
.ui-dialog .ui-dialog-content { border: 0; padding: 1em; background: #eeeeee; overflow: auto }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button {
	float: right;    
}

.ui-dialog button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
	width:auto;
	overflow:visible;
	border: 1px solid #cccccc;
	background-color: #f6f6f6;
	font-weight: bold;
	color: #000000;
    outline: none;
    border-radius: 0.4em;
	-moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

.ui-dialog button[disabled], .ui-dialog button[disabled]:hover {
    background-color: #f6f6f6;
    color: #AEAEAE;
    cursor: default;
}
.ui-dialog button:hover,
.ui-dialog button:focus {
	border: 1px solid #979387;
	background-color: #BDCB2F;
}

.ui-dialog button.active, .ui-dialog button.selected {
	border: 1px solid #979387;
	background-color: #CBAC3B;
}

.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}