@charset "UTF-8";
/* CSS Document */
.tip {
    display:block;
    background:#eeeeee;
    margin:0;
}

label {
    display:block;
    height:1.6em;
    line-height:1.6em;
}

label.inline {
    display:inline-block;
}

label.required {
    font-weight:bold;    
}

input[type='text'] {
    border:1px solid #999;
    height:1.6em;
    margin: 0 0 0.2em 0;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    background-position:right 50%;
    background-repeat:no-repeat;
}

input[type='text'].default {
    color:#767676;
}

textarea {
    border:1px solid #999;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

input[type='text']:hover, input[type='text']:focus,
textarea:hover, textarea:focus {
    color:#000;
    background-color: #BDCB2F;
}

input[type='text'].medium, textarea.medium  {
    width:20em;
}

select.medium {
    width:15em;
}

select.large {
    width:22em;
}

fieldset {
    margin:0;
    border:none;
}

input[type='text'].required {
    border:2px solid #000000;
}

input[type='text'].state-error {
    border:2px solid #991A1A;    
}