@charset "UTF-8";
/* CSS Document */

label {
    font-weight:bold;
    display:block;
    height:1.6em;
    line-height:1.6em;
}

label.inline {
    display:inline-block;
}

label.medium {
    width: 10em;
}

input[type='text'] {
    border:1px solid #999;
    height:1.6em;
    margin: 0 0 0.2em 0;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

textarea {
    border:1px solid #999;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

input[type='text']:hover, input[type='text']:focus,
textarea:hover, textarea:focus {
    color:#000;
    background-color: #eb8f00;
}

input[type='text'].medium, textarea.medium  {
    width:20em;
}

select.medium {
    width:15em;
}

select.large {
    width:22em;
}

fieldset {
    border:1px solid #999;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

/* Editable Elements */
.editable_icon {
    margin:0 10px 10px 10px;
    float:left;
    width:102px;
    height:102px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display:inline-block;
}

.editable_icon:hover, .editable_icon.edited {
    width:98px;
    height:98px;
    border:2px #cccccc dashed;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.button-edit, .editable_icon.edited .button-edit {
    display:none;
}

.editable_icon:not(.edited):hover .button-edit {
    display:block;
}

.button-edit, .button-submit, .button-previous, .button-next, .button-cancel {
    position:relative;
    width:24px;
    height:24px;
    background-color:#f6f6f6;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    outline:none;
    cursor: pointer;
}

.button-submit:hover, .button-previous:hover, .button-next:hover, .button-cancel:hover {
    background-color:#FFFFFF;
}

.button-edit {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top:none;
    border-left:none;
    -moz-border-radius: 0.8em 0 1.4em 0;
    -webkit-border-radius: 0.8em 0 1.4em 0;
}

.button-edit:hover {
    width:34px;
    height:34px;
    background-color:#FFFFFF;
}

.button-submit {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top:none;
    border-left:none;
    -moz-border-radius: 0.8em 0 1.4em 0;
    -webkit-border-radius: 0.8em 0 1.4em 0;
    float:left;
    left:-24px;
}

.button-cancel {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right:none;
    border-top:none;
    -moz-border-radius: 0 0.8em 0 1.4em;
    -webkit-border-radius: 0 0.8em 0 1.4em;
    float:right;
    left:24px;
}

.button-previous {
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: none;
    border-left:none;
    -moz-border-radius: 0 1.4em 0 0.8em;
    -webkit-border-radius: 0 1.4em 0 0.8em;
    float:left;
    top:74px;
        z-index:103;
}

.button-next {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: none;
    border-right:none;
    -moz-border-radius: 1.4em 0 0.8em 0;
    -webkit-border-radius: 1.4em 0 0.8em 0;
    float:right;
    top:74px;
        z-index:104;
}