@charset "UTF-8";
/* CSS Document */

.icon64-house-default { background-image:url(../images/house/default_64.png);}
.icon32-house-default { background-image:url(../images/house/default_32.png);}
.icon16-house-default { background-image:url(../images/house/default_16.png);}

/* Area icons */
.icon64-area- { background-image:url(../images/unknown_64.png);}
.icon64-area-grndfloor { background-image:url(../images/area/groundfloor_white_64.png);}
.icon64-area-firstfloor { background-image:url(../images/area/floor1_white_64.png);}
.icon64-area-basement { background-image:url(../images/area/basement_white_64.png);}

.icon32-area- { background-image:url(../images/unknown_32.png);}
.icon32-area-grndfloor { background-image:url(../images/area/groundfloor_white_32.png);}
.icon32-area-firstfloor { background-image:url(../images/area/floor1_white_32.png);}
.icon32-area-basement { background-image:url(../images/area/basement_white_32.png);}

.icon16-area- { background-image:url(../images/unknown_16.png);}
.icon16-area-grndfloor { background-image:url(../images/area/groundfloor_white_16.png);}
.icon16-area-firstfloor { background-image:url(../images/area/floor1_white_16.png);}
.icon16-area-basement { background-image:url(../images/area/basement_white_16.png);}

/* Room icons */
.icon64-room- { background-image:url(../images/unknown_64.png);}
.icon64-room-kitchen { background-image:url(../images/room/kitchen_64.png);}
.icon64-room-bedroom { background-image:url(../images/room/bedroom_64.png);}
.icon64-room-tvlounge { background-image:url(../images/room/tvlounge_64.png);}
.icon64-room-bathroom { background-image:url(../images/room/bathroom_64.png);}
.icon64-room-office { background-image:url(../images/room/office_64.png);}
.icon64-room-kidsroom { background-image:url(../images/room/kidsroom_64.png);}
.icon64-room-garage { background-image:url(../images/room/garage_64.png);}

.icon32-room- { background-image:url(../images/unknown_32.png);}
.icon32-room-kitchen { background-image:url(../images/room/kitchen_32.png);}
.icon32-room-bedroom { background-image:url(../images/room/bedroom_32.png);}
.icon32-room-tvlounge { background-image:url(../images/room/tvlounge_32.png);}
.icon32-room-bathroom { background-image:url(../images/room/bathroom_32.png);}
.icon32-room-office { background-image:url(../images/room/office_32.png);}
.icon32-room-kidsroom { background-image:url(../images/room/kidsroom_32.png);}
.icon32-room-garage { background-image:url(../images/room/garage_32.png);}

.icon16-room- { background-image:url(../images/unknown_16.png);}
.icon16-room-kitchen { background-image:url(../images/room/kitchen_16.png);}
.icon16-room-bedroom { background-image:url(../images/room/bedroom_16.png);}
.icon16-room-tvlounge { background-image:url(../images/room/tvlounge_16.png);}
.icon16-room-bathroom { background-image:url(../images/room/bathroom_16.png);}
.icon16-room-office { background-image:url(../images/room/office_16.png);}
.icon16-room-kidsroom { background-image:url(../images/room/kidsroom_16.png);}
.icon16-room-garage { background-image:url(../images/room/garage_16.png);}

/* Usage icons */
.icon64-usage- { background-image:url(../images/unknown_64.png);}
.icon32-usage- { background-image:url(../images/unknown_32.png);}
.icon16-usage- { background-image:url(../images/unknown_16.png);}
.icon64-usage-1 { background-image:url(../images/device_usage/1.light/light_64.png);}
.icon32-usage-1 { background-image:url(../images/device_usage/1.light/light_32.png);}
.icon16-usage-1 { background-image:url(../images/device_usage/1.light/light_16.png);}
.icon64-usage-2 { background-image:url(../images/device_usage/2.socket/socket_64.png);}
.icon32-usage-2 { background-image:url(../images/device_usage/2.socket/socket_32.png);}
.icon16-usage-2 { background-image:url(../images/device_usage/2.socket/socket_16.png);}
.icon64-usage-3 { background-image:url(../images/device_usage/3.shutter/shutter_64.png);}
.icon32-usage-3 { background-image:url(../images/device_usage/3.shutter/shutter_32.png);}
.icon16-usage-3 { background-image:url(../images/device_usage/3.shutter/shutter_16.png);}
.icon64-usage-4 { background-image:url(../images/device_usage/4.airconditionning/airconditionning_64.png);}
.icon32-usage-4 { background-image:url(../images/device_usage/4.airconditionning/airconditionning_32.png);}
.icon16-usage-4 { background-image:url(../images/device_usage/4.airconditionning/airconditionning_16.png);}
.icon64-usage-5 { background-image:url(../images/device_usage/5.ventilation/ventilation_64.png);}
.icon32-usage-5 { background-image:url(../images/device_usage/5.ventilation/ventilation_32.png);}
.icon16-usage-5 { background-image:url(../images/device_usage/5.ventilation/ventilation_16.png);}

/* State icons */
.icon32-state-1.trigger { background-image:url(../images/device_usage/1.light/trigger/32.png);}
.icon32-state-1.binary_0 { background-image:url(../images/device_usage/1.light/binary/0_32.png);}
.icon32-state-1.binary_1 { background-image:url(../images/device_usage/1.light/binary/1_32.png);}
.icon32-state-1.range_0 { background-image:url(../images/device_usage/1.light/range/0_32.png);}
.icon32-state-1.range_10 { background-image:url(../images/device_usage/1.light/range/10_32.png);}
.icon32-state-1.range_20 { background-image:url(../images/device_usage/1.light/range/20_32.png);}
.icon32-state-1.range_30 { background-image:url(../images/device_usage/1.light/range/30_32.png);}
.icon32-state-1.range_40 { background-image:url(../images/device_usage/1.light/range/40_32.png);}
.icon32-state-1.range_50 { background-image:url(../images/device_usage/1.light/range/50_32.png);}
.icon32-state-1.range_60 { background-image:url(../images/device_usage/1.light/range/60_32.png);}
.icon32-state-1.range_70 { background-image:url(../images/device_usage/1.light/range/70_32.png);}
.icon32-state-1.range_80 { background-image:url(../images/device_usage/1.light/range/80_32.png);}
.icon32-state-1.range_90 { background-image:url(../images/device_usage/1.light/range/90_32.png);}
.icon32-state-1.range_100 { background-image:url(../images/device_usage/1.light/range/100_32.png);}

.icon32-state-2.trigger { background-image:url(../images/device_usage/2.socket/trigger/32.png);}
.icon32-state-2.binary_0 { background-image:url(../images/device_usage/2.socket/binary/0_32.png);}
.icon32-state-2.binary_1 { background-image:url(../images/device_usage/2.socket/binary/1_32.png);}
.icon32-state-2.range_0 { background-image:url(../images/device_usage/2.socket/range/0_32.png);}
.icon32-state-2.range_10 { background-image:url(../images/device_usage/2.socket/range/10_32.png);}
.icon32-state-2.range_20 { background-image:url(../images/device_usage/2.socket/range/20_32.png);}
.icon32-state-2.range_30 { background-image:url(../images/device_usage/2.socket/range/30_32.png);}
.icon32-state-2.range_40 { background-image:url(../images/device_usage/2.socket/range/40_32.png);}
.icon32-state-2.range_50 { background-image:url(../images/device_usage/2.socket/range/50_32.png);}
.icon32-state-2.range_60 { background-image:url(../images/device_usage/2.socket/range/60_32.png);}
.icon32-state-2.range_70 { background-image:url(../images/device_usage/2.socket/range/70_32.png);}
.icon32-state-2.range_80 { background-image:url(../images/device_usage/2.socket/range/80_32.png);}
.icon32-state-2.range_90 { background-image:url(../images/device_usage/2.socket/range/90_32.png);}
.icon32-state-2.range_100 { background-image:url(../images/device_usage/2.socket/range/100_32.png);}

.icon32-state-3.trigger { background-image:url(../images/device_usage/3.shutter/trigger/32.png);}
.icon32-state-3.binary_0 { background-image:url(../images/device_usage/3.shutter/binary/0_32.png);}
.icon32-state-3.binary_1 { background-image:url(../images/device_usage/3.shutter/binary/1_32.png);}
.icon32-state-3.range_0 { background-image:url(../images/device_usage/3.shutter/range/0_32.png);}
.icon32-state-3.range_10 { background-image:url(../images/device_usage/3.shutter/range/10_32.png);}
.icon32-state-3.range_20 { background-image:url(../images/device_usage/3.shutter/range/20_32.png);}
.icon32-state-3.range_30 { background-image:url(../images/device_usage/3.shutter/range/30_32.png);}
.icon32-state-3.range_40 { background-image:url(../images/device_usage/3.shutter/range/40_32.png);}
.icon32-state-3.range_50 { background-image:url(../images/device_usage/3.shutter/range/50_32.png);}
.icon32-state-3.range_60 { background-image:url(../images/device_usage/3.shutter/range/60_32.png);}
.icon32-state-3.range_70 { background-image:url(../images/device_usage/3.shutter/range/70_32.png);}
.icon32-state-3.range_80 { background-image:url(../images/device_usage/3.shutter/range/80_32.png);}
.icon32-state-3.range_90 { background-image:url(../images/device_usage/3.shutter/range/90_32.png);}
.icon32-state-3.range_100 { background-image:url(../images/device_usage/3.shutter/range/100_32.png);}

.icon32-state-4.trigger { background-image:url(../images/device_usage/4.airconditionning/trigger/32.png);}
.icon32-state-4.binary_0 { background-image:url(../images/device_usage/4.airconditionning/binary/0_32.png);}
.icon32-state-4.binary_1 { background-image:url(../images/device_usage/4.airconditionning/binary/1_32.png);}
.icon32-state-4.range_0 { background-image:url(../images/device_usage/4.airconditionning/range/0_32.png);}
.icon32-state-4.range_10 { background-image:url(../images/device_usage/4.airconditionning/range/10_32.png);}
.icon32-state-4.range_20 { background-image:url(../images/device_usage/4.airconditionning/range/20_32.png);}
.icon32-state-4.range_30 { background-image:url(../images/device_usage/4.airconditionning/range/30_32.png);}
.icon32-state-4.range_40 { background-image:url(../images/device_usage/4.airconditionning/range/40_32.png);}
.icon32-state-4.range_50 { background-image:url(../images/device_usage/4.airconditionning/range/50_32.png);}
.icon32-state-4.range_60 { background-image:url(../images/device_usage/4.airconditionning/range/60_32.png);}
.icon32-state-4.range_70 { background-image:url(../images/device_usage/4.airconditionning/range/70_32.png);}
.icon32-state-4.range_80 { background-image:url(../images/device_usage/4.airconditionning/range/80_32.png);}
.icon32-state-4.range_90 { background-image:url(../images/device_usage/4.airconditionning/range/90_32.png);}
.icon32-state-4.range_100 { background-image:url(../images/device_usage/4.airconditionning/range/100_32.png);}

.icon32-state-5.trigger { background-image:url(../images/device_usage/5.ventilation/trigger/32.png);}
.icon32-state-5.binary_0 { background-image:url(../images/device_usage/5.ventilation/binary/0_32.png);}
.icon32-state-5.binary_1 { background-image:url(../images/device_usage/5.ventilation/binary/1_32.png);}
.icon32-state-5.range_0 { background-image:url(../images/device_usage/5.ventilation/range/0_32.png);}
.icon32-state-5.range_10 { background-image:url(../images/device_usage/5.ventilation/range/10_32.png);}
.icon32-state-5.range_20 { background-image:url(../images/device_usage/5.ventilation/range/20_32.png);}
.icon32-state-5.range_30 { background-image:url(../images/device_usage/5.ventilation/range/30_32.png);}
.icon32-state-5.range_40 { background-image:url(../images/device_usage/5.ventilation/range/40_32.png);}
.icon32-state-5.range_50 { background-image:url(../images/device_usage/5.ventilation/range/50_32.png);}
.icon32-state-5.range_60 { background-image:url(../images/device_usage/5.ventilation/range/60_32.png);}
.icon32-state-5.range_70 { background-image:url(../images/device_usage/5.ventilation/range/70_32.png);}
.icon32-state-5.range_80 { background-image:url(../images/device_usage/5.ventilation/range/80_32.png);}
.icon32-state-5.range_90 { background-image:url(../images/device_usage/5.ventilation/range/90_32.png);}
.icon32-state-5.range_100 { background-image:url(../images/device_usage/5.ventilation/range/100_32.png);}

/* Action */
.icon16-action-add { background-image:url(../images/action/plus_16.png);}
.icon16-action-del { background-image:url(../images/action/minus_16.png);}
.icon16-action-update { background-image:url(../images/action/pen_16.png);}
.icon16-action-next { background-image:url(../images/action/right_16.png);}
.icon16-action-previous { background-image:url(../images/action/left_16.png);}
.icon16-action-submit { background-image:url(../images/status/check_16.png);}
.icon16-action-cancel { background-image:url(../images/status/wrong_16.png);}
.icon16-action-password { background-image:url(../images/action/key_16.png);}
.icon16-action-save { background-image:url(../images/action/save_16.png);}
.icon16-action-reset { background-image:url(../images/action/refresh_16.png);}
.icon16-action-loading { background-image:url(../images/action/loading_16.gif);}

/* technology icons */
.icon64-technology-x10 {background-image:url(../../../images/technologies/x10_64.png);}
.icon32-technology-x10 {background-image:url(../../../images/technologies/x10_32.png);}
.icon16-technology-x10 {background-image:url(../../../images/technologies/x10_16.png);}
.icon64-technology-plcbus {background-image:url(../../../images/technologies/plcbus_64.png);}
.icon32-technology-plcbus {background-image:url(../../../images/technologies/plcbus_32.png);}
.icon16-technology-plcbus {background-image:url(../../../images/technologies/plcbus_16.png);}
.icon64-technology-computer {background-image:url(../../../images/technologies/computer_64.png);}
.icon32-technology-computer {background-image:url(../../../images/technologies/computer_32.png);}
.icon16-technology-computer {background-image:url(../../../images/technologies/computer_16.png);}

/* Status icons */
.icon64-status-true {background-image:url(../images/status/check_64.png);}
.icon64-status-false {background-image:url(../images/status/wrong_64.png);}
.icon64-status-active {background-image:url(../images/status/green_indicator_64.png);}
.icon64-status-inactive {background-image:url(../images/status/grey_indicator_64.png);}
.icon64-status-error {background-image:url(../images/status/wrong_64.png);}
.icon64-status-ok {background-image:url(../images/status/check_64.png);}
.icon64-status-info {background-image:url(../images/status/info_64.png);}
.icon64-status-warning {background-image:url(../images/status/warning_64.png);}

.icon32-status-true {background-image:url(../images/status/check_32.png);}
.icon32-status-false {background-image:url(../images/status/wrong_32.png);}
.icon32-status-active {background-image:url(../images/status/green_indicator_32.png);}
.icon32-status-inactive {background-image:url(../images/status/grey_indicator_32.png);}
.icon32-status-error {background-image:url(../images/status/wrong_32.png);}
.icon32-status-ok {background-image:url(../images/status/check_32.png);}
.icon32-status-info {background-image:url(../images/status/info_32.png);}
.icon32-status-warning {background-image:url(../images/status/warning_32.png);}

.icon16-status-true {background-image:url(../images/status/check_16.png);}
.icon16-status-false {background-image:url(../images/status/wrong_16.png);}
.icon16-status-active {background-image:url(../images/status/green_indicator_16.png);}
.icon16-status-inactive {background-image:url(../images/status/grey_indicator_16.png);}
.icon16-status-error {background-image:url(../images/status/wrong_16.png);}
.icon16-status-ok {background-image:url(../images/status/check_16.png);}
.icon16-status-info {background-image:url(../images/status/info_16.png);}
.icon16-status-warning {background-image:url(../images/status/warning_16.png);}

/* Tmp icons */
.icon16-device-message { background-image:url(../images/tmp/message_16.png);}
.icon16-device-notification { background-image:url(../images/tmp/notify_16.png);}
.icon32-device-temp { background-image:url(../images/tmp/temperature_32.png);}
.icon32-device-ventilation { background-image:url(../images/tmp/fan_white_32.png);}
.icon32-device-aiconditioning { background-image:url(../images/tmp/aircond_white_32.png);}
.icon16-status-ventilationon { background-image:url(../images/tmp/fan_green_16.png);}
.icon16-status-ventilationoff { background-image:url(../images/tmp/fan_black_16.png);}
.icon16-status-airconditioningon { background-image:url(../images/tmp/aircond_green_16.png);}
.icon16-status-airconditioningoff { background-image:url(../images/tmp/aircond_black_16.png);}

.icon16-text {
    display:inline-block;
    background-position: 50% left;
    background-repeat:no-repeat;
    min-height:16px;
    padding-left:18px;
    line-height:16px;
}

.icon16-text-right {
    display:inline-block;
    background-position: right 50%;
    background-repeat:no-repeat;
    min-height:16px;
    padding-right:18px;
    line-height:16px;
}

.icon32-text {
    display:inline-block;
    background-position: 50% left;
    background-repeat:no-repeat;
    min-height:32px;
    padding-left:34px;
    line-height:32px;
}
/* JQUERY ICONS */

/* states and images */

.ui-icon { display: inline-block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 16px; height: 16px; background-image: url(../images/action/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../images/action/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../images/action/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../images/action/ui-icons_222222_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/action/ui-icons_222222_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../images/action/ui-icons_222222_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../images/action/ui-icons_222222_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../images/action/ui-icons_222222_256x240.png); }


/* positioning */

.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
