@charset "UTF-8";
/* CSS Document */

.ui-accordion .ui-accordion-content {
    padding:0;
}

.ui-accordion .ui-accordion-header {
	cursor: pointer; position: relative; margin-top: 1px;
}
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a {
	display: block;
	font-size: 1em;
	padding: .5em .5em .5em 2.2em;
	text-decoration: none;
	border: 1px solid #cccccc;
    background-color:#9BB528;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#BDCB2F), to(#9BB528));
    background-image: -moz-linear-gradient(100% 60% 270deg, #BDCB2F, #9BB528);
	font-weight: bold;
	color: #000000;
	-moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}
.ui-accordion .ui-accordion-header a:hover {
	font-weight: bold;
	color: #ffffff;	
}
.ui-accordion .ui-accordion-header.ui-state-active a {
	color: #ffffff;
 	-moz-border-radius: 0.4em 0.4em 0 0;
    -webkit-border-radius: 0.4em 0.4em 0 0;
	border-bottom:none;
}
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content {
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	-moz-border-radius: 0 0 0.4em 0.4em;
    -webkit-border-radius: 0 0 0.4em 0.4em;
	background-color:#eeeeee ;
	padding: 1em;
	border-top: 0; margin-top: -2px;
	position: relative;
	top: 0; margin-bottom: 2px; overflow: auto;
	display: none;
}
	
.ui-accordion .ui-accordion-content-active {
	display: block;
}

/* Left menu */
#nav2 ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

#nav2 li a {
    color:#000;
    margin: 0 1px 0 1px;
    padding: 0.7em 0.5em 0.7em 40px;
    border-top:#CCC solid 1px;
    display:block;
    text-decoration:none;
    background-position:left 50%;
    background-repeat:no-repeat;
    position:relative;
}

#nav2 .titlenav2 {
    color:#000;
    background-color:#ffffff;
    margin: 0 1px 0 1px;
    padding: 0.2em 0.5em 0.2em 25px;
    border-top:#CCC solid 1px;
    display:block;
    text-decoration:none;
    background-position:left 50%;
    background-repeat:no-repeat;
    font-style: italic;
    font-weight: bold;
}

#nav2 li a.selected {
    font-weight:bold;
}

#nav2 li a:hover, #nav2 li a:active, #nav2 li a:focus {
    color:#ffffff;
    background-color: #403E3F;
}

.menu-indicator {
    background-position: right 50%;
    background-repeat:no-repeat;
    min-height:16px;
    padding:0 18px 0 3em;
    line-height:16px;
}

.host {
    padding: 0 0.5em 0 0.5em;
    position:absolute;
    top:0;
    left:0;
    font-size:0.8em;
    font-style:italic;
    border-bottom:1px solid #cccccc;
    border-right:1px solid #cccccc;
    -moz-border-radius: 0 0 0.8em 0;
}