ul#nav1 #logo {
    background: url(../../../images/logo_domogik_mini.png) 50% 50% no-repeat;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#BDCB2F), to(#9BB528));
    background-image: -moz-linear-gradient(100% 60% 270deg, #BDCB2F, #9BB528);
	border: #B9C248 1px solid;
	padding:0.3em;
    margin:0 0 0 1em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
}

/* Nav menu */
ul#nav1 {
    list-style: none;
    color: #ffffff;
    margin:0;
    padding:0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#000000), to(#403E3F));
    background-image: -moz-linear-gradient(100% 80% 90deg, #403E3F, #000000);
}

ul#nav1 li {
    display:inline-block;
    padding:0;
    margin:0;
}

ul#nav1 li a {
    display:inline-block;
    text-decoration:none;
    line-height:1.4em;
    padding: 0.8em 1em 0.8em 1em;
    margin: 0;
    color: #7D8430;
  	font-family:Impact;
	font-size:1.8em;
}

ul#nav1 li a:hover, ul#nav1 li a:focus, ul#nav1 li a:active {
    color: #B9C248;
}

ul#nav1 li a.selected {
    color: #B9C248;
    background: url(../images/decoration/nav1_selector_green.png) 50% 100% no-repeat;
}

ul#nav1 .login {
    float:right;
}
