/* Header */
#logo {
    float:left;
    margin:0 1em 0 0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#BDCB2F), to(#9BB528));
    background-image: -moz-linear-gradient(100% 60% 270deg, #BDCB2F, #9BB528);
    border: #B9C248 1px solid;
    padding:0.5em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

#header {
    padding:1em 0 0 1em;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#000000), to(#403E3F));
    background-image: -moz-linear-gradient(100% 80% 90deg, #403E3F, #000000);
    color:#EEEBE2;
}

#header #title {
    color: #EEEBE2;
    font-size:3em;
    font-family: Impact;
}

#header #subtitle {
    color: #C6C1AE;
    display:block;
    font-size:0.6em;
    font-style:italic;
    font-family:Arial;
}

/* Nav 1 */
ul#nav1 {
    list-style: none;
    padding: 0.2em 0.2em 0 0.2em;
    border-top: #B9C248 1px solid;
    border-bottom: #B9C248 1px solid;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#BDCB2F), to(#9BB528));
    background-image: -moz-linear-gradient(100% 60% 270deg, #BDCB2F, #9BB528);
    color: #ffffff;
    margin:0;
    padding:0 0.5em 0 0.5em;
}
ul#nav1 li {
    display:inline-block;
    padding:0;
    margin:0;
    line-height:2.5em;
}
ul#nav1 li a {
    font-family:Impact;
    font-size:2em;
    display:inline-block;
    text-decoration:none;
    padding: 0 1em 16px 1em;
    color: #6F7718;
}

ul#nav1 li a .description {
    font-size:0.6em;
    display:block;
    color:#6F7718;
    font-family:Arial;
    font-style:italic;
    line-height:0.8em;
}

ul#nav1 li a.selected {
    color: #28281E;
    background: url(../images/decoration/nav1_selector_black.png) 50% 100% no-repeat;
}

ul#nav1 li a.selected .description {
    color: #444432;
}

ul#nav1 li a:hover{
    color: #28281E;
}

ul#nav1 li a:hover .description {
    color: #444432;
}

ul#nav1 li a:focus {
    color: #FFFFFF;
}

ul#nav1 li a:focus .description{
    color: #FFFFFF;
}



ul#nav1 .login {
    float:right;
}