.section .icon {
    

}
.section .ident {
    padding:0 0 0 70px;
    background-position:top left;
    background-repeat:no-repeat;
    -webkit-box-reflect:below -30px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
    line-height:64px;
}

.section .actions {
    list-style:none;
    margin:0;
    padding:0;
}

.section .actions li {
    display:inline-block;
    margin:0;
    padding:0;
}

/* Action message */
#messages {
    padding:1em 1em 1em 50px;
    margin:1em 0 1em 0;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-position:left 50%;
    background-repeat: no-repeat;
    font-weight:bold;
    font-style:italic;
}

#messages.ok {
    background-color:#99FF66;
    background-image: url(../images/success_32.png);
    border:1px solid #339900;
}

#messages.error {
    background-color:#FF6666;
    background-image: url(../images/error_32.png);
    border:1px solid #993300;
}

/* Subsection */

.subsection {
    margin:1em;
    padding:1em;
    border: 1px solid #979387;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-color:#eeeeee;
}