
.instructions {
    padding:1em 1em 1em 50px;
    margin:1em 0 1em 0;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-position:left 50%;
    background-repeat: no-repeat;
    font-weight:bold;
    font-style:italic;
    background-color:#B0CEFF;
    border:1px solid #003E99;
}

/* Subsection */

.subsection {
    display:block;
    margin:1em;
    padding:1em;
    border: 1px solid #979387;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    background-color:#eeeeee;
}

.subsection h2 {
    padding-left:18px;
    background-position:left 50%;
    background-repeat: no-repeat;
}

.subsection > .actions {
    list-style:none;
    padding:0;
}

.subsection > .actions li {
    display:inline-block;
    margin:0;
    padding:0;
}