.block {
	position:relative;
	display:inline-block;
    background-color:#eeeeee;
    width:32em;
    margin:1em 0 1em 1em;
    border: 1px solid #979387;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.block:hover {
    -moz-box-shadow: 5px 5px 10px #999;
    -webkit-box-shadow: 5px 5px 10px #999;    
}

/* Header section */

.block .header {
    background-position: 5px 5px;
    background-repeat:no-repeat;
    min-height: 64px;
    padding-bottom: 1em;
    font-weight:normal;
}

.block .ident {
	position:absolute;
    font-size:0.8em;
    padding:0.5em 0 0 70px;
    min-height:50px;
    display:inline-block;
    text-decoration:none;
}

.block .title {
    font-size:1em;
    color:#000000;
}

.block .subtitle {
    font-style:italic;
    color:#666;
    padding-left:20px;
    background-position:left 50%;
    background-repeat:no-repeat;
}
