@charset "UTF-8";
/* CSS Document */

table {
    width:100%;
}

table th {
    background-color:#403E3F;
    color:#FFF;
}

table td {
    padding:0.2em;
}

table tr.even {
    background-color:#FFF;
}

table ul.actions {
    list-style:none;
    margin:0;
    padding:0;
}

table ul.actions li {
    display:inline;
    margin:0 1em 0 0;
    padding:0;
}
