@charset "UTF-8";
/* CSS Document */

table.simple {
    width:100%;
}

table.simple th {
    background-color:#403E3F;
    color:#FFF;
}

table.simple td {
    text-align:center;
    padding:0.2em;
}

table.simple tr.even {
    background-color:#FFF;
}

table.simple ul.actions {
    list-style:none;
    margin:0;
    padding:0;
}

table.simple ul.actions li {
    display:inline;
    margin:0 1em 0 0;
    padding:0;
}

/* Sorter */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/table/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right:1.5em;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody td.actions {
    text-align:center;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/table/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/table/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
