{% extends "layout_admin.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org> {% endcomment %}


{% load i18n %}
{% block js_script %}
{% endblock %}
{% block css %}
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/page-admin-organization.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}

{% block banner %}
    <div class="section">
        <h1 class="ident"><span class="title">{% trans "Devices" %}</span></h1>
        {% ifnotequal status "" %}
        <div id='messages' class='{{status}}'>{{msg}}</div>
        {% endifnotequal %}
        <ul class="actions"></ul>
    </div>
{% endblock %}

{% block right %}
    <div class="subsection">
        <h2>{% trans "Areas list" %}</h2>
        <div id="tabs">
            {% spaceless %}
            <ul>
                {% for area in areas_list %}
                    <li><a id="tab{{ area.id }}" href="#element{{ area.id }}" class="icon16-area-{{ area.config.icon }}">{{ area.name }}</a></li>
                {% endfor %}
            </ul>
            {% endspaceless %}
            {% for area in areas_list %}
            <div id="element{{ area.id }}" class="tabelement">
                <ul class="actions">
                    <li><button id='del{{ area.id }}' class='icon16-action-del buttonside' title="{% trans "Delete" %} '{{ area.name }}'"><span class='offscreen'>{% trans "Delete" %} {{ area.name }}</span></button></li>
                    <li><button id="update{{ area.id }}" class="icon16-action-update buttonside" title="{% trans "Modify" %} '{{ area.name }}'"><span class='offscreen'>{% trans "Modify" %} {{ area.name }}</span></button></li>
                </ul>
                <div class="content">
                    <div id="icon{{ area.id }}"></div>
                    <h2>{{ area.name }}</h2>
                    <p>{{ area.description }}</p>
                </div>
                <div id="update_dialog_{{ area.id }}" title="{% trans "Modify" %} {{ area.name }}">
                    <p id="validateTips{{ area.id }}">{% trans "All fields are required." %}</p>
                    <form >
                        <fieldset>
                            <label class="medium" for="area{{ area.id }}-newname">{% trans "New name" %}</label>
                            <input type="text" class="medium" id="area{{ area.id }}-newname" name="area{{ area.id }}-newname" />
                            <label class="medium" for="area{{ area.id }}-newdescription">{% trans "New description" %}</label>
                            <textarea type="text" class="medium" id="area{{ area.id }}-newdescription" name="area{{ area.id }}-newdescription"></textarea>
                        </fieldset>'
                    </form>
                </div>
                <div id="delete_confirmation_{{ area.id }}" title="{% trans "Delete" %} {{ area.name }}">
                    <p>{% trans "Please confirm to delete" %} '{{ area.name }}'</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
