{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load commands %}
{% load text %}

{% block js_script %}
    $(function() {
        var totalactions = 0;
        var finishedactions = 0;
        var erroractions = 0;
        var json = {};
        
        $("#customize a").click(function() {        
            $.getREST(['base', 'feature_association', 'del', 'association_type', 'area', 'association_id', '{{ area.id }}'],
                function(data) {
                    var status = (data.status).toLowerCase();
                    if (status == 'ok') {
                        totalactions = $(".maininfo li:first, .mainactions li, .otheractions li").length;
                        finishedactions = 0;
                        erroractions = 0;

                        json = {};
                        json.list = []
                        // Main info
                        $(".maininfo li:first").each(function(index) {
                            addAssociation($(this).attr('widgetid'), $(this).attr('featurevalue'), function(obj) {
                                json.maininfo = obj;
                                json.list.push(obj);
                            });
                        });
            
                        // Main actions
                        json.mainactions = [];
                        $(".mainactions li").each(function(index) {
                            addAssociation($(this).attr('widgetid'), $(this).attr('featurevalue'), function(obj) {
                                json.mainactions.push(obj);
                                json.list.push(obj);
                            });
                        });
                        
                        // Other actions
                        json.otheractions = [];
                        $(".otheractions li").each(function(index) {
                            addAssociation($(this).attr('widgetid'), $(this).attr('featurevalue'), function(obj) {
                                json.otheractions.push(obj);
                                json.list.push(obj);
                            });
                        });
                        
                        // Save ui config
                        saveUIConfig();
                    } else {
                        $.notification('error', data.description);                                                              
                    }
                }
            );
        });

        function saveUIConfig() {
            if (finishedactions == totalactions) {
                if (erroractions == 0) {
                    var jsonstr = JSON.stringify(json).replace(/"/g, '&quot;');
                    $.getREST(['base', 'ui_config', 'set', 'name', 'area', 'reference', '{{ area.id }}', 'key', 'widgets', 'value', jsonstr],
                        function(data) {
                            var status = (data.status).toLowerCase();
                            if (status == 'ok') {
                                $.loadPage('{% url show_area_view area.id %}', {'status': 'ok', 'msg': '{% trans "Page successfully configured" %}'});
                            } else {
                                $.notification('error', data.description);                                          
                                // If error clean the association table
                                $.getREST(['base', 'feature_association', 'del', 'association_type', 'area', 'association_id', {{ area.id }}],
                                    function(data) {
                                        var status = (data.status).toLowerCase();
                                        if (status != 'ok') {
                                            $.notification('error', data.description);                                          
                                        }
                                    }
                                ); 
                            }
                        }
                    );   
                } else { // Errors
                    $.notification('error', 'Impossible to save everything : some widgets returned errors');
                    // If error clean the association table
                    $.getREST(['base', 'feature_association', 'del', 'association_type', 'area', 'association_id', {{ area.id }}],
                        function(data) {
                            var status = (data.status).toLowerCase();
                            if (status != 'ok') {
                                $.notification('error', data.description);                                          
                            }
                        }
                    ); 
                }
            }
        }
        
        function addAssociation(widgetid, featureid, funct) {
            $.getREST(['base', 'feature_association', 'add', 'feature_id', featureid, 'association_type', 'area', 'association_id', '{{ area.id }}'],
                function(data) {
                    finishedactions++;
                    var status = (data.status).toLowerCase();
                    if (status == 'ok') {
                        var action = {widget:widgetid, feature:featureid, association: data.feature_association[0].id};
                        funct(action);
                        saveUIConfig();
                    } else {
                        erroractions++;
                        $.notification('error', data.description);                                          
                    }
                }
            );
        }
        
        {% for association in area.associations %}
            $("#model_{{ association.id }}").{{ association.widget_id }}()
                .{{ association.widget_id }}('model', {
                    featurevalue: '{{ association.feature.id }}',
                    featurename: '{{ association.feature.device_feature_model.name }}',
                    devicename: '{{ association.feature.device.name }}'
                })
                .draggable({
                    helper: false,
                    revert: false,
                    appendTo: 'body',
                    drag: function(event, ui) {
                        $("#panel").hide();
                    },
                    stop: function(event, ui) {
                        $("#panel").show();
                        $("#widgetslist").widget_models('update');
                        if($(this).hasClass("success")) {
                            $(this).removeClass("success");
                        } else {
                            $(this).remove();			
                        }
                    }
                });
        {% endfor %}
        
        $(".feature").click(function(){
            $(".selected").removeClass('selected');
            $(this).addClass('selected');
            var type = $(this).attr('type');
            var featurevalue = $(this).attr('featurevalue');
            var featurename = $(this).attr('featurename');
            var devicename = $(this).attr('devicename');
            $("#widgetslist").empty();
            $("#widgets").show();
            $("#widgetslist").widget_models({
                type: type,
                featurevalue: featurevalue,
                featurename: featurename,
                devicename: devicename
            });
        });
        
        $("#widgets").hide();
        
        /* Drag & Drop */
        $('.maininfo').droppable({
                activeClass: 'state-active',
                hoverClass: 'state-hover',
                accept: function(draggable) {
                    return ($("li", this).length  < 1);
                },
                drop: ondrop
        });
        
        $('.mainactions').droppable({
                activeClass: 'state-active',
                hoverClass: 'state-hover',
                accept: function(draggable) {
                    return ($("li", this).length  < 4);
                },
                drop: ondrop
        });
        
        $('.otheractions').droppable({
                activeClass: 'state-active',
                hoverClass: 'state-hover',
                drop: ondrop
        });
        
        function ondrop(event, ui) {
            var item = ui.draggable.detach();
            item.removeAttr('style');
            item.addClass('success');
            item.draggable({
                helper: false,
                revert: false
            });
            $("ul", this).append(item);
            return false;
        }
    });
{% endblock %}

{% block css %}
    <link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/page-show-edit.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
        <li id='customize'><a href='#' class='icon16-action-submit'>{% trans "Finish" %}</a></li>
{% endblock %}

{% block banner %}
    <h1 class="ident icon64-area-{{ area.config.icon }}"><span class="title">{{ area.name }}</span></h1>
    <div class="maininfo" ddvalue='maininfo' ddname='Main info'>
        <span class='offscreen'>{% trans "Main info" %}</span>
        <ul>
        {% if area.config.widgets.maininfo %}
            <li id="model_{{ area.config.widgets.maininfo.association }}">1x1</li>
        {% endif %}
        </ul>
    </div>
{% endblock %}

{% block contentleft %}
    <div class='actions'>
        <div class='mainactions'>
            <ul>
            {% for action in area.config.widgets.mainactions %}
                <li id="model_{{ action.association }}">1x1</li>
            {% endfor %}
            </ul>
        </div>
        <div class='otheractions'>
            <ul>
            {% for action in area.config.widgets.otheractions %}
                <li id="model_{{ action.association }}">1x1</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    <div id='panel'>
        <div id='features'>
            <h2>Features</h2>
            <ul id='featureslist'>
            {% regroup devices_list|dictsort:"device_usage_id" by device_usage as usages_list %}
            {% for usage in usages_list %}
                <li><div class='usage icon16-usage-{{ usage.grouper.id }}'>{{usage.grouper.name }}</div>
                    <ul>
                        {% for device in usage.list %}
                        <li><div class='device icon16-technology-{{ device.device_type.device_technology_id }}'>{{ device.name }} ({{ device.address }})</div>
                            <ul>
                                {% for feature in device.features %}
                                <li><div class='feature' featurevalue='{{ feature.id }}' devicename='{{device.name }}' featurename='{{ feature.device_feature_model.name }}' type='{{ feature.device_feature_model.feature_type }}.{{ feature.device_feature_model.value_type }}'>{{ feature.device_feature_model.name }}</div></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id='widgets' ddname="Widgets">
            <h2>Widgets</h2>
            <ul id='widgetslist'>
            </ul>
        </div>
    </div>
{% endblock %}

{% block contentright %}
{% endblock %}