{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% block js_script %}
// <![CDATA[
// ]]>
{% endblock %}

{% block css %}
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
		<li><a href='{% url show_view %}' class='home'>{{ house.name }}</a></li>
{% endblock %}

{% block banner %}
	<div class="section">
		<h1 class="ident icon64-area-{{ area.config.icon }}"><span class="title">{{ area.name }}</span></h1>
		<ul class="actions"></ul>
	</div>
{% endblock %}

{% block content %}
{% for room in rooms_list %}
		{% if forloop.counter0|divisibleby:"3" %}
            <div class='row'>
        {% endif %}
				<div class='column'>
					<script type="text/javascript">
					// <![CDATA[
						$(function() {
							$("#extended_{{ room.id }}").leftpanel({
								closetext: "Close",
								openbutton: "#openextended_{{ room.id }}",
							});
						});
					// ]]>
					</script>

					<div class='block'>
						
						<h2 class='header icon64-room-{{ room.config.icon }}'>
							<a href='{% url show_room_view room.id %}' class="ident">
								<span class="title">{{ room.name }}</span>
								<br />
								<span class="subtitle">{{ room.description }}</span>
							</a>
						</h2>
							<!--span class='temp icon32-device-temp'>21 &#176;C</span-->
                        <div class='footer'><button class='button_bottomright' id='openextended_{{ room.id }}'>Full commands</button></div>
					</div>

					<div class='extended' id='extended_{{ room.id }}'>
					</div>
				</div>
		{% if forloop.counter0|divisibleby:"3" %}
            </div>
		{% endif %}
	{% endfor %}
{% endblock %}
