{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load commands %}
{% load text %}

{% block js_script %}
    $(function() {
        {% for feature in area.feature_association %}        
            {% ifequal feature.device_feature.feature_type "actuator" %}
                {% get_command_widget feature %}
                {% get_command_init feature %}
            {% endifequal %}
            {% ifequal feature.device_feature.feature_type "sensor" %}
                {% get_info_widget feature %}
                {% get_info_init feature %}
            {% endifequal %}
        {% endfor %}
        
        {% if area.feature_association %}
            {% regroup area.feature_association|dictsort:"device_id" by device as devices %}
            var devices = [{% for device in devices %}{{ device.grouper.id }}{% if not forloop.last %},{% endif %}{% endfor %}];
        
            $.eventRequest(devices, function(event) {
                switch(event.device_id) {
                {% regroup area.feature_association|dictsort:"device_id" by device as devices %}
                {% for device in devices %}
                    case {{ device.grouper.id }}:
                        $.each(event.data, function(index, item) {
                            switch (item.key) {                        
                            {% for association in device.list %}
                                case '{{ association.device_feature.stat_key }}':
                                    {% ifequal association.device_feature.feature_type "actuator" %}
                                        {% get_command_update association 'item.value' %}
                                    {% endifequal %}
                                    {% ifequal association.device_feature.feature_type "sensor" %}
                                        {% get_info_update association 'item.value' %}
                                    {% endifequal %}                            
                                    break;
                            {% endfor %}                    
                            }
                        });
                        break;
                {% endfor %}
                }
            });
        {% endif %}        
    });
{% endblock %}

{% block css %}
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
	<li><a href='{% url show_view %}' class='house'>{{ house.name|default:'House' }}</a></li>
{% endblock %}

{% block banner %}
    <h1 class="ident icon64-area-{{ area.config.icon }}"><span class="title">{{ area.name }}</span></h1>
{% endblock %}

{% block contentleft %}
    <div class='mainactions'>
        <ul>
        </ul>
    </div>
    <div class='actions'>
        <ul>
            {% for association in area.feature_association %}
                <li><div id="widget_{{ association.device_id }}_{{ association.device_feature_id }}"></div></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block contentright %}
    {% for room in rooms_list %}
		{% if forloop.counter0|divisibleby:"3" %}
            <!--div class='row'-->
        {% endif %}
				<!--div class='column'-->
					<div class='block'>
						<h2 class='header icon64-room-{{ room.config.icon }}'>
							<a href='{% url show_room_view room.id %}' class="ident">
								<span class="title">{{ room.name }}</span>
								<br />
								<span class="subtitle">{{ room.description }}</span>
							</a>
						</h2>
							<!--span class='temp icon32-device-temp'>21 &#176;C</span-->
					</div>
				<!--/div-->
		{% if forloop.counter0|divisibleby:"3" %}
            <!--/div-->
		{% endif %}
	{% endfor %}
{% endblock %}
