{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load commands %}
{% load text %}

{% block js_script %}
    $(function() {
        {% for association in area.associations %}
            {% get_widget association.id association.widget_id association.feature %}
            {% get_widget_init association.id association.widget_id association.feature %}
        {% endfor %}

        {% regroup events|dictsort:"device_id" by device_id as devices %}
        var devices = [{% for device in devices %}{{ device.grouper }}{% if not forloop.last %},{% endif %}{% endfor %}];
        var events = [{% for event in events %}{%autoescape off%}{{ event }}{%endautoescape%}{% if not forloop.last %},{% endif %}{% endfor %}];
        $.eventRequest(devices, events);
    });
{% endblock %}

{% block css %}
    <link rel="icon shortcut" type="image/png" href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/images/house/default_16.png" />
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
	<li><a href='{% url show_view %}' class='house'>{{ house.name|default:'House' }}</a></li>
	<li id='customize'><a href='{% url show_area_edit_view area.id %}' class='icon16-action-customize'>{% trans 'Customize' %}</a></li>
{% endblock %}

{% block banner %}
    <h1 class="ident icon64-area-{{ area.config.icon }}"><span class="title">{{ area.name }}</span></h1>
	<div class="maininfo">
        <ul>
        {% if area.config.widgets.maininfo %}
            <li><div id="widget_{{ area.config.widgets.maininfo.association }}"></div></li>
        {% endif %}    
        </ul>
    </div>
{% endblock %}

{% block contentleft %}
    <div class='actions'>
        <div class='mainactions'>
            <ul>
            {% for action in area.config.widgets.mainactions %}
                <li><div id="widget_{{ action.association }}"></div></li>
            {% endfor %}
            </ul>
        </div>
        <div class='otheractions'>
            <ul>
            {% for action in area.config.widgets.otheractions %}
                <li><div id="widget_{{ action.association }}"></div></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block contentright %}
    {% for room in rooms_list %}
        <div class='block subsection'>
            <script type="text/javascript">
                $(function() {
                {% for association in room.associations %}
                    {% get_widget association.id association.widget_id association.feature %}
                    {% get_widget_init association.id association.widget_id association.feature %}
                {% endfor %}
                });
            </script>
            <h2 class='header icon64-room-{{ room.config.icon }}'>
                <a href='{% url show_room_view room.id %}' class="ident">
                    <span class="title">{{ room.name }}</span>
                    <br />
                    <span class="subtitle">{{ room.description }}</span>
                </a>
            </h2>
            <div class="maininfo">
                <ul>
                {% if room.config.widgets.maininfo %}
                    <li><div id="widget_{{ room.config.widgets.maininfo.association }}"></div></li>
                {% endif %}    
                </ul>
            </div>
            <div class='mainactions'>
                <ul>
                {% for action in room.config.widgets.mainactions %}
                    <li><div id="widget_{{ action.association }}"></div></li>
                {% endfor %}
                </ul>
            </div>
        </div>
	{% endfor %}
{% endblock %}
