{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load text %}

{% block js_script %}
    $(function() {
        $.initAssociations('area', {{ area.id }});
    });
{% endblock %}

{% block css %}
    <link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/page-show-edit.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js_include %}
    <script type="text/javascript" src="/design/js/dmg.dragdrop.js"></script>
    <script type="text/javascript" src="/design/js/page-show-edit.js"></script>
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
        <li id='customize'><a href='{% url show_area_view area.id %}' class='icon16-action-submit'>{% trans "Finish" %}</a></li>
{% endblock %}

{% block contentleft %}
    <section id="mainsection">
        <div id='area_{{ area.id }}'>
            <header>
			    <h1 class="ident icon64-area-{{ area.config.icon }}"><span class="title">{{ area.name }}</span></h1>
                <div class="maininfo" role='list'></div>
            </header>
            <div class='actions'>
                <div class='mainactions' role='list'></div>
                <div class='otheractions' role='list'></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block contentright %}
    <div id='panel'>
        <div id='features'>
            <h2>Features</h2>
            <ul id='featureslist'>
            {% regroup devices_list|dictsort:"device_usage_id" by device_usage as usages_list %}
            {% for usage in usages_list %}
                <li><div class='usage icon16-usage-{{ usage.grouper.id }}'>{{usage.grouper.name }}</div>
                    <ul>
                        {% for device in usage.list %}
                        <li><div class='device icon16-technology-{{ device.device_type.device_technology_id }}'>{{ device.name }} ({{ device.address }})</div>
                            <ul>
                                {% for feature in device.features %}
                                <li><div class='feature' featureid='{{ feature.id }}' devicename='{{device.name }}' featuremodel='{{ feature.device_feature_model.id }}' featurename='{{ feature.device_feature_model.name }}' type='{{ feature.device_feature_model.feature_type }}.{{ feature.device_feature_model.value_type }}'>{{ feature.device_feature_model.name }}</div></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id='widgets' ddname="Widgets">
            <h2>Widgets</h2>
            <ul id='widgetslist'>
            </ul>
        </div>
    </div>
{% endblock %}