{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% block js_script %}
// <![CDATA[
    $(function(){
		$(".section .extended").hide();
    });
// ]]>
{% endblock %}

{% block css %}
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
	<li><a href='{% url show_view %}' class='home'>My House</a></li>
	<li><a href='{% url show_area_view area_id %}' class='icon16-area-grndfloor'>{{ area_name }}</a></li>
	<li><a href='{% url show_room_view room_id %}' class='icon16-room-kitchen'>{{ room_name }}</a></li>
{% endblock %}

{% block banner %}
    <div class="section">
	    <h1 class="ident icon64-usage-{{ device.usage_id }}"><span class="title">{{ device.name }}</span></h1>
	    <ul class="actions"></ul>
    </div>
{% endblock %}

{% block content %}
{% endblock %}