{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load commands %}
{% load text %}

{% block js_script %}
    $(function() {
        {% for association in house_features_associations %}
            {% get_widget association %}
            {% get_widget_init association %}
        {% endfor %}

        {% if house_features_associations %}
            {% regroup house_features_associations|dictsort:"device_id" by device as devices %}
            var devices = [{% for device in devices %}{{ device.grouper.id }}{% if not forloop.last %},{% endif %}{% endfor %}];
            $.eventRequest(devices, function(event) {
                switch(event.device_id) {
                {% regroup house_features_associations|dictsort:"device_id" by device as devices %}
                {% for device in devices %}
                    case {{ device.grouper.id }}:
                        $.each(event.data, function(index, item) {
                            switch (item.key) {                        
                            {% for association in device.list %}
                                case '{{ association.device_feature.stat_key }}':
                                    {% get_widget_update association 'item.value' %}
                                    break;
                            {% endfor %}                    
                            }
                        });
                        break;
                {% endfor %}
                }
            });
        {% endif %}
    });
{% endblock %}

{% block css %}
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
        <li id='customize'><a href='{% url show_house_edit_view %}' class='icon16-action-customize'>{% trans "Customize" %}</a></li>
{% endblock %}

{% block banner %}
    <h1 class="ident icon64-house-default"><span class="title">{{ house.name }}</span></h1>
    <div class="maininfo">
        <ul>
        {% if house.config.widget_placement.maininfo %}
            <li><div id="widget_{{ house.config.widget_placement.maininfo.device }}_{{ house.config.widget_placement.maininfo.feature }}"></div></li>
        {% endif %}    
        </ul>
    </div>
{% endblock %}

{% block contentleft %}
    <div class='actions'>
        <div class='mainactions'>
            <ul>
            {% for action in house.config.widget_placement.mainactions %}
                <li><div id="widget_{{ action.device }}_{{ action.feature }}"></div></li>
            {% endfor %}
            </ul>
        </div>
        <div class='otheractions'>
            <ul>
            {% for action in house.config.widget_placement.otheractions %}
                <li><div id="widget_{{ action.device }}_{{ action.feature }}"></div></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block contentright %}
    {% for area in areas_list %}
	    {% if forloop.counter0|divisibleby:"3" %}
		    <!--div class='row'-->
	    {% endif %}
			    <!--div class='column'-->
				    <div class='block'>
					    <h2 class='header icon64-area-{{ area.config.icon}}'>
						    <a href='{% url show_area_view area.id %}' class="ident">
							    <span class="title">{{ area.name }}</span>
							    <br />
							    <span class="subtitle">{{ area.description }}</span>
						    </a>
						    <!--span class='temp icon32-device-temp'>21 &#176;C</span-->
					    </h2>
                        <div class='actions'>
                        </div>
            		    <!--div class='footer'><button class='button_bottomright' id='openextended_{{ area.id }}'>Full commands</button></div-->
				    </div>
				    <!--div class='extended' id='extended_{{ area.id }}'>
                        <h3>Commandes</h3>
                        <ul class='commands'>
                        </ul>
                    </div-->
			    <!--/div-->
	    {% if forloop.counter0|divisibleby:"3" %}
		    <!--/div-->
	    {% endif %}
    {% endfor %}
{% endblock %}