{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load commands %}
{% load text %}

{% block js_script %}
    $(function() {
        var totalactions = 0;
        var finishactions = 0;
        var savetries = 0;
        var json = {};
        
        $("#customize a").click(function() {
            totalactions = $(".maininfo li:first, .mainactions li, .otheractions li").length;
            finishactions = 0;
            savetries = 0;
        
        /*
            $.getREST(['base', 'feature_association', 'del', 'association_type', 'house', 'association_id', '0'],
                function(data) {
                    var status = (data.status).toLowerCase();
                    if (status != 'ok') {
//                        self.cancel();
                        $.notification('error', data.description);                                          
                    }
                }
            );*/

            json = {};
            json.list = []
            // Main info
            $(".maininfo li:first").each(function(index) {
                var action = {widget:$(this).attr('widgetid'), device:$(this).attr('devicevalue'), feature:$(this).attr('featurevalue')};
                json.maininfo = action;
                json.list.push(action);
                addAssociation($(this).attr('devicevalue'), $(this).attr('featurevalue'));
            });

            // Main actions
            json.mainactions = [];
            $(".mainactions li").each(function(index) {
                var action = {widget:$(this).attr('widgetid'), device:$(this).attr('devicevalue'), feature:$(this).attr('featurevalue')};
                json.mainactions.push(action);
                json.list.push(action);
                addAssociation($(this).attr('devicevalue'), $(this).attr('featurevalue'));
            });
            
            // Other actions
            json.otheractions = [];
            $(".otheractions li").each(function(index) {
                var action = {widget:$(this).attr('widgetid'), device:$(this).attr('devicevalue'), feature:$(this).attr('featurevalue')};
                json.otheractions.push(action);
                json.list.push(action);
                addAssociation($(this).attr('devicevalue'), $(this).attr('featurevalue'));
            });
            
            // Save ui config
            saveUIConfig();
        });

        function saveUIConfig() {
            savetries++;
            if (savetries < 5) {
                if (finishactions < totalactions) {
                    window.setTimeout(saveUIConfig, 1000);
                } else {
                    var jsonstr = JSON.stringify(json).replace(/"/g, '&quot;');
                    $.getREST(['base', 'ui_config', 'set', 'name', 'house', 'reference', '0', 'key', 'widgets', 'value', jsonstr],
                        function(data) {
                            var status = (data.status).toLowerCase();
                            if (status == 'ok') {
                                $.loadPage('{% url show_house_view %}', {'status': 'ok', 'msg': '{% trans "Page successfully configured" %}'});
                            } else {
                                $.notification('error', data.description);                                          
                            }
                        }
                    );                    
                }
            } else {
                $.notification('error', 'Impossible to save everything : some widgets returned errors');                                                      
            }
        }
        
        function addAssociation(deviceid, featureid) {
            $.getREST(['base', 'feature_association', 'del', 'device_id', deviceid, 'feature_id', featureid],
                function(data) {
                    var status = (data.status).toLowerCase();
                    if (status == 'ok') {
                        $.getREST(['base', 'feature_association', 'add', 'device_id', deviceid, 'feature_id', featureid, 'association_type', 'house', 'association_id', '0'],
                            function(data) {
                                var status = (data.status).toLowerCase();
                                if (status == 'ok') {
                                    finishactions++;
                                } else {
                                    $.notification('error', data.description);                                          
                                }
                            }
                        );
                    } else {
                        $.notification('error', data.description);                                          
                    }
                }
            );
        }

        {% if house.config.widgets.maininfo %}
            $(".maininfo ul").{{ house.config.widgets.maininfo.widget }}({
                featurevalue: '{{ house.config.widgets.maininfo.feature }}',
                featurename: 'featurename',
                devicevalue: '{{ house.config.widgets.maininfo.device }}',
                devicename: 'devicename',
                draggable: {
                    helper: false,
                    revert: false,
                    appendTo: 'body',
                    drag: function(event, ui) {
                        $("#panel").hide();
                    },
                    stop: function(event, ui) {
                        $("#panel").show();
                        $("#widgetslist").widget_models('update');
                        if($(this).hasClass("success")) {
                            $(this).removeClass("success");
                        } else {
                            $(this).remove();			
                        }
                    }
                }
            });
        {% endif %}
        
        {% for action in house.config.widgets.mainactions %}
            $(".mainactions ul").{{ action.widget }}({
                featurevalue: '{{ action.feature }}',
                featurename: 'featurename',
                devicevalue: '{{ action.device }}',
                devicename: 'devicename',
                draggable: {
                    helper: false,
                    revert: false,
                    appendTo: 'body',
		    drag: function(event, ui) {
			$("#panel").hide();
		    },
		    stop: function(event, ui) {
			$("#panel").show();
                        $("#widgetslist").widget_models('update');
			if($(this).hasClass("success")) {
			    $(this).removeClass("success");
			} else {
			    $(this).remove();			
			}
		    }
                }
            });
        {% endfor %}
        
        {% for action in house.config.widgets.otheractions %}
            $(".otheractions ul").{{ action.widget }}({
                featurevalue: '{{ action.feature }}',
                featurename: 'featurename',
                devicevalue: '{{ action.device }}',
                devicename: 'devicename',
                draggable: {
                    helper: false,
                    revert: false,
                    appendTo: 'body',
		    drag: function(event, ui) {
			$("#panel").hide();
		    },
		    stop: function(event, ui) {
			$("#panel").show();
                        $("#widgetslist").widget_models('update');
			if($(this).hasClass("success")) {
			    $(this).removeClass("success");
			} else {
			    $(this).remove();			
			}
		    }
                }
            });
        {% endfor %}
        
        $(".feature").click(function(){
            $(".selected").removeClass('selected');
            $(this).addClass('selected');
            var type = $(this).attr('type');
            var featurevalue = $(this).attr('featurevalue');
            var featurename = $(this).attr('featurename');
            var devicevalue = $(this).attr('devicevalue');
            var devicename = $(this).attr('devicename');
            $("#widgetslist").empty();
            $("#widgets").show();
            $("#widgetslist").widget_models({
                type: type,
                featurevalue: featurevalue,
                featurename: featurename,
                devicevalue: devicevalue,
                devicename: devicename
            });
        });
        
        $("#widgets").hide();
        
        /* Drag & Drop */
        $('.maininfo').droppable({
                activeClass: 'state-active',
                hoverClass: 'state-hover',
                accept: function(draggable) {
                    return ($("li", this).length  < 1);
                },
                drop: ondrop
        });
        
        $('.mainactions').droppable({
                activeClass: 'state-active',
                hoverClass: 'state-hover',
                accept: function(draggable) {
                    return ($("li", this).length  < 4);
                },
                drop: ondrop
        });
        
        $('.otheractions').droppable({
                activeClass: 'state-active',
                hoverClass: 'state-hover',
                drop: ondrop
        });
        
        function ondrop(event, ui) {
            var item = ui.draggable.detach();
            item.removeAttr('style');
            item.addClass('success');
            item.dmg_draggable({
                helper: false,
                revert: false
            });
            $("ul", this).append(item);
            return false;
        }
    });

{% endblock %}

{% block css %}
    <link href="/design/skins/{{ request.session.user.skin_used|default:'default' }}/css/page-show-edit.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js_include %}
    <script type="text/javascript" src="/design/js/dmg.dragdrop.js"></script>
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
        <li id='customize'><a href='#' class='icon16-action-submit'>{% trans "Finish" %}</a></li>
{% endblock %}
{% block banner %}
    <h1 class="ident icon64-house-default"><span class="title">{{ house.name }}</span></h1>
    <div class="maininfo" ddvalue='maininfo' ddname='Main info'>
        <span class='offscreen'>{% trans "Main info" %}</span>
        <ul></ul>
    </div>
{% endblock %}

{% block contentleft %}
    <div class='actions'>
        <div class='mainactions'>
            <span class='offscreen'>{% trans "Main actions" %}</span>
            <ul>
            </ul>
        </div>
        <div class='otheractions'>
            <ul>
            </ul>
        </div>
    </div>
    
    <div id='panel'>
        <div id='features'>
            <h2>Features</h2>
            <ul id='featureslist'>
            {% regroup devices_list|dictsort:"device_usage_id" by device_usage as usages_list %}
            {% for usage in usages_list %}
                <li><div class='usage icon16-usage-{{ usage.grouper.id }}'>{{usage.grouper.name }}</div>
                    <ul>
                        {% for device in usage.list %}
                        <li><div class='device icon16-technology-{{ device.device_type.device_technology_id }}'>{{ device.name }} ({{ device.address }})</div>
                            <ul>
                                {% for feature in device.feature %}
                                <li><div class='feature' devicevalue='{{ device.id }}' featurevalue='{{ feature.id }}' devicename='{{device.name }}' featurename='{{ feature.name }}' type='{{ feature.feature_type }}.{{ feature.value_type }}'>{{ feature.name }}</div></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id='widgets' ddname="Widgets">
            <h2>Widgets</h2>
            <ul id='widgetslist'>
            </ul>
        </div>
    </div>
{% endblock %}

{% block contentright %}
{% endblock %}