{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% load elements %}

{% block js_script %}
// <![CDATA[
// ]]>
{% endblock %}

{% block css %}
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block banner %}
<h1 class="ident icon64-house-default"><span class="title">{{ house.name }}</span></h1>
{% endblock %}
{% block content %}
    <script type="text/javascript">
    // <![CDATA[
        $(function() {
            {% for feature in house_features_associations %}
                var parameters = $.getJson("{{ feature.device_type_feature.parameters|safe }}");
                
                {% get_device_type feature.device.device_type_id as device_type %}
                {% get_device_type feature.device.device_usage_id as device_usage %}
                {% ifequal feature.device_type_feature.value_type 'binary' %}                
                    $("#command_{{ feature.device_id }}_{{ feature.device_type_feature_id }}").binary_command({
                        usage: {{ feature.device.device_usage_id }},
                        value0: parameters.command0,
                        value1: parameters.command1,
                        action: function(self, command) {
                            $.getREST(['command', '{{device_type.device_technology_id}}', '{{ feature.device.address }}', command],
                                function(data) {
                                    var status = (data.status).toLowerCase();
                                    if (status == 'ok') {
                                        self.setState(command);
                                    } else {
                                        /* Error */
                                        display_message(data.status, data.description);
                                    }
                                }
                            );
                        }
                    })
                        .binary_command('setState', 'Off');
                {% endifequal %}

                {% ifequal feature.device_type_feature.value_type 'range' %}
                    $("#command_{{ feature.device_id }}_{{ feature.device_type_feature_id }}").range_command({
                        usage: {{ feature.device.device_usage_id }},
                        min_value: parameters.commandMin,
                        max_value: parameters.commandMax,
                        steps: '10',
                        unit: '%',
                        action: function(self, value) {
                            $.getREST(['command', '{{device_type.device_technology_id}}', '{{ feature.device.address }}', 'dim', value],
                                function(data) {
                                    var status = (data.status).toLowerCase();
                                    if (status == 'ok') {
                                        self.setValue(command);
                                    } else {
                                        /* Error */
                                        display_message(data.status, data.description);
                                    }
                                }
                            );
                        }
                    })
                        .range_command('setValue', 50);
                {% endifequal %}
            {% endfor %}
        });
    // ]]>
    </script>
    <div class='actions'>
        <ul>
            {% for association in house_features_associations %}
                <li><div id="command_{{ association.device_id }}_{{ association.device_type_feature_id }}"><span class='name'>{{ association.device.name }}<br/>{{ association.device_type_feature.name }}</span></div></li>
            {% endfor %}
        </ul>
    </div>

    {% for area in areas_list %}
	    {% if forloop.counter0|divisibleby:"3" %}
		    <div class='row'>
	    {% endif %}
			    <div class='column'>
				    <script type="text/javascript">
				    // <![CDATA[
					    $(function() {
						    /*$("#extended_{{ area.id }}").leftpanel({
							    closetext: "Close",
							    openbutton: "#openextended_{{ area.id }}",
						    });*/
					    });
				    // ]]>
				    </script>

				    <div class='block'>
					    <h2 class='header icon64-area-{{ area.config.icon}}'>
						    <a href='{% url show_area_view area.id %}' class="ident">
							    <span class="title">{{ area.name }}</span>
							    <br />
							    <span class="subtitle">{{ area.description }}</span>
						    </a>
						    <!--span class='temp icon32-device-temp'>21 &#176;C</span-->
					    </h2>
                        <div class='actions'>
                        </div>
            		    <!--div class='footer'><button class='button_bottomright' id='openextended_{{ area.id }}'>Full commands</button></div-->
				    </div>
				    <!--div class='extended' id='extended_{{ area.id }}'>
                        <h3>Commandes</h3>
                        <ul class='commands'>
                        </ul>
                    </div-->
			    </div>
	    {% if forloop.counter0|divisibleby:"3" %}
		    </div>
	    {% endif %}
    {% endfor %}
{% endblock %}