{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% block js_script %}
// <![CDATA[
    $(function(){
	$(".section .extended").hide();
    });
// ]]>
{% endblock %}

{% block css %}
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-breadcrumb.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/show-element.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/show-section.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-action-binary.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-action-range.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block include_js_script %}
    <script type="text/javascript" src="/design/js/ui.action-binary.js"></script>
    <script type="text/javascript" src="/design/js/ui.action-range.js"></script>
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
		<li><a href='{% url show_view %}' class='home'>My House</a></li>
		<li><a href='{% url show_area_view area_id %}' class='icon16-area-grndfloor'>{{ area_name }}</a></li>
{% endblock %}

{% block content %}
    <div id='binary_data'></div>
    <div id='range_data'></div>
    <div class='element-bgnd'>
        <div class="element icon64-room-kitchen">
	    <h1 class="ident"><span class="title">{{ room.name }}</span></h1>
	    <ul class="actions"></ul>
        </div>
    </div>	
    <dl>
	{% for device in devices_list %}
		{% if forloop.counter0|divisibleby:"3" %}
            <div class='row'>
        {% endif %}
    		<div class='column'>
        	    <div class='section'>
			<script type="text/javascript">
                	// <![CDATA[
                	    $(function() {
			        $("#button_{{ device.id }}").click(function() {
				    $(".section .extended[id!='extended_{{ device.id }}']").hide();
				    $("#extended_{{ device.id }}").toggle();
				});
				widgetmini_binary("widgetmini_{{ device.id }}1", "{{ device.id }}1", "light");
				widget_binary("widget_{{ device.id }}1", "{{ device.id }}1", "light");
				widgetmini_range("widgetmini_{{ device.id }}2", "{{ device.id }}2", "light", 0, 100, 12, '%');
				widget_range("widget_{{ device.id }}2", "{{ device.id }}2", "light", 0, 100, 12, '%');
			    });
			// ]]>
			</script>
			<dt class='header icon64-device-coffeemachine'>
			    <a href='{% url show_device_view device.id %}' class="ident">
				<span class="title">{{ device.name }}</span>
				<br />
				<span class="subtitle">{{ device.description }}</span>
			    </a>
			</dt>
			<dd class='actions'>
			    <ul>
				<li><div id="widgetmini_{{ device.id }}1"></div></li>
				<li><div id="widgetmini_{{ device.id }}2"></div></li>
			    </ul>
			</dd>
			<dd  class='extended' id='extended_{{ device.id }}'>
			    Commandes
			    <ul class='commands'>
				<li>
				    <div id="widget_{{ device.id }}1">
					<span class='name'>Switch</span>
					<ul>
		    		    	    <li><a href='#' class='buttonsmall off'>Off</a></li>
					    <li><a href='#' class='buttonsmall on'>On</a></li>
					</ul>
				    </div>
				</li>
				<li>
				    <div id="widget_{{ device.id }}2">
					<label class='name'>Dimmer</label>
					<input type="text" class="value" title="Variation in %"/>
					<ul>
		    		    	    <li><a href='#' class='buttonsmall down'>Down</a></li>
					    <li><a href='#' class='buttonsmall up'>Up</a></li>
					</ul>
					<div class="slider"></div>
				    </div>
				</li>
			    </ul>
			</dd>
			<dd class='footer'><a id='button_{{ device.id }}' href='#'>&#187;</a></dd>
		    </div>
		</div>
		{% if forloop.counter0|divisibleby:"3" %}
            </div>
		{% endif %}
	{% endfor %}
</dl>
{% endblock %}