{% extends "layout_show.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}

{% load i18n %}
{% block js_script %}
// <![CDATA[
// ]]>
{% endblock %}

{% block css %}
{% endblock %}

{% block js_include %}
{% endblock %}

{% block title %}{% trans page_title %}{% endblock %}

{% block breadcrumb %}
    <li><a href='{% url show_view %}' class='home'>{{ house.name }}</a></li>
    <li><a href='{% url show_area_view room.area.id %}' class='icon16-area-{{ room.area.config.icon }}'>{{ room.area.name }}</a></li>
{% endblock %}

{% block banner %}
    <div id='binary_data'></div>
    <div id='range_data'></div>
    <div class="section">
        <h1 class="ident icon64-room-{{ room.config.icon }}"><span class="title">{{ room.name }}</span></h1>
        <ul class="actions"></ul>
    </div>
{% endblock %}

{% block content %}
    {% for device in devices_list %}
        {% if forloop.counter0|divisibleby:"3" %}
            <div class='row'>
        {% endif %}
                <div class='column'>
                    <script type="text/javascript">
                    // <![CDATA[
                        $(function() {
							$("#extended_{{ device.id }}").leftpanel({
								closetext: "Close",
								openbutton: "#openextended_{{ device.id }}",
							});
                            widgetmini_binary("widgetmini_{{ device.id }}1", "{{ device.id }}1", 1);
                            widget_binary("widget_{{ device.id }}1", "{{ device.id }}1", 1);
                            widgetmini_range("widgetmini_{{ device.id }}2", "{{ device.id }}2", 1, 0, 100, 12, '%');
                            widget_range("widget_{{ device.id }}2", "{{ device.id }}2", 1, 0, 100, 12, '%');
                        });
                    // ]]>
                    </script>

                    <div class='block'>
                        <h2 class='header icon64-usage-{{ device.usage_id }}'>
                            <a href='{% url show_device_view device.id %}' class="ident">
                                <span class="title">{{ device.name }}</span>
                                <br />
                                <span class="subtitle">{{ device.description }}</span>
                            </a>
                        </h2>
                        <div class='actions'>
                            <ul>
                                <li><div id="widgetmini_{{ device.id }}1"></div></li>
                                <li><div id="widgetmini_{{ device.id }}2"></div></li>
                            </ul>
                        </div>

                        <div class='footer'><button class='button_bottomright' id='openextended_{{ device.id }}'>Full commands</button></div>
                    </div>
                    
                    <div class='extended' id='extended_{{ device.id }}'>
                        <h3>Commandes</h3>
                        <ul class='commands'>
                        <li>
                            <div id="widget_{{ device.id }}1">
                                <span class='name'>Switch</span>
                                <ul>
                                    <li><a href='#' class='buttonsmall off'>Off</a></li>
                                    <li><a href='#' class='buttonsmall on'>On</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div id="widget_{{ device.id }}2">
                                <label class='name'>Dimmer</label>
                                <input type="text" class="value" title="Variation in %"/>
                                <ul>
                                    <li><a href='#' class='buttonsmall down'>Down</a></li>
                                    <li><a href='#' class='buttonsmall up'>Up</a></li>
                                </ul>
                                <div class="slider"></div>
                            </div>
                        </li>
                        </ul>
                    </div>

                </div>
        {% if forloop.counter0|divisibleby:"3" %}
            </div>
        {% endif %}

    {% endfor %}
{% endblock %}