#dmgnavbar {
    background-color:#2d2c2f;
    border-bottom: 5px solid #005774;
    height: 7em;
    position:relative;
}

#dmgnavbar a#logo {
    display:block;
    float:left;
    text-indent:-99999px !important;
    margin:0;
    padding:0;
    width:250px;
    height:70px;
}

#dmgnavbar.dmgen a#logo {
    background: transparent url("dmg-logo-en.png") 0 0 no-repeat;
}

#dmgnavbar.dmgfr a#logo{
    background: transparent url("dmg-logo-fr.png") 0 0 no-repeat;
}

#dmgnavbar ul#dmgsections {
    display: inline !important;
    float: right !important;
    list-style: none outside none !important;
    margin: 0.7em 2em 0.3em 0.5em !important;
    padding: 0 !important;
}
#dmgnavbar ul#dmgsections li {
    float: left !important;
    font-family: sans-serif !important;
    font-size: 1.4em !important;
    font-weight: bold !important;
    line-height: 4em !important;
    margin:0 0.5em 0 0.5em !important;
    padding:0;
    color: #00779d !important;
}

#dmgnavbar ul#dmgsections li a {
    margin:0;
    padding:0.4em 0.5em 0.4em 0.5em !important;
    color: #999999 !important;
    text-decoration: none !important;
    outline:none;
}
#dmgnavbar ul#dmgsections li a:hover {
    background-color:none !important;
    color: #ffffff !important;
    text-decoration: underline !important;
}
#dmgnavbar ul#dmgcas {
    position:absolute;
    top:0;
    right:0;
    list-style: none outside none !important;
    margin: 0.5em !important;
    padding: 0 !important;
}
#dmgnavbar ul#dmgcas li {
    float: left !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
    margin:0 0.5em 0 0.5em !important;
    padding:0;
    color: #00779d !important;
}

#dmgnavbar ul#dmgcas li a {
    color: #ffffff !important;
    text-decoration: none !important;
    outline:none;
}
#dmgnavbar ul#dmgcas li a:hover {
    background-color:none !important;
    color: #ffffff !important;
    text-decoration: underline !important;
}

#dmgnavbar a:focus {
    background-color:none !important;
    border:2px solid #ffffff;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}