{% extends "base/base.html" %}

{% block content %}
{% include "client_menu.html" %}
<div class="container">
    <h2>{% trans %}Detected devices{% endtrans %}</h2>
    <table id="detected" class="table table-condensed" style="border-collapse:collapse;">
            <thead>
                    <tr>
                        <td>{% trans %}Device Type{% endtrans %}</td>
                        <td>{% trans %}Feature{% endtrans %}</td>
                        <td>{% trans %}Data{% endtrans %}</td>
                    </tr>
            </thead>
            <tbody>
            {% for dev in devices %}
                    <tr>
			<td>{{ dev.device_type_id }}</td>
			<td>{{ dev.feature }}</td>
			<td>{{ dev.data }}</td>
                    </tr>
            {% endfor %}
            </tbody>
    </table>
    <script type="text/javascript">
        ws.onmessage = function(e) {
            data = JSON.parse(e.data);
            if (data.msgid == "device.new" ) {
				if (data.content.client_id == "{{ clientid }}") {
                    for (index = 0; index < data.content['devices'].length; ++index ) {
                        dev = data.content['devices'][index];
                        $('#detected > tbody:last').append('<tr><td>' + dev.device_type_id +'</td><td>' + dev.feature + '</td><td>' + JSON.stringify(dev.data) + '</td></tr>');
                    }
				}
            }
        }
    </script>
</div>
{% endblock %}
