                            <div class="accordian-body collapse client_{{ loop.index }}">

                                <h2>{% trans %}Status{% endtrans %}</h2>
                                <div class="status">
                                    {% for status in ['unknown', 'not-configured', 'starting', 'alive', 'stop-request', 'stopped', 'dead', 'invalid'] %}
                                        <div class='status_{{status}} {% if data.status == status %}current_status{% endif %}'>
                                            {% trans %}{{ status }}{% endtrans %}
                                        </div>
                                    {% endfor %}
                                </div>

                                <h2>{% trans %}Informations{% endtrans %}</h2>
                                <ul>
                                    <li>{% trans %}Package{% endtrans %} : {{ data.package_id }}</li>
                                    <li>{% trans %}Host{% endtrans %} : {{ data.host }}</li>
                                    <li>{% trans %}Process id{% endtrans %} : {{ data.pid }}</li>
                                </ul>
                            </div>
