{% extends "base/base.html" %}

{% block content %}
{% include "client_menu.html" %}
<div class="container">
    <h2>{% trans %}Create a new device{% endtrans %}</h2>
    {% if products|length > 0 %}
    <h3>{% trans %}Create by product{% endtrans %}</h3>
        {% for name, type in products.items() %}
        <a href="/client/{{ clientid }}/devices/new/type/{{ type }}/prod/{{ name }}"><button type="button" class="btn btn-default btn-sm">{{ name }}</button></a>
        {% endfor %}
    {% endif %}

    {% if instance_types|length > 0 %}
    <h3>{% trans %}Create by instance type{% endtrans %}</h3>
        {% for dev in instance_types %}
        <a href="/client/{{ clientid }}/devices/new/type/{{ dev }}"><button type="button" class="btn btn-default btn-sm">{{ dev }}</button></a>
        {% endfor %}
    {% else %}
    <div class="alert alert-warning">{% trans %}No instance types found{% endtrans %}</div>
    {% endif %}
</div>
{% endblock %}
