{% block content %}
<div class="container">
    <h1>{% trans %}Client{% endtrans %} {{ clientid }}</h1>
    <ul class="nav nav-tabs">
        <li {% if active == "home" %} class="active" {% endif %}><a href="/client/{{ clientid }}">{% trans %}Home{% endtrans %}</a></li>
        <li {% if active == "config" %} class="active" {% endif %}><a href="/client/{{ clientid }}/config">{% trans %}Config{% endtrans %}</a></li>
        <li {% if active == "devices" %} class="active" {% endif %} class="dropdown">
        <a href="/client/{{ clientid }}/devices" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Devices{% endtrans %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/client/{{ clientid }}/devices/known">{% trans %}Known{% endtrans %}</a></li>
                <li><a href="/client/{{ clientid }}/devices/detected">{% trans %}Detected{% endtrans %}</a></li>
                <li><a href="/client/{{ clientid }}/devices/new">{% trans %}New{% endtrans %}</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
