{% extends "base/base.html" %}

{% block content %}
{% include "client_menu.html" %}

<div class="container">
	{% include 'client_overview.html' %}
	<h2>{% trans %}Author{% endtrans %}</h2>
	<ul>
	    <li>{% trans %}Name{% endtrans %} : {{ client_detail.data.identity.author }}</li>
	    <li>{% trans %}Email{% endtrans %} : {{ client_detail.data.identity.author_email }}</li>
	</ul>
	<div>
		<button id="start" type="button" class="btn btn-primary btn-success" {% if client_detail.status == "alive" %}disabled="disabled"{% endif %}>Start</button>
		<button id="stop" type="button" class="btn btn-primary btn-danger" {% if client_detail.status != "alive" %}disabled="disabled"{% endif %}>Stop</button>
	</div>
	{% if client_detail.data.udev_rules|length > 0 %}
	<h2>{% trans %}Udev{% endtrans %}</h2>
	<ul>
	{% for key, rule in client_detail.data.udev_rules.items() %}
		<li><b>{{ key }}</b>:<br /><pre>{{ rule }}</pre></li>
	{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock %}
