{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h1>{% trans %}Clients list{% endtrans %}</h1>
    {% if clients|length > 0 %}
      <table class="table table-striped" style="border-collapse:collapse;">
            <thead>
                    <tr>
                        <th scope="col">{% trans %}ID{% endtrans %}</th>
                        <th scope="col">{% trans %}Type{% endtrans %}</th>
                        <th scope="col">{% trans %}Status{% endtrans %}</th>
                        <th scope="col">{% trans %}Configured{% endtrans %}</th>
                        <th scope="col">{% trans %}Actions{% endtrans %}</th>
                    </tr>
            </thead>
            <tbody>
	    {% set count = 0 %}
            {% for name, data in clients.iteritems() %}
                {% if data.type != 'core' %}
                    {% set count = count + 1 %}
                    <tr data-toggle="collapse" data-target=".client_{{ loop.index }}" class="accordion-toggle" id="{{data.pid}}">
                        <td>{{ name }}</td>
                        <td>{{ data.type }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.configured }}</td>
                        <td>
        				    {% if data.configured %}
        					<a class="btn btn-primary" href="/client/{{ name }}">
        				    {% else %}
        					<a href="/client/{{ name }}/config">
        				    {% endif %}
        				    {% trans %}Details{% endtrans %}
                            </a>
                        </td>
                    </tr>
                    <tr id="d{{data.pid}}">
                        <td colspan="5" class="hiddenRow">
                            {% include 'client_overview.html' %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if count == 0 %}
                <tr>
                    <td colspan="5" class="alert alert-warning">{% trans %}At least one plugin should be installed to see a client{% endtrans %}</td>
                </tr>
            {% endif %}
            </tbody>
      </table>
      <h2>{% trans %}Core components{% endtrans %}</h2>
      <table class="table table-striped" style="border-collapse:collapse;">
            <thead>
                    <tr>
                        <th scope="col">{% trans %}ID{% endtrans %}</th>
                        <th scope="col">{% trans %}Type{% endtrans %}</th>
                        <th scope="col">{% trans %}Status{% endtrans %}</th>
                        <th scope="col">{% trans %}Configured{% endtrans %}</th>
                    </tr>
            </thead>
            <tbody>
            {% for name, data in clients.iteritems() %}
                {% if data.type == 'core' %}
                    <tr data-toggle="collapse" data-target=".client_{{ loop.index }}" class="accordion-toggle" id="{{data.pid}}">
                        <td>{{ name }}</td>
                        <td>{{ data.type }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.configured }}</td>
                    </tr>
                    <tr id="d{{data.pid}}">
                        <td colspan="4" class="hiddenRow">
                            {% include 'client_overview.html' %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
      </table>
      <script type="text/javascript">
		ws.onmessage = function(e) {
			data = JSON.parse(e.data);
			if (data.msgid == "client.list" ) {
				for (plugin in data.content) {
                    content = data.content[plugin]
					$('tr#d' + content.pid + ' div.status div').removeClass('current_status');
					$('tr#d' + content.pid + ' div.status div.status_' + content.status).addClass('current_status');
					$('tr#' + content.pid + " td:nth-child(3)").html(content.status);
					$('tr#' + content.pid + " td:nth-child(4)").html(content.configured);
				}
			}
		}
       </script>
    {% else %}
    <div class="alert alert-warning">{% trans %}No clients found: Is manager running?{% endtrans %}</div>
    {% endif %}
</div>
{% endblock %}
