{% extends "base/base.html" %}

{% block content %}
{% include "client_menu.html" %}
<div class="container">
    <h2>Create a new device</h2>
    {% if products|length > 0 %}
        <h3>Create by product</h3>
        {% for name, type in products.items() %}
        <a href="/client/{{ clientid }}/devices/new/{{ type }}"><button type="button" class="btn btn-default btn-sm">{{ name }}</button></a>
        {% endfor %}
    {% endif %}

    {% if device_types|length > 0 %}
        <h3>Create by device type</h3>
        {% for dev in device_types %}
        <a href="/client/{{ clientid }}/devices/new/{{ dev }}"><button type="button" class="btn btn-default btn-sm">{{ dev }}</button></a>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">No devices types found</div>
    {% endif %}
</div>
{% endblock %}
