<div class="container">
    <h1>{% trans %}Client{% endtrans %} {{ clientid }}</h1>
    <ul class="nav nav-tabs">
        <li {% if active == "home" %} class="active" {% endif %}><a href="/client/{{ clientid }}">{% trans %}Status{% endtrans %}</a></li>
        <li {% if active == "config" %} class="active" {% endif %}><a href="/client/{{ clientid }}/config">{% trans %}Configuration{% endtrans %}</a></li>
        <li {% if active == "devices" %} class="active" {% endif %} class="dropdown">
        <a href="/client/{{ clientid }}/dmg_devices" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Domogik devices{% endtrans %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/client/{{ clientid }}/dmg_devices/known"><span class='glyphicon glyphicon-list' aria-hidden='true'></span> {% trans %}Known{% endtrans %}</a></li>
                <li><a href="/client/{{ clientid }}/dmg_devices/new"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> {% trans %}New{% endtrans %}</a></li>
                <li><a href="/client/{{ clientid }}/dmg_devices/detected"><span class='glyphicon glyphicon-search' aria-hidden='true'></span> {% trans %}Detected{% endtrans %}</a></li>
            </ul>
        </li>
    </ul>
</div>
