{% extends "base/base.html" %}

{% block content %}
{% include "client_menu.html" %}
<div class="container">
    <h2>Known Devices</h2>
    {% if devices|length > 0 %}
      <table class="table table-striped table-hover table-condensed">
            <thead>
                    <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Device Type</td>
                            <td>Description</td>
                            <td>Details</td>
                    </tr>
            </thead>
            <tbody>
            {% for data in devices %}
                    <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.device_type_id }}</td>
                            <td>{{ data.description }}</td>
                            <td>
                                <a onclick="$('#detail-{{ data.id }}').toggle()">Details</a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="/client/{{ clientid }}/devices/delete/{{ data.id }}">Delete</a>
                            </td>
                    </tr>
                    <tr id="detail-{{ data.id }}" style="display: none;">
                            <td colspan="5"> 
                                <div class="panel panel-default">
                                        <div class="panel-heading">Sensors</div>
                                        <table>
                                              <thead>
                                                <tr>
                                                        <td>ID</td>
                                                        <td>Name</td>
                                                        <td>Data Type</td>
                                                        <td>Last value</td>
                                                        <td>Last received</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for name, sen in data.sensors.items() %}
                                                        <tr>
                                                                <td>{{ sen.id }}</td>
                                                                <td>{{ sen.name }}</td>
                                                                <td>{{ sen.data_type }}</td>
                                                                <td>{{ sen.last_value }}</td>
                                                                <td>{{ sen.last_received }} </td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </div> 
                                <div class="panel panel-default">
                                        <div class="panel-heading">Commands</div>
                                        <table>
                                              <thead>
                                                <tr>
                                                        <td>ID</td>
                                                        <td>Name</td>
                                                        <td>Params</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for name, cmd in data.commands.items() %}
                                                        <tr>
                                                                <td>{{ cmd.id }}</td>
                                                                <td>{{ cmd.name }}</td>
                                                                <td>{{ cmd.parameters }}</td>
                                                        </tr>
                                                        
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </div> 
 
                            </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">No devices found</div>
    {% endif %}
</div>
{% endblock %}
