{% extends "base/base.html" %}

{% block content %}
{% include "client_menu.html" %}
<div class="container">
	{% include 'client_overview.html' %}
	<h2>{% trans %}Author{% endtrans %}</h2>
	<ul>
	    <li>{% trans %}Name{% endtrans %} : {{ data.data.identity.author }}</li>
	    <li>{% trans %}Email{% endtrans %} : {{ data.data.identity.author_email }}</li>
	</ul>
	<div>
		<button id="start" type="button" class="btn btn-primary btn-lg btn-success" {% if data.status == "alive" %}disabled="disabbled"{% endif %}>Start</button>
		<button id="stop" type="button" class="btn btn-primary btn-lg btn-danger" {% if data.status != "alive" %}disabled="disabbled"{% endif %}>Stop</button>
	</div>
	{% if data.data.udev_rules|length > 0 %}
	<h2>{% trans %}Udev{% endtrans %}</h2>
	<ul>
	{% for key, rule in data.data.udev_rules.items() %}
		<li><b>{{ key }}</b>:<br /><pre>{{ rule }}</pre></li>
	{% endfor %}
	</ul>
	{% endif %}
	<script type="text/javascript">
	$( document ).ready(function() {
		$("#start").click(function() {
			$("#start").attr('disabled','disabled');
			$("#start").removeClass('btn-success');
			ws.send('{"action": "plugin.start.do", "data": {"name": "{{ data.name }}", "host": "{{ data.host }}"}}');
			setTimeout(function () {$("#start").addClass('btn-success');}, 2000);
		});
		$("#stop").click(function() {
			$("#stop").attr('disabled','disabled');
			$("#stop").removeClass('btn-danger');
			ws.send('{"dst": "plugin-{{ data.name }}.{{ data.host }}", "action": "plugin.stop.do", "data": {"name": "{{ data.name }}", "host": "{{ data.host }}"}}');
			setTimeout(function () {$("#stop").addClass('btn-danger');}, 2000);;
		});
                ws.onmessage = function(e) {
                        data = JSON.parse(e.data);
                        if (data.msgid == "client.list" ) {
                                for (plugin in data.content) {
					if ( plugin == '{{data.package_id}}.{{data.host}}' ) { 
						content = data.content[plugin]
						$('div.status div').removeClass('current_status');
						$('div.status div.status_' + content.status).addClass('current_status');
						if ( content.status == "alive" || content.status == "starting" ) {
							$('#start').attr('disabled','disabled'); 	
							$('#stop').removeAttr('disabled');
						} else if ( content.status == "stopped" || content.status == "unknown" || content.status == "dead") {
							$('#stop').attr('disabled','disabled'); 	
							$('#start').removeAttr('disabled');
						} else {
							$('#stop').attr('disabled','disabled'); 	
							$('#start').attr('disabled','disabled');
						}
					}
                                }
                        }
                }
	});
	
</script>
</div>
{% endblock %}
