{% extends "base/base.html" %}

{% block content %}
{% include "client_menu.html" %}
<div class="container">
    <h2>{% trans %}Known Devices{% endtrans %}</h2>
    {% if devices|length > 0 %}
      <table class="table table-striped table-hover table-condensed">
            <thead>
                    <tr>
                        <td>{% trans %}ID{% endtrans %}</td>
                        <td>{% trans %}Name{% endtrans %}</td>
                        <td>{% trans %}Reference{% endtrans %}</td>
                        <td>{% trans %}Device Type{% endtrans %}</td>
                        <td>{% trans %}Description{% endtrans %}</td>
                        <td>{% trans %}Details{% endtrans %}</td>
                    </tr>
            </thead>
            <tbody>
            {% for data in devices %}
                    <tr class="accordion-toggle">
                            <td>{{ data.id }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.reference }}</td>
                            <td>{{ data.device_type_id }}</td>
                            <td>{{ data.description }}</td>
                            <td>
                                <a data-toggle="collapse" data-target=".detail-{{ data.id }}" href="#">Details</a> | 
                                <a href="/client/{{ clientid }}/devices/edit/{{ data.id }}">{% trans %}Edit{% endtrans %}</a> |
                                <a data-toggle="confirmation" data-placement="bottom" data-href="/client/{{ clientid }}/devices/delete/{{ data.id }}">{% trans %}Delete{% endtrans %}</a>
                            </td>
                    </tr>
                    <tr>
                            <td colspan="6" class="hiddenRow"> 
                                <div class="accordian-body collapse detail-{{ data.id }}">
				{% if data.sensors|length > 0 %}
				    <span class="label label-default">{% trans %}Sensors{% endtrans %}</span>
                                        <table class="table table-bordered">
                                              <thead>
                                                <tr>
                                                    <td>{% trans %}ID{% endtrans %}</td>
                                                    <td>{% trans %}Name{% endtrans %}</td>
                                                    <td>{% trans %}Data Type{% endtrans %}</td>
                                                    <td>{% trans %}Last value{% endtrans %}</td>
                                                    <td>{% trans %}Last received{% endtrans %}</td>
                                                    <td>{% trans %}Rest URL{% endtrans %}</td>
						    <td>&nbsp;</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for name, sen in data.sensors|sortid %}
                                                        <tr>
                                                                <td>{{ sen.id }}</td>
                                                                <td>{{ sen.name }}</td>
                                                                <td>{{ sen.data_type }}</td>
                                                                <td>{{ sen.last_value }}&nbsp;{{ datatypes[sen.data_type].unit }}</td>
                                                                <td>{{ sen.last_received|datetime }}</td>
                                                                <td>/sensorhistory/id/{{ sen.id }}/last/10</td>
								<td>
									<a href="/client/{{ clientid }}/sensors/edit/{{ sen.id }}">Edit</a>
								</td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
				{% endif %}
				{% if data.commands|length > 0 %}
				    <span class="label label-default">{% trans %}Commands{% endtrans %}</span>
                                        <table class="table table-bordered">
					{% for name, cmd in data.commands|sortid %}
                                                <tr>
                                                    <th>{% trans %}ID{% endtrans %}</th>
                                                    <td>{{ cmd.id }}</td>
                                                    <th>{% trans %}Name{% endtrans %}</th>
                                                    <td>{{ cmd.name }}</td>
                                                </tr>
						<tr>
						    <th>{% trans %}Key{% endtrans %}</th>
						    <th>{% trans %}Data Type{% endtrans %}</th>
						    <td colspan="2" rowspan="{{cmd.parameters|length + 1}}">
							<b>{% trans %}Example REST Url{% endtrans %}:</b><br />
							/cmd/id/{{cmd.id}}?{% for param in cmd.parameters %}{{param.key}}=&lt;key&gt;{% endfor %}
						    </td>
						</tr>
						{% for param in cmd.parameters %}
						<tr>
						    <td>{{ param.key }}</td>
						    <td>{{ param.data_type }}
							{{ datatypes[param.data_type] }}</td>
						</tr>
						{% endfor %}
					{% endfor %}
                                        </table>
				{% endif %}
				{% if data.xpl_stats|length > 0 %}
				    <span class="label label-default">{% trans %}Xplstats{% endtrans %}</span>
                                        <table class="table table-bordered">
					{% for name in data.xpl_stats %}
                                                <tr>
                                                    <th>{% trans %}Name{% endtrans %}</th>
                                                    <td>{{ name }}</td>
                                                    <th>{% trans %}Schema{% endtrans %}</th>
                                                    <td>{{ data.xpl_stats[name].schema }}</td>
                                                </tr>
						<tr>
                                                    <th>{% trans %}Type{% endtrans %}</th>
						    <th>{% trans %}Key{% endtrans %}</th>
						    <th colspan="2">{% trans %}Value{% endtrans %} {% trans %}or{% endtrans %} {% trans %}Sensor{% endtrans %}</th>
						</tr>
						{% for param in data.xpl_stats[name].parameters.static %}
						<tr>
                                                    <td>Static</td>
						    <td>{{ param.key }}</td>
						    <td colspan="2">{{ param.value }}</td>
						</tr>
						{% endfor %}
						{% for param in data.xpl_stats[name].parameters.dynamic %}
						<tr>
                                                    <td>Dynamic</td>
						    <td>{{ param.key }}</td>
						    <td colspan="2">{{ param.sensor_name }}</td>
						</tr>
						{% endfor %}
					{% endfor %}
                                        </table>
				{% endif %}
				{% if data.xpl_commands|length > 0 %}
				    <span class="label label-default">{% trans %}Xpl commands{% endtrans %}</span>
                                        <table class="table table-bordered">
					{% for name in data.xpl_commands %}
                                                <tr>
                                                    <th>{% trans %}Name{% endtrans %}</th>
                                                    <td>{{ name }}</td>
                                                    <th>{% trans %}Schema{% endtrans %}</th>
                                                    <td>{{ data.xpl_commands[name].schema }}</td>
                                                </tr>
						<tr>
                                                    <th colspan="2">{% trans %}Type{% endtrans %}</th>
						    <th colspan="2">{% trans %}Value{% endtrans %}</th>
						</tr>
						{% for param in data.xpl_commands[name].parameters %}
						<tr>
						    <td colspan="2">{{ param.key }}</td>
						    <td colspan="2">{{ param.value }}</td>
						</tr>
						{% endfor %}
					{% endfor %}
                                        </table>
				{% endif %}


                                </div> 
 
                            </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-warning">{% trans %}No devices found{% endtrans %}</div>
    {% endif %}
</div>
{% endblock %}
