{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h1>{% trans %}Clients list{% endtrans %}</h1>

    {% if clients|length > 0 %}
      {% for host in client_list_per_host_per_type %}
        <h2>Server : {{ host }}</h2>
  
          {% for type in client_list_per_host_per_type[host] %}
            <div class="list-group">
              <h3 class="list-group-item">{{ type }}</h3>
              {% for client in client_list_per_host_per_type[host][type] %}
                {% if type == "plugin" %}
                  <a class="list-group-item" href="/client/{{ client_list_per_host_per_type[host][type][client]['type'] }}-{{ client_list_per_host_per_type[host][type][client]['name'] }}.{{ client_list_per_host_per_type[host][type][client]['host'] }}">
                {% else %}
                  <a class="list-group-item" href="#">
                {% endif %}
                  <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span> 
                  {{ client_list_per_host_per_type[host][type][client].type }} {{ client_list_per_host_per_type[host][type][client].name }} {{ client_list_per_host_per_type[host][type][client].host }}
                  <span class="label label-info status status-label status-{{client_list_per_host_per_type[host][type][client].status}} pull-right">{{client_list_per_host_per_type[host][type][client].status}}</span>
                </a>
              {% endfor %}
            </div>
          {% endfor %}
      {% endfor %}

    {% else %}
        <div class="alert alert-warning">{% trans %}No clients found (even core components!): is Domogik manager running?{% endtrans %}</div>
    {% endif %}

</div>
{% endblock %}
