{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h2>Orphan Devices</h2>
    {% if devices|length > 0 %}
      <table class="table table-striped table-hover table-condensed">
            <thead>
                    <tr>
                            <td>ID</td>
                            <td>Client</td>
                            <td>Name</td>
                            <td>Device Type</td>
                            <td>Description</td>
                            <td>Details</td>
                    </tr>
            </thead>
            <tbody>
            {% for data in devices %}
                    <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.client_id }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.device_type_id }}</td>
                            <td>{{ data.description }}</td>
                            <td>
                                <a href="/orphans/delete/{{ data.id }}">Delete</a>
                            </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-success">Hooray, no orphans found</div>
    {% endif %}
</div>
{% endblock %}
