{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h1>{% trans %}Person list{% endtrans %}</h1>
    <a id="start" class="btn btn-success" href="/persons/0">{% trans %}Add new{% endtrans%}</a>
    {% if persons|length > 0 %}
      <table class="table table-striped" style="border-collapse:collapse;">
            <thead>
                    <tr>
                        <td>{% trans %}Last Name{% endtrans %}</td>
                        <td>{% trans %}First Name{% endtrans %}</td>
                        <td>{% trans %}Birthdate{% endtrans %}</td>
                        <td>&nbsp;</td>
                    </tr>
            </thead>
            <tbody>
            {% for data in persons %}
                    <tr>
                        <td>{{ data.last_name }}</td>
                        <td>{{ data.first_name }}</td>
                        <td>{{ data.birthdate }}</td>
                        <td><a href="/persons/{{ data.id }}">{% trans %}Update{% endtrans %}</a>

				<a data-toggle="confirmation" data-placement="bottom" data-href="/persons/del/{{ data.id }}">{% trans %}Delete{% endtrans %}</a>
			</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-warning">{% trans %}No persons found{% endtrans %}</div>
    {% endif %}
</div>
{% endblock %}
