{% extends "base/base.html" %}

{% block content %}
  <div id="blocklyDiv" style="height: 280px; width: 800px;"></div>
  <pre id="codeDiv" style="height: 500px; width: 800px; position: absolute; top: 380px; border: 1px red"></pre>
  <xml id="toolbox" style="display: none">
    <category name="Logic">
        <block type="dom_condition"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Tests">
        {% for t in tests %}
            <block type="{{ t }}"></block>
        {% endfor %}
    </category>
    <category name="Actions">
        {% for a in actions %}
            <block type="{{ a }}"></block>
        {% endfor %}
    </category>
  </xml>
  <script type="text/javascript" src="/static/libraries/blockly/blockly_compressed.js"></script>
  <script type="text/javascript" src="/static/libraries/blockly/blocks_compressed.js"></script>
  <script type="text/javascript" src="/static/libraries/blockly/msg/js/en.js"></script>
  <script type="text/javascript" src="/static/js/blockly_json.js"></script>
  <script type="text/javascript" src="/scenario/blocks/actions"></script>
  <script type="text/javascript" src="/scenario/blocks/tests"></script>
  <script type="text/javascript">
    Blockly.Blocks['dom_condition'] = {
      init: function() {
        this.setColour(210);
        this.appendValueInput('IF')
            .setCheck('Boolean')
            .appendField('When');
        this.appendStatementInput('DO')
            .appendField('Do');
        this.setPreviousStatement(false);
        this.setNextStatement(true);
        this.setDeletable(false);
        this.contextMenu = false;
        this.setInputsInline(false);
      }
    };
    Blockly.inject(
        document.getElementById('blocklyDiv'),
        {
            path: '../../',
            toolbox: document.getElementById('toolbox')
        }
    );
    // Create the root block.
/*    rootBlock = new Blockly.Block.obtain(Blockly.mainWorkspace, 'dom_condition');
    rootBlock.initSvg();
    rootBlock.render();
    rootBlock.setMovable(false);
    rootBlock.setDeletable(false);*/

    function onchange() {
      document.getElementById('codeDiv').innerHTML = Blockly.JSON.workspaceToJson(Blockly.getMainWorkspace());
    }
    Blockly.addChangeListener(onchange);

    var json = JSON.parse('{"type":"dom_condition","id":"5","IF":{"type":"logic_negate","id":"10","BOOL":{"type":"logic_operation","id":"15","OP":"AND","A":{"type":"logic_boolean","id":"27","BOOL":"FALSE"},"B":{"type":"logic_boolean","id":"20","BOOL":"TRUE"}}},"deletable":false}');
    Blockly.JSON.jsonToWorkspace(Blockly.getMainWorkspace(), json);
  </script>
 
{% endblock %}
