{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h1>{% trans %}Scenario list{% endtrans %}</h1>
    <a id="start" class="btn btn-success" href="/scenario/edit/0">{% trans %}Add new{% endtrans%}</a>
    {% if accounts|length > 0 %}
      <table class="table table-striped" style="border-collapse:collapse;">
            <thead>
                    <tr>
                        <th scope="col">{% trans %}Name{% endtrans %}</td>
                        <th scope="col">&nbsp;</td>
                    </tr>
            </thead>
            <tbody>
            {% for data in scenarios %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>
                                <a href="/scneario/edit/{{ data.id }}">
                                {% trans %}Update{% endtrans %}
                                </a> |
                                <a data-toggle="confirmation" data-placement="bottom" data-href="/scenario/del/{{ data.id }}">
                                {% trans %}Delete{% endtrans %}
                                </a>

                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="alert alert-warning">{% trans %}No scenarios found{% endtrans %}</div>
    {% endif %}
</div>
{% endblock %}
