.dmg_1x1_basicSensorNumber {    
    text-align:center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dmg_1x1_basicSensorNumber .widget_status {
    height:14px;
    width:15px;
    padding:0;
    background-position: center center; 
    background-repeat: no-repeat; 
}

.dmg_1x1_basicSensorNumber .value {
    font-weight:bold;
    padding-top:1em;
    position:absolute;
    text-align:center;
    width:5em;
}

.dmg_1x1_basicSensorNumber .icon8-status-equal {background-image:url(images/right_8.png);}
.dmg_1x1_basicSensorNumber .icon8-status-up {background-image:url(images/up_8.png);}
.dmg_1x1_basicSensorNumber .icon8-status-down {background-image:url(images/down_8.png);}

