<div class="device" id="device_{{ device.id }}">
  <p>{{ device }}</p>
  
  <input type="radio" name="power_{{ device.id}}" value="on" class="device_power device_power_on" />On
  <input type="radio" name="power_{{ device.id}}" value="off" class="device_power device_power_on" />Off	
  
  <button class="device_decrease device_scale" >-</button>
  <input type="text" name="value_{{ device.id}}" value="{{ device.get_last_value }}" class="device_value" size="2" />
  &nbsp;{{ device.unit_of_stored_values }}
  <button class="device_increase device_scale" >+</button>
</div>
