{% extends "layout_admin.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% block js_script %}
// <![CDATA[
    $(function(){
    $('#instructions').dialog({autoOpen: false}); 
    $('#btinstructions').click(function() {
        $('#instructions').dialog('open',{closeOnEscape: false});
    });
	
		function updateTips(tips, t) {
			tips.text(t).effect("highlight",{},1500);
		}

		function checkLength(tips, o,n,min,max) {

			if ( o.val().length > max || o.val().length < min ) {
				o.addClass('ui-state-error');
				updateTips(tips, "La longueur de " + n + " doit être comprise entre "+min+" et "+max+".");
				return false;
			} else {
				return true;
			}

		}
                    // Add new form  
      		var new_name = $("#new_name"),
                new_description = $("#new_description"),
                allFields = $([]).add(new_name).add(new_description),

			tips = $("#validateTips");

		function updateTips(t) {
			tips.text(t).effect("highlight",{},1500);
		}

		function checkLength(o,n,min,max) {

			if ( o.val().length > max || o.val().length < min ) {
				o.addClass('ui-state-error');
				updateTips("La longueur de " + n + " doit être comprise entre "+min+" et "+max+".");
				return false;
			} else {
				return true;
			}

		}
		
		$("#addnewdialog").dialog({
			bgiframe: true,
			autoOpen: false,
			height: 250,
			modal: true,
			buttons: {
				'Créer': function() {
					var bValid = true;
					allFields.removeClass('ui-state-error');

					bValid = bValid && checkLength(new_name,"nom",1,80);
                                        				
					if (bValid) {
						
                            // Submit form
                            getREST('/base/area/add/' + new_name.val() + '/' + new_description.val(),
                                function(data) {
                                    var status = (data.status).toLowerCase();
                                    if (status == 'ok') {
                                        $.reloadPage({'status': 'ok', 'msg': 'Succes : New area added \'' + data.area[0].name + '\''});                                   
                                    } else {
                                        $.reloadPage({'status': 'error', 'msg': 'Error : Area not created (' + data.description + ')'});                                                                      
                                    }
                                });
                            };
				},
				Cancel: function() {
					$(this).dialog('close');
				}
			},
			close: function() {
				allFields.val('').removeClass('ui-state-error');
			}
		});
		
        $("#devices").hide();
        $("button#showdevices").click(function () {
            $("#devices").toggle();
        });
        
        var status = $.getUrlVar('status');
        if (status) {
            $('#action-message').addClass(status);
            $('#action-message').text($.getUrlVar('msg'));
        } else {
            $('#action-message').addClass('hidden');
        }
        
        $("#tabs").tabs().domogik_tabs({
            addCallback: function() {
                $('#addnewdialog').dialog('open');
            }
        });
        
    });
    // ]]>
{% endblock %}
{% block css %}
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-selectmenu.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-dragdrop.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-buttons.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-forms.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-nav2.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-accordion.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/ui-tabs.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/page-admin-organisation.css" rel="stylesheet" type="text/css" />
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/show-element.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block include_js_script %}
<script type="text/javascript" src="/design/js/ui.selectmenu.js"></script>
<script type="text/javascript" src="/design/js/ui.dragdrop.js"></script>
<script type="text/javascript" src="/design/js/ui.tabs.js"></script>
<script type="text/javascript" src="/design/js/page-admin.js"></script>
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}
{% block right %}
    <div class='element-bgnd'>
        <div class="element">
            <h1 class="ident"><span class="title">Organisations des zones</span></h1>
	        <div id="action-message"></div>
            <ul class="actions"></ul>
            <div id="addnewdialog" title="Créer nouvelle zone">
                <p id="validateTips">Tous les champs sont requis.</p>
                <form>
                    <fieldset>
                        <label class="medium" for="new_name">Nom</label>
                        <input type="text" class="medium" id="new_name" name="new_name" />
                        <label class="medium" for="new_description">Description</label>
                        <textarea type="text" class="medium" id="new_description" name="new_description"></textarea>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<div class="nocolumns">

<div id="tabs">
	<ul>
        {% for area in areas_list %}
		<li><a href="#subelement{{ area.id }}" class="icon16-area-grndfloor">{{ area.name }}</a></li>
        {% endfor %}
	</ul>
    {% for area in areas_list %}
	<div id="subelement{{ area.id }}" class="subelement">
            <script type="text/javascript">
                // Update form
                $(function(){
                    /*
                    var area{{ area.id }}newname = $("#area{{ area.id }}-newname"),
                        allFields = $([]).add(area{{ area.id }}newname),
                        tips{{ area.id }} = $("#validateTips{{ area.id }}");
                      
                    $("#updatedialog{{ area.id }}").dialog({
                        bgiframe: true,
                        autoOpen: false,
                        height: 300,
                        modal: true,
                        buttons: {
                            'Modifier': function() {
                                var bValid = true;
                                allFields.removeClass('ui-state-error');
                                bValid = bValid && checkLength(tips{{ area.id }}, area{{ area.id }}newnam,"nom",1,80);
                                if (bValid) {
                                    // Submit form
                                    $(this).dialog('close');
                                }
                            },
                            Cancel: function() {
                                $(this).dialog('close');
                            }
                        },
                        close: function() {
                            allFields.val('').removeClass('ui-state-error');
                        }
                    });
                    
                	$('select#area{{ area.id }}-icon').selectmenu({
                        icons: [
                            {% for icon in icons_area %}
                                {find: '.icon_area_{{ icon }}', icon: 'icon64-area-{{ icon }}', jquery:'no'},
                            {% endfor %}
                        ]
                    });
                    
    				$('#update{{ area.id }}').click(function() {
            			$('#updatedialog{{ area.id }}').dialog('open');
                    });
             */
                    /* Add a onclick function to delete the current area */
                    $('#del{{ area.id }}').click(function(data) {
            			getREST('/base/area/del/{{ area.id }}',
                            function(data) {
                                var status = (data.status).toLowerCase();
                                if (status == 'ok') {
                                    $.reloadPage({'status': 'ok', 'msg': 'Succes : Area \'' + data.area[0].name + '\' deleted'});                                   
                                } else {
                                    $.reloadPage({'status': 'error', 'msg': 'Error : Area not deleted (' + data.description + ')'});                                                                      
                                }
                            }
                        );
                    });
                });
                // ]]>
            </script>
            <h2 id="zone{{ area.id }}h" class="icon32-area-grndfloor">{{ area.name }}</h2>
            <ul class="actions">
                <li><button id="del{{ area.id }}" class="button">Supprimer</button></li>
                <!--li><button id="update{{ area.id }}" class="button">Modifier</button></li-->
            </ul>
            <!--
            <div id="updatedialog{{ area.id }}" title="Modifier {{ area.name }}">
                <p id="validateTips{{ area.id }}">Tous les champs sont requis.</p>
                <form action="#">
                    <label class="medium" for="area{{ area.id }}-newname">Nouveau nom :</label>
                    <input id="area{{ area.id }}-newname" name="area{{ area.id }}-newname" type="text" class="medium" value="{{ area.name }}" />
                </form>
            </div>
            -->
            <!--
            <form action="#">
                <div class="parameter">
                    <label for="area{{ area.id }}-icon">Icône:</label>
                    <select class="large customicons" id="area{{ area.id }}-icon" name="area{{ area.id }}-icon">
                        {% for icon in icons_area %}
                            <option value="{{ icon }}" class="icon_area_{{ icon }}">{{ icon }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            -->
	</div>
    {% endfor %}
</div>

</div>
{% endblock %}
