<!--
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
-->
{% extends "base_with_admin_menu.html" %}
{% load i18n %}
{% block js_script %}
$(function(){
  // Accordion
  $("#nav2").accordion({ header: ".section", active:1});
});

{% endblock %}
{% block css %}
<link href="/design/css/ui-elements.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-buttons.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-forms.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-nav2.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-tables.css" rel="stylesheet" type="text/css" />
<link href="/design/css/page-admin-organisation.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block include_js_script %}
<script type="text/javascript" src="/design/js/page-admin.js"></script>
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}

{% block right %}
<div class="element-main">
  <h1 class="element-ident"><span class="element-title">Organisations des dispositifs</span></h1>
  <h2 class="splitter">Nouveau dispositif</h2>
  <form action="#">
    <div class="largebox columnsbox">
      <div class="parameter">
        <label class="medium" for="address">Adresse :</label>
        <input type="text" class="medium" id="address" name="address" />
      </div>
      <div class="parameter">
        <label class="medium" for="name">Nom :</label>
        <input type="text" class="medium" id="name" name="name" />
      </div>
      <div class="parameter">
        <label class="medium" for="description">Description :</label>
        <textarea class="medium" id="description" name="description"></textarea>
      </div>
      <div class="parameter">
        <label class="medium" for="reference">Référence :</label>
        <input type="text" class="medium" id="reference" name="reference" />
      </div>
      <div class="parameter">
        <label class="medium" for="technology">Technologie :</label>
        <select id="technology" name="technology">
          <optgroup label="Courant porteur">
          <option>X10</option>
          <option>plcBus</option>
          </optgroup>
          <optgroup label="Sans fil">
          <option>ZigBee</option>
          </optgroup>
          <optgroup label="Bus dédié">
          <option>1-Wire</option>
          <option>EIB/KNX</option>
          </optgroup>
        </select>
      </div>
      <div class="parameter">
        <label class="medium" for="category">Categorie :</label>
        <select id="category" name="category">
          <option>Température</option>
          <option>Chauffage</option>
          <option>Lumière</option>
          <option>Musique</option>
          <option>Appareil</option>
        </select>
      </div>
      <div class="parameter">
        <input type="submit" class="button" value="Ajouter" />
      </div>
    </div>
  </form>
</div>
<div class="nocolumns">
  <div class="element">
    <h2>Dispositifs non attribués</h2>
    <table class="devices-list">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Référence</th>
          <th>Description</th>
          <th>Technologie</th>
          <th>Catégorie</th>
          <th>Reinitialisable</th>
          <th>Valeur initiale</th>
          <th>Unitée</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Lumière</td>
          <td>A1</td>
          <td>AM12</td>
          <td>Lampe de chevet</td>
          <td>X10</td>
          <td>Lumière</td>
          <td>Oui</td>
          <td>Off</td>
          <td></td>
          <td><ul class="actions">
              <li><a href="#" class="buttonsmall">Effacer</a></li>
              <li><a href="#" class="buttonsmall">Modifier</a></li>
            </ul></td>
        </tr>
        <tr class="odd">
          <td>Eléctricité</td>
          <td>D1</td>
          <td></td>
          <td>Machine à café</td>
          <td>plcBus</td>
          <td>Appareil</td>
          <td>Oui</td>
          <td>100</td>
          <td>%</td>
          <td><ul class="actions">
              <li><a href="#" class="buttonsmall">Effacer</a></li>
              <li><a href="#" class="buttonsmall">Modifier</a></li>
            </ul></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}