{% extends "base_with_admin_menu.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see
<http://www.gnu.org/licenses/>
.

# Author : Cédric Trévisan <cedric@domogik.org> {% endcomment %}


{% load i18n %}
{% block js_script %}
$(function(){
    // Accordion
    $("#nav2").accordion({ header: ".section", active:1});
//  $('select.room-zone').selectmenu();

	function updateTips(tips, t) {
			tips.text(t).effect("highlight",{},1500);
		}

		function checkLength(tips, o,n,min,max) {

			if ( o.val().length > max || o.val().length < min ) {
				o.addClass('ui-state-error');
				updateTips(tips, "La longueur de " + n + " doit être comprise entre "+min+" et "+max+".");
				return false;
			} else {
				return true;
			}

		}
                    // Add new form  
      		var name = $("#name"),

                        allFields = $([]).add(name),

			tips = $("#validateTips");

		function updateTips(t) {
			tips.text(t).effect("highlight",{},1500);
		}

		function checkLength(o,n,min,max) {

			if ( o.val().length > max || o.val().length < min ) {
				o.addClass('ui-state-error');
				updateTips("La longueur de " + n + " doit être comprise entre "+min+" et "+max+".");
				return false;
			} else {
				return true;
			}

		}
		
		$("#addnewdialog").dialog({
			bgiframe: true,
			autoOpen: false,
			height: 200,
			modal: true,
			buttons: {
				'Créer': function() {
					var bValid = true;
					allFields.removeClass('ui-state-error');

					bValid = bValid && checkLength(name,"nom",1,80);
                                        				
					if (bValid) {
                                        	// Submit form
						$(this).dialog('close');
					}
				},
				Cancel: function() {
					$(this).dialog('close');
				}
			},
			close: function() {
				allFields.val('').removeClass('ui-state-error');
			}
		});
		
		
		
		$('#addnew').click(function() {
			$('#addnewdialog').dialog('open');
		})


	$('#instructions').dialog({autoOpen: false}); 
	$('#btinstructions').click(function() {  
                                        $('#instructions').dialog('open',{closeOnEscape: false});  
                                });
                $("#devices").hide();
                $("button#showdevices").click(function () {
            $("#devices").toggle();
        });

});

{% endblock %}
{% block css %}
                                        <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-selectmenu.css" rel="stylesheet" type="text/css" />
                                        <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-dragdrop.css" rel="stylesheet" type="text/css" />
                                        <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-elements.css" rel="stylesheet" type="text/css" />
                                        <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-buttons.css" rel="stylesheet" type="text/css" />
                                        <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-forms.css" rel="stylesheet" type="text/css" />
                                        <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/ui-nav2.css" rel="stylesheet" type="text/css" />
                                        <link href="/design/{{ s_user.skin_used|default:'skins/default' }}/css/page-admin-organisation.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block include_js_script %}
<script type="text/javascript" src="/design/js/ui.selectmenu.js"></script>
<script type="text/javascript" src="/design/js/ui.dragdrop.js"></script>
<script type="text/javascript" src="/design/js/page-admin.js"></script>
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}
{% block right %}
<div class="element-main">
    <div>
        <h1 class="element-ident"><span class="element-title">Organisations des pièces</span></h1>
        <ul class="element-actions">
            <li>
                <button id="addnew" class="button">Créer nouvelle</button>
            </li>
            <li><a href="#" class="button">Tout supprimer</a></li>
            <li><button id="showdevices" class="button">Dispositifs</a></li>
        </ul>
        <div id="addnewdialog" title="Créer nouvelle pièce">
            <p id="validateTips">Tous les champs (sauf description) sont requis.</p>
            <form>
                <fieldset>
                    <label class="medium" for="name">Nom</label>
                    <input type="text" class="medium" id="name" name="name" />
                </fieldset>
            </form>
        </div>
        <div id="devices">
            <h2 class="splitter">Dispositifs</h2>
            <a href="#" class="action" id="btinstructions">(Instructions Drag &amp; Drop)</a>
            <div id="instructions" title="Instructions Drag &amp; Drop">
                <h3>Utilisation de la souris</h3>
                <h3>Utilisation du clavier</h3>
                <ul>
                    <li>Use the <kbd>Tab</kbd> to move to the artist you want to move.</li>
                    <li>Select the item you want to move with the <kbd>Spacebar</kbd>.</li>
                    <li>Use the <kbd>Up</kbd> and <kbd>Down</kbd> cursor keys to select a target in the context menu.</li>
                    <li>Press <kbd>Enter</kbd> to move the artist to the target list.</li>
                </ul>
            </div>
            <fieldset class="areadrop">
                <legend id="roomnah" class="choice">Dispositifs non attribuées</legend>
                <ul id="roomna" class="draggables">
                    {% for device in unattribued_devices %}
                    <li class="draggable" title="{{ device.technology.name }}.{{ device.address }}">{{ device.name }}<span class="description">{{ device.description }}</span></li>
                    {% empty %}
                    <li class="empty">Vide</li>
                    {% endfor %}
                </ul>
            </fieldset>
            {% regroup devices_list|dictsort:"room" by room as rooms %}
            {% for room in rooms %}
            <fieldset class="areadrop">
                <legend id="room{{ room.grouper.id }}h" class="choice">{{ room.grouper.name }}</legend>
                <ul id="room{{ room.grouper.id }}" class="draggables">
                    {% for device in room.list %}
                    <li class="draggable" title="{{ device.technology.name }}.{{device.address }}">{{ device.name }}<span class="description">{{ device.description }}</span></li>
                    {% empty %}
                    <li class="empty">Vide</li>
                    {% endfor %}
                </ul>
            </fieldset>
            {% endfor %}
          </div>
    </div>
</div>
<div class="nocolumns"> {% for room in rooms_list %}
    <div class="element">
        <script type="text/javascript">
    $(function(){
    // Update form
    var room{{ room.id }}newname = $("#room{{ room.id }}-newname"),
    allFields = $([]).add(room{{ room.id }}newname),
    tips{{ room.id }} = $("#validateTips{{ room.id }}");
    $("#updatedialog{{ room.id }}").dialog({
        bgiframe: true,
        autoOpen: false,
        height: 300,
        modal: true,
        buttons: {
                'Modifier': function() {
                        var bValid = true;
                        allFields.removeClass('ui-state-error');
                        bValid = bValid && checkLength(tips{{ room.id }}, room{{ room.id }}newnam,"nom",1,80);
                        if (bValid) {
                                // Submit form
                                $(this).dialog('close');
                                }
                                },
                                Cancel: function() {
					$(this).dialog('close');
				}
			},
			close: function() {
				allFields.val('').removeClass('ui-state-error');
			}
		});
		
        	$('select#room{{ room.id }}-icon').selectmenu({
				icons: [
                                                                        {% for icon in icons_room %}
					{find: '.icon_room_{{ icon }}', icon: 'icon64-room-{{ icon }}', jquery:'no'},
                                                                        {% endfor %}
				]
			});
		
		$('#update{{ room.id }}').click(function() {
			$('#updatedialog{{ room.id }}').dialog('open');
		})
		
			});
    </script>
        <h2 class="icon32-room-livingroom">{{ room.name }}</h2>
        <ul class="element-actions">
            <li><a href="#" class="button">Supprimer</a></li>
            <li>
                <button id="update{{ room.id }}" class="button">Modifier</button>
            </li>
            <li>
                <button id="save{{ area.id }}" class="button">Sauvegarder</button>
            </li>
        </ul>
        <div id="updatedialog{{ room.id }}" title="Modifier {{ room.name }}">
            <p id="validateTips{{ room.id }}">Tous les champs sont requis.</p>
            <form action="#">
                <label class="medium" for="room{{ room.id }}-newname">Nouveau nom :</label>
                <input id="room{{ room.id }}-newname" name="room{{ room.id }}-newname" type="text" class="medium" value="{{ room.name }}" />
                <label class="medium" for="room{{ room.id }}-zone">Zone :</label>
                <select class="room-zone medium" id="room{{ room.id }}-zone" name="room{{ room.id }}-zone">
                    <option value="" {% ifequal room.area_id None %}selected='selected'{% endifequal %}></option>
                                            {% for area in areas_list %}
                    <option value="{{ area.id }}" {% ifequal room.area_id area.id %}selected='selected'{% endifequal %}>{{ area.name }}</option>
                                        {% endfor %}
                </select>
            </form>
        </div>
        <form action="#">
            <div class="parameter">
                <label for="room{{ room.id }}-icon">Icône :</label>
                <select class="large customicons" id="room{{ room.id }}-icon" name="room{{ room.id }}-icon">
                {% for icon in icons_room %}
                    <option value="{{ icon }}" class="icon_room_{{ icon }}">{{ icon }}</option>
                {% endfor %}
                </select>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
