{% extends "base_with_admin_menu.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see <http://www.gnu.org/licenses/>.

# Author : Cédric Trévisan <cedric@domogik.org>
{% endcomment %}


{% load i18n %}
{% block js_script %}
$(function(){
  // Accordion
  $("#nav2").accordion({ header: ".section", active:1});
  $('select.room-zone').selectmenu();

	$('#instructions').dialog({autoOpen: false}); 
	$('#btinstructions').click(function() {  
                    $('#instructions').dialog('open',{closeOnEscape: false});  
                });
	
	$('select#room1-largeicon').selectmenu({
				icons: [
					{find: '.icon1l', icon: 'icon64-room-default', jquery:'no'},
					{find: '.icon2l', icon: 'icon64-room-kitchen', jquery:'no'},
					{find: '.icon3l', icon: 'icon64-room-bathroom', jquery:'no'}
				]
			});
	$('select#room1-mediumicon').selectmenu({
				icons: [
					{find: '.icon1m', icon: 'icon32-room-default', jquery:'no'},
					{find: '.icon2m', icon: 'icon32-room-kitchen', jquery:'no'},
					{find: '.icon3m', icon: 'icon32-room-livingroom', jquery:'no'}
				]
			});
		$('select#room1-smallicon').selectmenu({
				icons: [
					{find: '.icon1s', icon: 'icon16-room-bedroom', jquery:'no'},
					{find: '.icon2s', icon: 'icon16-room-kitchen', jquery:'no'},
					{find: '.icon3s', icon: 'icon16-room-livingroom', jquery:'no'}
				]
			});
});

{% endblock %}
{% block css %}
<link href="/design/css/ui-selectmenu.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-dragdrop.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-elements.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-buttons.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-forms.css" rel="stylesheet" type="text/css" />
<link href="/design/css/ui-nav2.css" rel="stylesheet" type="text/css" />
<link href="/design/css/page-admin-organisation.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block include_js_script %}
<script type="text/javascript" src="/design/js/ui.selectmenu.js"></script>
<script type="text/javascript" src="/design/js/ui.dragdrop.js"></script>
<script type="text/javascript" src="/design/js/page-admin.js"></script>
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}
{% block right %}
<div class="element-main">
  <div>
    <h1 class="element-ident"><span class="element-title">Organisations des pièces</span></h1>
    <h2 class="splitter">Créer une pièce</h2>
    <div class="mediumbox">
      <div class="parameter">
        <form action="#">
          <label class="medium" for="room-name">Nom :</label>
          <input id="room-name" name="room-name" type="text" class="medium" />
          <input type="submit" class="button" value="Ajouter">
        </form>
      </div>
    </div>
    <h2 id="roomnah" class="choice splitter">Dispositifs non attribuées <a href="#" class="action" id="btinstructions">(Instructions Drag &amp; Drop)</a></h2>
    <div id="instructions" title="Instructions Drag &amp; Drop">
      <h3>Utilisation de la souris</h3>
      <h3>Utilisation du clavier</h3>
      <ul>
        <li>Use the <kbd>Tab</kbd> to move to the artist you want to move.</li>
        <li>Select the item you want to move with the <kbd>Spacebar</kbd>.</li>
        <li>Use the <kbd>Up</kbd> and <kbd>Down</kbd> cursor keys to select a target in the context menu.</li>
        <li>Press <kbd>Enter</kbd> to move the artist to the target list.</li>
      </ul>
    </div>
    <ul id="roomna" class="draggables">
      <li class="draggable" title="X10.A1">Lumière <span class="description">Lampe de chevet</span></li>
      <li class="draggable" title="X10.A2">Lumière <span class="description">Lampe de bureau</span></li>
      <li class="draggable" title="X10.B1">Lumière <span class="description">Appliques du salon</span></li>
      <li class="draggable" title="1Wire.04aa:2480">Capteur Température <span class="description">salon</span></li>
      <li class="draggable" title="1Wire.03ba:2880">Capteur Température <span class="description">chambre parents</span></li>
      <li class="draggable" title="plcBus.D1">Eléctricité <span class="description">Machine à café</span></li>
      <li class="draggable" title="KNX.1.1.11">Lumière <span class="description">Couloir</span></li>
      <li class="draggable" title="KNX.1.13.11">Capteur présence <span class="description">Couloir</span></li>
    </ul>
  </div>
</div>
<div class="nocolumns">
{% for room in rooms_list %}
  <div class="element">
    <h2 id="room{{ room.id }}h" class="choice icon32-room-livingroom">{{ room.name }}</h2>
    <form action="#">
      <ul class="element-actions">
        <li><a href="#" class="button">Supprimer</a></li>
        <li>
          <input type="submit" class="button" value="Sauvegarder la pièce">
        </li>
      </ul>
      <h3 class="splitter">Paramètres</h3>
      <div class="mediumbox">
        <div class="parameter">
          <label class="medium" for="room{{ room.id }}-newname">Nouveau nom :</label>
          <input id="room{{ room.id }}-newname" name="room{{ room.id }}-newname" type="text" class="medium" />
        </div>
        <div class="parameter">
          <label class="medium" for="room{{ room.id }}-zone">Zone :</label>
          <select class="room-zone medium" id="room{{ room.id }}-zone" name="room{{ room.id }}-zone">
            <option>Rez-de-chaussée</option>
            <option>Etage</option>
            <option>Sous-sol</option>
            <option>Exterieur</option>
          </select>
        </div>
      </div>
      <div class="parameter">
        <fieldset>
          <legend>Icônes</legend>
          <ul class="icons">
            <li>
              <label for="room{{ room.id }}-largeicon">Large :</label>
              <select class="large customlargeicons" id="room{{ room.id }}-largeicon" name="room{{ room.id }}-largeicon">
                <option value="icon1l" class="icon1l">Divers</option>
                <option value="icon2l" class="icon2l">Cuisine</option>
                <option value="icon3l" class="icon3l">Salle de bain</option>
              </select>
            </li>
            <li>
              <label for="room{{ room.id }}-mediumicon">Moyen :</label>
              <select class="large custommediumicons" id="room{{ room.id }}-mediumicon" name="room{{ room.id }}-mediumicon">
                <option value="icon1m" class="icon1m">Divers</option>
                <option value="icon2m" class="icon2m">Cuisine</option>
                <option value="icon3m" class="icon3m">Séjour</option>
              </select>
            </li>
            <li>
              <label for="room{{ room.id }}-smallicon">Petit :</label>
              <select class="large customsmallicons" id="room{{ room.id }}-smallicon" name="room{{ room.id }}-smallicon">
                <option value="icon1s" class="icon1s">Chambre</option>
                <option value="icon2s" class="icon2s">Cuisine</option>
                <option value="icon3s" class="icon3s">Salle de bain</option>
              </select>
            </li>
          </ul>
        </fieldset>
      </div>
      <h3 class="splitter">Dispositifs</h3>
      <ul id="room{{ room.id }}" class="draggables">
        <li class="empty">Vide</li>
      </ul>
    </form>
  </div>
  {% endfor %}
</div>
{% endblock %}