{% extends "layout_admin.html" %}
{% comment %}
# Copyright 2008 Domogik project

# This file is part of Domogik.
# Domogik is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Domogik is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Domogik.  If not, see
<http://www.gnu.org/licenses/>
.

# Author : Cédric Trévisan <cedric@domogik.org> {% endcomment %}


{% load i18n %}
{% block js_script %}
    $(function(){
    /*
        $('#instructions').dialog({autoOpen: false}); 
        $('#btinstructions').click(function() {
            $('#instructions').dialog('open',{closeOnEscape: false});
        });
	*/
        // Add form  
        var new_name = $("#new_name"),
            new_description = $("#new_description"),
            allFields = $([]).add(new_name).add(new_description),
            tips = $("#validateTips");
		
		$("#addnewdialog").dialog({
			bgiframe: true,
			autoOpen: false,
			height: 250,
			modal: true,
			buttons: {
				'Créer': function() {
					var bValid = true;
					allFields.removeClass('ui-state-error');

					bValid = bValid && checkLength(new_name,"nom",1,80);
                    bValid = bValid && checkLength(new_description,"description",1,80);                    				
					if (bValid) {						
                        // Submit form
                        getREST('/base/room/add/name/' + new_name.val() + '/description/' + new_description.val(),
                            function(data) {
                                var status = (data.status).toLowerCase();
                                if (status == 'ok') {
                                    $.reloadPage({'status': 'ok', 'msg': '{% trans "Succes" %} : {% trans "New room added" %} \'' + data.room[0].name + '\''});                                   
                                } else {
                                    $.reloadPage({'status': 'error', 'msg': '{% trans "Error" %} : {% trans "Room not created" %} (' + data.description + ')'});                                                                      
                                }
                            }
                        );
                    }
				},
				Cancel: function() {
					$(this).dialog('close');
				}
			},
			close: function() {
				allFields.val('').removeClass('ui-state-error');
			}
		});

//        $("#devices").hide();
//        $("button#showdevices").click(function () {
//            $("#devices").toggle();
//        });
        
        $("#tabs").tabs().domogik_tabs({
            addTitle: "{% trans "Add new room" %}",
            addCallback: function() {
                $('#addnewdialog').dialog('open');
            }
        });
        
        $('.buttonleft[title], .add').qtip({
            position: {
                corner: {
                    target: 'leftMiddle',
                    tooltip: 'rightMiddle'
                }
            },

            style: {

                padding: 5,
                background: '#A2D959',
                color: 'black',
                textAlign: 'center',
                border: {
                    width: 7,
                    radius: 5,
                    color: '#A2D959'
                },
                tip: 'rightMiddle',
                name: 'dark' // Inherit the rest of the attributes from the preset dark style
            }
        });
    });

{% endblock %}
{% block css %}
    <link href="/design/{{ request.session.user.skin_used|default:'skins/default' }}/css/page-admin-organisation.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_include %}
{% endblock %}
{% block title %}{% trans page_title %}{% endblock %}
{% block right %}
    <div class='element-bgnd'>
        <div class="element">
            <h1 class="ident"><span class="title">{% trans "Room organisation" %}</span></h1>
            {% ifnotequal status "" %}
            <div class='action-message {{status}}'>{{msg}}</div>
            {% endifnotequal %}
            <ul class="actions">
                <!--li><button id="showrooms" class="button">Pièces</a></li-->
            </ul>
            <div id="addnewdialog" title="{% trans "Create new room" %}">
                <p id="validateTips">{% trans "All fields are required." %}</p>
                <form>
                    <fieldset>
                        <label class="medium" for="new_name">{% trans "Name" %}</label>
                        <input type="text" class="medium" id="new_name" name="new_name" />
                        <label class="medium" for="new_description">{% trans "Description" %}</label>
                        <textarea type="text" class="medium" id="new_description" name="new_description"></textarea>
                    </fieldset>
                </form>
            </div>
            
            <!--div id="rooms">
            <h2 class="splitter">Pièces</h2>
            <a href="#" class="action" id="btinstructions">(Instructions Drag &amp; Drop)</a>
            <div id="instructions" title="Instructions Drag &amp; Drop">
                <h3>Utilisation de la souris</h3>
                <h3>Utilisation du clavier</h3>
                <ul>
                    <li>Use the <kbd>Tab</kbd> to move to the artist you want to move.</li>
                    <li>Select the item you want to move with the <kbd>Spacebar</kbd>.</li>
                    <li>Use the <kbd>Up</kbd> and <kbd>Down</kbd> cursor keys to select a target in the context menu.</li>
                    <li>Press <kbd>Enter</kbd> to move the artist to the target list.</li>
                </ul>
            </div>
            <fieldset class="areadrop">
                <legend id="areanah" class="choice">Pièces non attribuées</legend>
                <ul id="areana" class="draggables">
                    % for room in unattribued_rooms %}
                    <li class="draggable">{{ room.name }}<span class="description">{{ room.description }}</span></li>
                    % empty %}
                    <li class="empty">Vide</li>
                    % endfor %}
                </ul>
            </fieldset>
            % regroup rooms_list|dictsort:"area" by area as areas %}
            % for area in areas %}
            <fieldset class="areadrop">
                <legend id="room{ room.grouper.id }}h" class="choice">{ room.grouper.name }}</legend>
                <ul id="room{ room.grouper.id }}" class="draggables">
                    % for room in room.list %}
                    <li class="draggable">{ room.name }}<span class="description">{ room.description }}</span></li>
                    % empty %}
                    <li class="empty">Vide</li>
                    % endfor %}
                </ul>
            </fieldset>
            % endfor %}
          </div-->
          
        </div>
    </div>
    
    <div class="nocolumns">    
        <div id="tabs">
            <ul>{% for room in rooms_list %}<li><a href="#subelement{{ room.id }}" class="icon16-room-livingroom">{{ room.name }}</a></li>{% endfor %}</ul>
            {% for room in rooms_list %}
            <div id="subelement{{ room.id }}" class="subelement">
                <script type="text/javascript">
                    // Update form
                    $(function(){      
                        var room{{ room.id }}newname = $("#room{{ room.id }}-newname"),
                            room{{ room.id }}newdescription = $("#room{{ room.id }}-newdescription"),
                            allFields = $([]).add(room{{ room.id }}newname),
                            tips{{ room.id }} = $("#validateTips{{ room.id }}");
                        
                        room{{ room.id }}newname.val("{{ room.name }}");
                        room{{ room.id }}newdescription.val("{{ room.description }}");
                        
                        $("#updatedialog{{ room.id }}").dialog({
                            bgiframe: true,
                            autoOpen: false,
                            height: 300,
                            modal: true,
                            buttons: {
                                'Modifier': function() {
                                    var bValid = true;
                                    allFields.removeClass('ui-state-error');
                                    bValid = bValid && checkLength(tips{{ room.id }}, room{{ room.id }}newname,"nom",1,80);
                                    bValid = bValid && checkLength(tips{{ room.id }}, room{{ room.id }}newdescription,"description",1,80);
                                    if (bValid) {
                                        // Submit form
                                        getREST('/base/room/update/id/' + {{ room.id }} + '/name/' + room{{ room.id }}newname.val() + '/description/' + room{{ room.id }}newdescription.val(),
                                            function(data) {
                                                var status = (data.status).toLowerCase();
                                                if (status == 'ok') {
                                                    $.reloadPage({'status': 'ok', 'msg': '{% trans "Succes" %} : {% trans "Room" %} \'' + data.room[0].name + '\' {% trans "succesfully updated" %}'});                                   
                                                } else {
                                                    $.reloadPage({'status': 'error', 'msg': '{% trans "Error" %} : {% trans "Room not updated" %} (' + data.description + ')'});                                                                      
                                                }
                                            }
                                        );
                                    }
                                },
                                Cancel: function() {
                                    $(this).dialog('close');
                                }
                            },
                            close: function() {
                                allFields.val('').removeClass('ui-state-error');
                            }
                        });
                        /*
                        $('select#room{{ room.id }}-icon').selectmenu({
                            icons: [
                                {% for icon in icons_area %}
                                    {find: '.icon_area_{{ icon }}', icon: 'icon64-area-{{ icon }}', jquery:'no'},
                                {% endfor %}
                            ]
                        });
                    */
                        $('#update{{ room.id }}').click(function() {
                            $('#updatedialog{{ room.id }}').dialog('open');
                        });
        
                        /* Add a onclick function to delete the current area */
                        $('#del{{ room.id }}').click(function(data) {
                            getREST('/base/room/del/{{ room.id }}',
                                function(data) {
                                    var status = (data.status).toLowerCase();
                                    if (status == 'ok') {
                                        $.reloadPage({'status': 'ok', 'msg': '{% trans "Succes" %} : {% trans "Room" %} \'' + data.room[0].name + '\' {% trans "succesfully deleted" %}'});                                   
                                    } else {
                                        $.reloadPage({'status': 'error', 'msg': '{% trans "Error" %} : {% trans "Room not deleted" %} (' + data.description + ')'});                                                                      
                                    }
                                }
                            );
                        });
                    });
                    // ]]>
                </script>
                <ul class="actions">
                    <li><button id='del{{ room.id }}' class='icon16-action-del buttonleft' title="{% trans "Delete" %} '{{ room.name }}'"><span class='offscreen'>{% trans "Delete" %} {{ room.name }}</span></button></li>
                    <li><button id="update{{ room.id }}" class="icon16-action-update buttonleft" title="{% trans "Modify" %} '{{ room.name }}'"><span class='offscreen'>{% trans "Modify" %} {{ room.name }}</span></button></li>
                </ul>
                <div class="content">
                    <h2 id="zone{{ room.id }}h" class="icon32-area-grndfloor">{{ room.name }}</h2>
                    <p>{{ room.description }}</p>

                </div>
                <div id="updatedialog{{ room.id }}" title="{% trans "Modify" %} {{ room.name }}">
                    <p id="validateTips{{ room.id }}">{% trans "All fields are required." %}</p>
                    <form >
                        <fieldset>
                            <label class="medium" for="room{{ room.id }}-newname">{% trans "New name" %}</label>
                            <input type="text" class="medium" id="room{{ room.id }}-newname" name="room{{ room.id }}-newname" />
                            <label class="medium" for="room{{ room.id }}-newdescription">{% trans "New description" %}</label>
                            <textarea type="text" class="medium" id="room{{ room.id }}-newdescription" name="room{{ room.id }}-newdescription"></textarea>
                        </fieldset>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}