<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Domogik's new UI</title>
<link href="../../css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css"/>
<link href="../../css/ui-dragdrop.css" rel="stylesheet" type="text/css" />
<link href="../../css/ui-elements.css" rel="stylesheet" type="text/css" />
<link href="../../css/ui-buttons.css" rel="stylesheet" type="text/css" />
<link href="../../css/ui-forms.css" rel="stylesheet" type="text/css" />
<link href="../../css/ui-nav2.css" rel="stylesheet" type="text/css" />
<link href="../../css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="../../js/ui.dragdrop.js"></script>
<script type="text/javascript" src="../../js/page-admin.js"></script>
<script type="text/javascript">
$(function(){
	// Accordion
	$("#nav2").accordion({ header: ".section", active:0});
	$('#instructions').dialog({autoOpen: false}); 
	$('#btinstructions').click(function() {  
                    $('#instructions').dialog('open',{closeOnEscape: false});  
                });
});
</script>
</head>
<body>
<div id="frame">
<div id="header"> <a href="../../index.html" id="logo"><img src="../../images/logo_domogik.png" width="131" height="37" alt="Domotik logo" /></a>
  <div id="title">Welcome to Domogik<span id="subtitle">Free home automation under Linux</span></div>
</div>
<ul id="nav1">
  <li><a href="../../view/index.html" class="ui-corner-top">Visualisation</a></li>
  <li><a href="../../program/index.html" class="ui-corner-top">Programmation</a></li>
  <li><a href="../index.html" class="selected ui-corner-top">Administration</a></li>
</ul>
<div id="content">
  <div class="left">
    <div id="nav2">
      <div class="section"><a href="#">Organisation</a></div>
      <ul>
        <li><a href="devices.html">Dispositifs</a></li>
        <li><a href="rooms.html">Pièces</a></li>
        <li><a href="zones.html">Zones</a></li>
      </ul>
         <div class="section"><a href="#">Gestion</a></div>
        <ul>
          <li><a href="../management/modules.html">Modules</a></li>
        </ul>
    </div>
  </div>
  <div class="right">
    <div class="element-main">
      <div>
        <h1 class="element-ident"><span class="element-title">Organisations des zones</span></h1>
        <h2 class="splitter">Créer une zone</h2>
        <div class="mediumbox">
        <div class="parameter"><form action="#"><label class="medium">Nom :</label><input type="text" class="medium" /><input type="submit" class="button" value="Ajouter"></form></div>
		</div>
        <h2 id="zonenah" class="choice splitter">Pièces non attribuées <a href="#" class="action" id="btinstructions">(Instructions Drag &amp; Drop)</a></h2>
        <div id="instructions" title="Instructions Drag &amp; Drop">
        <h3>Utilisation de la souris</h3>
        <h3>Utilisation du clavier</h3>
        <ul>
          <li>Use the <kbd>Tab</kbd> to move to the artist you want to move.</li>
          <li>Select the item you want to move with the <kbd>Spacebar</kbd>.</li>
          <li>Use the <kbd>Up</kbd> and <kbd>Down</kbd> cursor keys to select a target in the context menu.</li>
          <li>Press <kbd>Enter</kbd> to move the artist to the target list.</li>
        </ul>
        </div>
        <ul id="zonena" class="draggables">
          <li class="draggable">Salon TV</li>
          <li class="draggable">S&eacute;jour</li>
          <li class="draggable">Cuisine</li>
          <li class="draggable">Salle de bain</li>
          <li class="draggable">Chambre parents</li>
          <li class="draggable">Chambre enfants</li>
          <li class="draggable">Chambre amis</li>
          <li class="draggable">Bureau</li>
        </ul>
      </div>
    </div>
    <div class="nocolumns">
      <div class="element">
        <h2 id="zone1h" class="choice">Rez-de-chaussée</h2>
        <ul class="element-actions">
        	<li><a href="#" class="button">Supprimer</a></li>
        </ul>
        
        <h3 class="splitter">Paramètres</h3>
        <h3 class="splitter">Pièces du Rez-de-chaussée</h3>
        <ul id="zone1" class="draggables">
          <li class="empty">Vide</li>
        </ul>
      </div>
      <div class="element">
        <h2 id="zone2h" class="choice">Etage</h2>
        <h3 class="splitter">Paramètres</h3>
        <h3 class="splitter">Pièces de l'Etage</h3>
        <ul id="zone2" class="draggables">
          <li class="empty">Vide</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer"/>
</div>
</body>
</html>
