body {
    background-color: #eeeeee;
    font-family: verdana, helvetica, arial;
}

h1 {
    background-color: #BDCB2F;
    border: 1px solid #B9C248;
    padding: 0.2em;
}

.section {
    background-color: #cccccc;
    border: 1px solid #979387;
    margin-bottom: 1em;
}

.section h2 {
    background-color: #908D6F;
    margin: 0;
    padding: 0.2em;
}

.section .content {
    padding: 1em;
}

.xml {
    font-size:0.8em;
    margin-left: 3em;
    font-style: italic;
}

.package {
    font-weight: bold;
}

.error {
    padding: 1em;
    border: 1px solid red;
    background-color: #ffaaaa;
    margin-bottom: 1em;
}

.info {
    padding: 1em;
    border: 1px solid blue;
    background-color: #aaaaff;
    margin-bottom: 1em;
}

.updated {
    background-color: #f4b9d3;
    border: 1px dashed red;
}

.trash {
    background-color: #FFFFFF;
    color: #595959;
}

.trash .package {
    font-weight: normal;
}

.sas {
    background-color: #F4D9B3;
}

.std {
    background-color: #D1F1B8;
}

.delete {
    margin-left: 2em;
}

table {
    background-color: #eeeeee;
    border: 1px solid #979387;
}

table th {
    background-color: #908D6F;
}

.deploy {
    margin-left: 2em;
    float: right;
}

