.dmg_1x1_minimalSensorNumber {
    text-align:center;
}
.dmg_1x1_minimalSensorNumber .widget_value{
    font-size:1.4em;
    font-weight:bold;
}
.dmg_1x1_minimalSensorNumber .cell{
    display:table-cell;
    height:5em;
    vertical-align:middle;
}