@charset "UTF-8";
/* CSS Document */

.ui-accordion .ui-accordion-header {
	cursor: pointer; position: relative; margin-top: 1px;
	border: 1px solid #cccccc;
	background: #f6f6f6 url(../images/jquery/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	font-weight: bold; color: #1c94c4;
	-moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em;color: #1c94c4; text-decoration: none; }
.ui-accordion .ui-accordion-header:hover {
border: 1px solid #fbcb09; background: #fdf5ce url(../images/jquery/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405;	
}
.ui-accordion .ui-accordion-header.ui-state-active {
 color: #c77405;
 	-moz-border-radius: 0.4em 0.4em 0 0;
    -webkit-border-radius: 0.4em 0.4em 0 0;
	border-bottom:none;
}
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content {
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	 	-moz-border-radius: 0 0 0.4em 0.4em;
    -webkit-border-radius: 0 0 0.4em 0.4em;
	background-color:#f6f6f6 ;
	padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 0; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }