.dmg_4x2_communicationCallerId {    
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-color:#ffffff;
}

.dmg_4x2_communicationCallerId ul {
    font-size:1.2em;
    font-weight: bold;
    margin-left: 50px;
    overflow-y: auto;
    height:100%;
    border-left: 1px solid #cccccc;
}

.dmg_4x2_communicationCallerId li {
    padding:0.3em 0 0.3em 1em;
    border-bottom: 1px solid #cccccc;
    text-align:left;
}

.dmg_4x2_communicationCallerId li .date {
    font-size:0.8em;
    color:#004BB9;
    float:right;
    padding-right:1em;
}

.dmg_4x2_communicationCallerId .newbg {
    background:rgba(0,0,0,0.8);
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display:table-cell;
    vertical-align:middle;
}

.dmg_4x2_communicationCallerId .new {
    font-size:1.2em;
    border: 1px solid #cccccc;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    line-height:2em;
    width:13em;
    height:2em;
    text-align:center;
    background-color:#BDCB2F;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-image: url(images/phone_16.png);
    margin:auto;
}