====================
Domogik requirements
====================

What do you need to use Domogik
===============================

To run Domogik, you need to have :

* a computer
* a GNU/Linux distribution (Ubuntu, Debian, Archlinux, or others)

Then depending on your needs you will need some automation gateways (for x10, knx, ipx800 relayboards, 1wire, Zwave, ...)

I am a newbie in Linux world, what do I need to know ?
======================================================

First, you should use a distribution like Ubuntu. Then, you should first learn the Linux basements.


